// ↓↓↓ BEM-blocks: tug-of-war (start) ↓↓↓

.tug-of-war__wrapper
  .tug-of-war__img-holder
    img(src="img/bull1.png", alt="bull1.png")#bull1.tug-of-war__img
    img(src="img/bull2.png", alt="bull2.png")#bull2.tug-of-war__img
  .tug-of-war__indicator-wrapper
    .tug-of-war__indicator-holder
      .tug-of-war__indicator
        .tug-of-war__indicator-line
        .tug-of-war__indicator-line
    .tug-of-war__lightbulb
  .tug-of-war__img-holder
    img(src="img/bear1.png", alt="bear1.png")#bear1.tug-of-war__img
    img(src="img/bear2.png", alt="bear2.png")#bear2.tug-of-war__img

//- style
//-   include tug-of-war.css
//- скрипт перенесено в основний (myFirstHighstock.js), бо для його роботи потрібні дані масиву
//- script
  include ../minjs/tug-of-war/tug-of-war.js

// ↑↑↑ BEM-blocks: tug-of-war (end) ↑↑↑