@font-face {font-family: b; src: url(../fonts/BebasNeueBold.otf);}
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: rb; src: url(../fonts/Roboto-Bold.ttf);}
@font-face {font-family: rr; src: url(../fonts/Roboto-Regular.ttf);}