// ↓↓↓ BEM-blocks: form_authorization (start) ↓↓↓

//- style
//-   include form_authorization.css

.regform-wrapper
  form.regform(action='#', method='post', name='enter-form' style='max-width: 500px')

    .regform__column(style='width:100%; margin-right:0')

      label.regform__label(for='input-email') E-mail:
      .regform__input-wrapper
        input#input-email.regform__input(type='text', name='input-email', autocomplete='off' placeholder='Введите свою почту здесь')
      .regform__info.regform__info_error Введите корректный адрес

      label.regform__label(for='input-password') Пароль:
      .regform__input-wrapper
        input#input-password.regform__input.regform__input_pass(type='password', name='input-password' placeholder='Введите пароль')
        span.regform__show-hide-pass
          //- i.fas.fa-eye
          i.fas.fa-eye-slash
      .regform__info.regform__info_error Поле "пароль" не может быть пустым
      .regform__info.regform__info_error Не верный E-mail или пароль.

      .regform__checkbox-label-wrapper
        label.regform__checkbox-label
          span.regform__checkbox-span
            input(type='checkbox', name='yes', value='yes', checked='')
            span.regform__check-mark
              i.fas.fa-check
          span запомнить меня на 30 дней

      button.regform__btn#logIn(type='button') Войти

      a.regform__restore-pass-link(href='forgot_your_password.html') Восстановить пароль

      .regform__footer
        span Вы еще не клиент E-Tokens Trade?
        |
        |
        a.regform__link(href='registration.html') Откройте реальный счет

  // /SECTION right

//- script
//-   include ../minjs/form_authorization/form_authorization.js

// ↑↑↑ BEM-blocks: form_authorization (end) ↑↑↑