@font-face {font-family: ab; src: url(../fonts/ArialBold.ttf);}
@font-face {font-family: ar; src: url(../fonts/ArialRegular.ttf);}
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: osr; src: url(../fonts/open-sans.regular.ttf);}