// ↓↓↓ BEM-blocks: make-lodgement (start) ↓↓↓

.make-lodgement__positioning-wrapper
  .make-lodgement
    .make-lodgement__close-btn
      .make-lodgement__close-btn-line1
      .make-lodgement__close-btn-line2

    .make-lodgement__pay-system#pay-system1(data-currency-names='USD EUR RUB') Terminal 1
      i.far.fa-credit-card.make-lodgement__pay-img
    .make-lodgement__pay-system#pay-system2(data-currency-names='USD EUR') Terminal 2
      i.far.fa-credit-card.make-lodgement__pay-img
    .make-lodgement__pay-system#pay-system3(data-currency-names='USD EUR') Terminal 3
      i.far.fa-credit-card.make-lodgement__pay-img

    .make-lodgement__triangle

    .make-lodgement__pay-block

      form.make-lodgement__form(action='#' method='#' name='make-lodgement__form')
        .make-lodgement__agree
          input(type='checkbox')
          span Мне исполнилось 18 лет. Я ознакомлен с рисками и принимаю
            |
            |
            a(href='https://investingcase.com/terms_and_conditions.html') Условия и Соглашения
            |
            | компании.
        .make-lodgement__currency
          input#terminalId(type='hidden')
          input#currencyAmount(type='text')
          select(name='currency')
            //- option(value='USD') USD

          #make-lodgement-notBtn.popup-ok-btn
            i.fas.fa-sync-alt
          button#make-lodgement-btn.popup-ok-btn(type='button') оплатить

      .make-lodgement__info.validation-warning trololo

//- style
//-   include make-lodgement.css
//- script
//-   include ../minjs/popup-make-lodgement/make-lodgement.js

// ↑↑↑ BEM-blocks: make-lodgement (end) ↑↑↑