// ↓↓↓ BEM-blocks: menu-btn (start) ↓↓↓

.menu-btn-wrapper
  .menu-btn
    .menu-btn__1-line.menu-btn__line
    .menu-btn__2-line.menu-btn__line
    .menu-btn__3-line.menu-btn__line

style
  include menu-btn.css

script
  include ../minjs/menu-btn/menu-btn.js

// ↑↑↑ BEM-blocks: menu-btn (end) ↑↑↑