.menu-btn {
	width           : 24px;
	height          : 20px;
	position        : relative;
	cursor          : pointer;
}

.menu-btn__line {
	width           : 24px;
	height          : 2px;
	background-color: dodgerblue;
	position        : absolute;
}

.menu-btn__1-line {
	top             : 0px;
}

.menu-btn__2-line {
	top             : 9px;
}

.menu-btn__3-line {
	top             : 18px;
}