a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: "";
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: rcl;
    src: url('../fonts/RobotoCondensedLight.ttf')
}


@font-face {
    font-family: rb;
    src: url('../fonts/RobotoBold.ttf')
}

.size-info {
    width: 120px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    position: fixed;
    left: 3px;
    bottom: 21px;
    z-index: 100
}

.size-info-1 {
    z-index: 101
}

@media only screen and (min-width:320px) {
    .size-info-2 {
        z-index: 102
    }
}

@media only screen and (min-width:576px) {
    .size-info-3 {
        z-index: 103
    }
}

@media only screen and (min-width:768px) {
    .size-info-4 {
        z-index: 104
    }
}

@media only screen and (min-width:992px) {
    .size-info-5 {
        z-index: 105
    }
}

@media only screen and (min-width:1200px) {
    .size-info-6 {
        z-index: 106
    }
}

@media only screen and (min-width:1920px) {
    .size-info-7 {
        z-index: 107
    }
}

* {
    box-sizing: border-box
}

a,
a:hover {
    color: #000;
    text-decoration: none
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

@media only screen and (min-width:1200px) {
    body {
        width: 100vw;
        height: 105vh;
        overflow: hidden;
        background-color: #1d2a38;
        color: #fff;
        border: 2px solid #000;
        font-family: rcl;
        font-size: 16px
    }

    .header {
        width: 100%;
        height: 6%;
        border-bottom: 2px solid #000;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 15px
    }

        .header .logo_part {
            font-family: rb;
            font-size: 42px;
            color: gold
        }

        .header .central-part {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center
        }

        .header .central-part__account {
            width: 92px;
            margin: 0 20px
        }

        .header .central-part__currency-img {
            height: 20px;
            margin: 0 10px
        }

        .header .central-part__btn {
            height: 6vh;
            cursor: pointer;
            background-color: transparent;
            border: none;
            margin: 0 20px
        }

            .header .central-part__btn img {
                height: 100%
            }

        .header .right-part {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center
        }

            .header .right-part span {
                display: block;
                margin: 0 6px
            }

            .header .right-part .menu {
                position: absolute;
                z-index: 8777;
                top: 110%;
                width: 100%;
                background-color: #000;
                padding: 0;
                border: 0 solid #a9a9a9;
                overflow: hidden;
                height: 0
            }

                .header .right-part .menu .menu-list-a {
                    display: block;
                    color: #fff;
                    height: 30px;
                    width: 100%;
                    position: relative;
                    left: 100%;
                    line-height: 30px;
                    padding: 0 10px;
                    transition: background-color .5s;
                    cursor: pointer
                }

                    .header .right-part .menu .menu-list-a:hover {
                        background-color: #1d2a38;
                        transition: background-color .5s
                    }

    .main {
        width: 100%;
        height: 90%;
        display: -ms-flexbox;
        display: flex
    }

        .main .work_area {
            -ms-flex-order: 2;
            order: 2;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 60%;
            border-left: 2px solid #000;
            border-right: 2px solid #000;
            padding: 15px
        }

        .main .left-column {
            -ms-flex-order: 1;
            order: 1;
            -ms-flex-positive: 0;
            flex-grow: 0;
            width: 250px;
            padding: 15px 10px 10px 15px;
            overflow: hidden
        }

        .main .left-column__table-1-wrapper {
            height: 100%;
            overflow: hidden;
            position: relative
        }

        .main .left-column__table-2-wrapper {
            height: 100%;
            width: calc(100% + 20px);
            overflow: auto
        }

        .main .left-column__table tr {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center
        }

            .main .left-column__table tr td {
                padding: 4px
            }

        .main .left-column__table .img-pair {
            width: 30px;
            height: 30px;
            position: relative
        }

            .main .left-column__table .img-pair .img-pair-top {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0
            }

            .main .left-column__table .img-pair .img-pair-bottom {
                width: 20px;
                height: 20px;
                position: absolute;
                bottom: 0;
                right: 0
            }

        .main .right-column {
            -ms-flex-order: 3;
            order: 3;
            -ms-flex-positive: 0;
            flex-grow: 0;
            width: 250px;
            padding: 15px 15px 10px
        }

            .main .right-column .work-field {
                position: relative;
                height: calc(100% - 3*24px - 4*6px - 15px - 10px);
                overflow: hidden
            }

                .main .right-column .work-field .act-btn-field {
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%
                }

                    .main .right-column .work-field .act-btn-field .img-pair {
                        width: 50px;
                        height: 50px;
                        position: relative;
                        margin: 0 auto
                    }

                        .main .right-column .work-field .act-btn-field .img-pair .img-pair-top {
                            width: 35px;
                            height: 35px;
                            position: absolute;
                            top: 0;
                            left: 0
                        }

                        .main .right-column .work-field .act-btn-field .img-pair .img-pair-bottom {
                            width: 35px;
                            height: 35px;
                            position: absolute;
                            bottom: 0;
                            right: 0
                        }

                    .main .right-column .work-field .act-btn-field .currency-price {
                        text-align: center;
                        margin: 10px auto
                    }

                    .main .right-column .work-field .act-btn-field .comission {
                        text-align: center
                    }

                        .main .right-column .work-field .act-btn-field .comission span {
                            display: inline-block;
                            margin: 10px
                        }

                    .main .right-column .work-field .act-btn-field .btns-holder {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        margin: 10px auto
                    }

                        .main .right-column .work-field .act-btn-field .btns-holder .btn-bue,
                        .main .right-column .work-field .act-btn-field .btns-holder .btn-cell,
                        .main .right-column .work-field .act-btn-field .btns-holder .some-btn-class {
                            width: 45%;
                            height: 40px;
                            line-height: 16px;
                            padding-top: 4px;
                            position: relative;
                            z-index: 1;
                            border-radius: 4px;
                            text-align: center;
                            letter-spacing: 4px;
                            cursor: pointer
                        }

                            .main .right-column .work-field .act-btn-field .btns-holder .btn-bue:before,
                            .main .right-column .work-field .act-btn-field .btns-holder .btn-cell:before,
                            .main .right-column .work-field .act-btn-field .btns-holder .some-btn-class:before {
                                content: "";
                                display: block;
                                height: 100%;
                                width: 100%;
                                border-radius: inherit;
                                position: absolute;
                                z-index: -1;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: opacity 1s
                            }

                            .main .right-column .work-field .act-btn-field .btns-holder .btn-bue:hover:before,
                            .main .right-column .work-field .act-btn-field .btns-holder .btn-cell:hover:before,
                            .main .right-column .work-field .act-btn-field .btns-holder .some-btn-class:hover:before {
                                opacity: 1
                            }

                            .main .right-column .work-field .act-btn-field .btns-holder .btn-bue span,
                            .main .right-column .work-field .act-btn-field .btns-holder .btn-cell span,
                            .main .right-column .work-field .act-btn-field .btns-holder .some-btn-class span {
                                display: block;
                                font-size: 12px;
                                letter-spacing: 1px
                            }

                        .main .right-column .work-field .act-btn-field .btns-holder .btn-bue {
                            background: linear-gradient(tomato, orange)
                        }

                            .main .right-column .work-field .act-btn-field .btns-holder .btn-bue:before {
                                background: linear-gradient(orange, red)
                            }

                        .main .right-column .work-field .act-btn-field .btns-holder .btn-cell {
                            background: linear-gradient(teal, #4682b4)
                        }

                            .main .right-column .work-field .act-btn-field .btns-holder .btn-cell:before {
                                background: linear-gradient(#6495ed, #00008b)
                            }

                    .main .right-column .work-field .act-btn-field .settings {
                        text-align: center
                    }

                    .main .right-column .work-field .act-btn-field .setting-input-label {
                        display: block;
                        margin: 0 auto;
                        width: 164px
                    }

                        .main .right-column .work-field .act-btn-field .setting-input-label span {
                            display: inline-block;
                            width: 20px
                        }

                    .main .right-column .work-field .act-btn-field .setting-input {
                        width: 140px;
                        height: 24px;
                        margin: 4px auto;
                        outline: none;
                        font-family: rcl;
                        font-size: 16px;
                        color: #000;
                        opacity: 1;
                        border: none;
                        padding-left: 10px
                    }

                .main .right-column .work-field .active-btn-field {
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    overflow: hidden
                }

                    .main .right-column .work-field .active-btn-field .accordion-wrapper {
                        height: 100%;
                        overflow-y: scroll;
                        padding-right: 4px;
                        width: calc(100% + 20px)
                    }

                .main .right-column .work-field .history-btn-field {
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                    width: 100%
                }

            .main .right-column .work-change-btn {
                background-color: #1e90ff;
                border: 1px solid #1e90ff;
                border-radius: 4px;
                margin: 6px auto;
                padding: 6px;
                text-align: center;
                cursor: pointer;
                transition: background-color .5s, border-color .5s
            }

                .main .right-column .work-change-btn:hover,
                .main .right-column .work-change-btn_active {
                    background-color: #1d2a38;
                    border-color: #fff
                }

            .main .right-column .accordion .accordion-elem {
                width: 100%;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-align: center;
                align-items: center
            }

            .main .right-column .accordion .accordion-elem__img-pair {
                width: 30px;
                height: 30px;
                position: relative
            }

                .main .right-column .accordion .accordion-elem__img-pair .img-pair-top {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0
                }

                .main .right-column .accordion .accordion-elem__img-pair .img-pair-bottom {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 0;
                    right: 0
                }

            .main .right-column .accordion .accordion-elem__btn .accordion-btn {
                width: 26px;
                height: 26px;
                background-color: #1e90ff;
                border: 1px solid #1e90ff;
                border-radius: 6px;
                position: relative;
                z-index: 1;
                top: -2px;
                cursor: pointer;
                transition: background-color .5s, border-color .5s
            }

                .main .right-column .accordion .accordion-elem__btn .accordion-btn:hover {
                    background-color: #1d2a38;
                    border-color: #fff
                }

            .main .right-column .accordion .accordion-elem__btn .accordion-btn__1-line {
                height: 16px;
                width: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff
            }

            .main .right-column .accordion .accordion-elem__btn .accordion-btn__2-line {
                height: 2px;
                width: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff
            }

            .main .right-column .accordion .accordion-elem__btn .accordion-btn_active {
                background-color: #1d2a38;
                border-color: #fff
            }

            .main .right-column .accordion .accordion-content {
                width: 100%;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                overflow: hidden;
                border-top: 0 solid #fff;
                border-bottom: 0 solid #fff;
                height: 0
            }

            .main .right-column .accordion .accordion-content__data,
            .main .right-column .accordion .accordion-content__value {
                width: 50%;
                height: 26px;
                line-height: 26px
            }

            .main .right-column .accordion .accordion-content__btn {
                background-color: #1e90ff;
                color: #fff;
                border: 1px solid #1e90ff;
                border-radius: 4px;
                margin: 0 0 6px auto;
                padding: 0 10px;
                height: 24px;
                text-align: center;
                cursor: pointer;
                transition: background-color .5s, border-color .5s
            }

                .main .right-column .accordion .accordion-content__btn:hover {
                    background-color: #1d2a38;
                    border-color: #fff
                }
}

.language-switcher {
    position: relative;
    z-index: 8666;
    width: 32px;
    height: 24px;
    cursor: pointer
}

.language-switcher__flag-container {
    position: absolute;
    z-index: 8666;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
    overflow: hidden
}

.language-switcher__btn {
    display: block;
    color: #1e90ff;
    border: none;
    background-color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    transition: color .5s
}

.language-switcher__btn,
.language-switcher__flag-en {
    background-color: rgb(29, 42, 56);
    position: relative;
    z-index: 8666;
    width: 32px;
    height: 24px;
    cursor: pointer
}

.language-switcher__flag-en {
    background: url('img/language-switcher.jpg') -452px -252px ;
}

.language-switcher__flag-ru {
    position: relative;
    z-index: 8666;
    width: 32px;
    height: 24px;
    background: url('img/language-switcher.jpg') -377px -393px;
    cursor: pointer
}

.menu-btn {
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer
}

.menu-btn__line {
    width: 24px;
    height: 2px;
    background-color: #1e90ff;
    position: absolute
}

.menu-btn__1-line {
    top: 0
}

.menu-btn__2-line {
    top: 9px
}

.menu-btn__3-line {
    top: 18px
}

.investment {
    width: 140px;
    height: 24px;
    display: block;
    margin: 10px auto;
    outline: none;
    font-family: rcl;
    font-size: 16px;
    color: #000;
    opacity: 1;
    border: none;
    padding-left: 10px
}

    .investment::-webkit-input-placeholder {
        color: #000;
        opacity: 1
    }

    .investment:-ms-input-placeholder,
    .investment::-ms-input-placeholder {
        color: #000;
        opacity: 1
    }

    .investment::placeholder {
        color: #000;
        opacity: 1
    }

.shoulder {
    margin: 10px auto;
    width: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.shoulder__name {
    display: block
}

.onoff-switcher {
    position: relative;
    width: 70px;
    height: 18px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #fff;
    color: #1e90ff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

    .onoff-switcher span {
        display: block;
        cursor: default
    }

.onoff-switcher__thumb {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #d3d3d3;
    width: 35px;
    height: 18px;
    border-radius: 4px
}

.onoff-switcher__thumb-line {
    width: 1px;
    height: 10px;
    background-color: #1d2a38;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.onoff-switcher__thumb-line-1 {
    left: 35%
}

.onoff-switcher__thumb-line-2 {
    left: 50%
}

.onoff-switcher__thumb-line-3 {
    left: 65%
}

.shoulder__body {
    height: 0;
    overflow: hidden
}

    .shoulder__body .shoulder__line {
        height: 30px;
        width: 140px;
        margin: 0 auto;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 3px
    }

        .shoulder__body .shoulder__line .shoulder__subline {
            width: 33.33%;
            height: 4px;
            background-color: hsla(0, 0%, 100%, .1)
        }

        .shoulder__body .shoulder__line .shoulder__subline_active {
            background-color: #fff
        }

        .shoulder__body .shoulder__line .shoulder__round,
        .shoulder__body .shoulder__line .shoulder__round1,
        .shoulder__body .shoulder__line .shoulder__round2,
        .shoulder__body .shoulder__line .shoulder__round3,
        .shoulder__body .shoulder__line .shoulder__round4 {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: hsla(0, 0%, 100%, .4);
            position: absolute;
            top: 0;
            cursor: pointer
        }

            .shoulder__body .shoulder__line .shoulder__round1:after,
            .shoulder__body .shoulder__line .shoulder__round2:after,
            .shoulder__body .shoulder__line .shoulder__round3:after,
            .shoulder__body .shoulder__line .shoulder__round4:after,
            .shoulder__body .shoulder__line .shoulder__round:after {
                display: block;
                font-size: 12px;
                color: hsla(0, 0%, 100%, .4);
                position: absolute;
                bottom: -22px;
                left: 50%;
                transform: translate(-50%)
            }

        .shoulder__body .shoulder__line .shoulder__round_active {
            background-color: #fff;
            border: 1px solid #000
        }

            .shoulder__body .shoulder__line .shoulder__round_active:after {
                color: #fff
            }

            .shoulder__body .shoulder__line .shoulder__round_active:before {
                content: "";
                display: block;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #000;
                position: absolute;
                top: calc(50% - 1px);
                left: calc(50% - 1px)
            }

        .shoulder__body .shoulder__line .shoulder__round_sub-active {
            background-color: #fff
        }

            .shoulder__body .shoulder__line .shoulder__round_sub-active:after {
                color: hsla(0, 0%, 100%, .4)
            }

        .shoulder__body .shoulder__line .shoulder__round1 {
            left: 0
        }

            .shoulder__body .shoulder__line .shoulder__round1:after {
                content: "50"
            }

        .shoulder__body .shoulder__line .shoulder__round2 {
            left: 42px
        }

            .shoulder__body .shoulder__line .shoulder__round2:after {
                content: "100"
            }

        .shoulder__body .shoulder__line .shoulder__round3 {
            left: 87px
        }

            .shoulder__body .shoulder__line .shoulder__round3:after {
                content: "150"
            }

        .shoulder__body .shoulder__line .shoulder__round4 {
            left: 130px
        }

            .shoulder__body .shoulder__line .shoulder__round4:after {
                content: "200"
            }

    .shoulder__body .investment-result {
        width: 140px;
        height: 24px;
        line-height: 24px;
        background-color: #fff;
        outline: none;
        font-family: rcl;
        font-size: 16px;
        color: #000;
        opacity: 1;
        border: none;
        padding-left: 10px;
        margin: 10px auto
    }

.simple-switcher {
    position: relative;
    margin: 0 auto;
    width: 70px;
    height: 18px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #fff;
    color: #1e90ff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

    .simple-switcher span {
        display: block;
        cursor: default
    }

.simple-switcher__thumb {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #d3d3d3;
    width: 35px;
    height: 18px;
    border-radius: 4px
}

.simple-switcher__thumb-line {
    width: 1px;
    height: 10px;
    background-color: #1d2a38;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.simple-switcher__thumb-line-1 {
    left: 35%
}

.simple-switcher__thumb-line-2 {
    left: 50%
}

.simple-switcher__thumb-line-3 {
    left: 65%
}

.bue-cell-ok-info {
    width: 120px;
    height: 20px;
    background-color: #1d2a38;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px #fff;
    padding: 26px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden
}

.bue-cell-ok-info__close-btn {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer
}

.bue-cell-ok-info__close-btn-line1,
.bue-cell-ok-info__close-btn-line2 {
    width: 0;
    height: 2px;
    background-color: #1e90ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg)
}

.bue-cell-ok-info__close-btn-line2 {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.bue-cell-ok-info__info-string {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s
}

.bue-cell-ok-info__close-btn-ok {
    height: 30px;
    width: 100px;
    line-height: 30px;
    background-color: #1e90ff;
    border: 1px solid #1e90ff;
    font-family: rcl;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%);
    transition: border-color .5s, background-color .5s, bottom .5s
}

    .bue-cell-ok-info__close-btn-ok:hover,
    .make-lodgement {
        border: 1px solid #fff;
        background-color: #1d2a38
    }

.make-lodgement {
    width: 120px;
    height: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px #fff;
    padding: 26px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden
}

.make-lodgement__close-btn {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer
}

.make-lodgement__close-btn-line1,
.make-lodgement__close-btn-line2 {
    width: 0;
    height: 2px;
    background-color: #1e90ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg)
}

.make-lodgement__close-btn-line2 {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.make-lodgement__pay-system {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
    display: none
}

    .make-lodgement__pay-system:nth-of-type(odd) {
        left: -110%
    }

    .make-lodgement__pay-system:nth-of-type(2n) {
        left: 110%
    }

    .make-lodgement__pay-system:hover {
        padding-left: 50px;
        letter-spacing: 6px
    }

.make-lodgement__pay-img {
    height: 30px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px
}

.make-lodgement__triangle {
    border-right: 12px solid red;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 74px;
    right: -12px
}

.make-lodgement__pay-block form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    overflow: hidden;
    height: 0
}

    .make-lodgement__pay-block form input {
        height: 30px;
        border: 1px solid #1d2a38;
        font-family: rcl;
        font-size: 16px;
        padding-left: 6px;
        margin-bottom: 10px
    }

    .make-lodgement__pay-block form button {
        height: 30px;
        line-height: 30px;
        background-color: #1e90ff;
        border: 1px solid #1d2a38;
        font-family: rcl;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        margin-bottom: 10px
    }
