//style
  include bue-cell-ok-info.css
script
  include bue-cell-ok-info.js
.bue-cell-ok-info__positioning-wrapper
  .bue-cell-ok-info
    .bue-cell-ok-info__close-btn
      .bue-cell-ok-info__close-btn-line1
      .bue-cell-ok-info__close-btn-line2
    p.bue-cell-ok-info__info-string some info string some info string
    button.bue-cell-ok-info__close-btn-ok OK
