// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓

.simple-switcher__positioning-wrapper
  .simple-switcher
    span.simple-switcher__real real
    span.simple-switcher__demo demo
    .simple-switcher__thumb
      .simple-switcher__thumb-line.simple-switcher__thumb-line-1
      .simple-switcher__thumb-line.simple-switcher__thumb-line-2
      .simple-switcher__thumb-line.simple-switcher__thumb-line-3

//- style
//-   include simple-switcher.css

//- script
//-   include ../minjs/simple-switcher/simple-switcher.js

// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑