.call-us-btn
  img(class="call-us-btn__girl" src="img/call-us-btn-girl.png", alt="call-us-btn-girl.png")
  h4(class="call-us-btn__header") Позвонить нам прямо сейчас:
  a(class="call-us-btn__link" title="Позвонить на Skype" href="skype:echo123?call")
    img(class="call-us-btn__img" src="img/call-us-btn-skype.png", alt="img/call-us-skype.png")
  a(class="call-us-btn__link" title="Позвонить на Telegram" href="tg://resolve?domain=username")
    img(class="call-us-btn__img" src="img/call-us-btn-telegram.png", alt="img/call-us-telegram.png")
  button(class="call-us-btn__close")
    i(class="fas fa-times")