html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}@font-face{font-family:fa;src:url(../fonts/fa-solid-900.ttf)}@font-face{font-family:rcl;src:url(../fonts/RobotoCondensedLight.ttf)}@font-face{font-family:rl;src:url(../fonts/RobotoLight.ttf)}@font-face{font-family:rm;src:url(../fonts/RobotoMedium.ttf)}.size-info{width:120px;height:30px;background-color:#000;color:#fff;font-size:12px;line-height:30px;text-align:center;-webkit-border-radius:6px;border-radius:6px;position:fixed;left:3px;bottom:21px;z-index:100}.size-info-1{z-index:101}@media only screen and (min-width:320px){.size-info-2{z-index:102}}@media only screen and (min-width:576px){.size-info-3{z-index:103}}@media only screen and (min-width:768px){.size-info-4{z-index:104}}@media only screen and (min-width:992px){.size-info-5{z-index:105}}@media only screen and (min-width:1200px){.size-info-6{z-index:106}}@media only screen and (min-width:1920px){.size-info-7{z-index:107}}*{-webkit-box-sizing:border-box;box-sizing:border-box}a,a:hover{color:#000;text-decoration:none}.clearfix::after{content:"";display:table;clear:both}@media only screen and (min-width:320px){.form-wrapper{width:90%;max-width:1000px;margin:15px auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.form-wrapper .section-left{width:100%;padding:15px 30px}.form-wrapper .section-left .section-header{font:24px rl;color:grey}.form-wrapper .section-left .enter-form input[type='text'],.form-wrapper .section-left .enter-form input[type='password']{display:block;width:100%;height:40px;margin:10px auto;padding:0 40px 0 10px;font:16px rl;border:1px solid #d3d3d3}.form-wrapper .section-left .enter-form input[type='text']::-webkit-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-webkit-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::-moz-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-moz-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']:-ms-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']:-ms-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::-ms-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-ms-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::placeholder,.form-wrapper .section-left .enter-form input[type='password']::placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form .password-wrapper{position:relative}.form-wrapper .section-left .enter-form .password-wrapper svg{color:red;font-size:20px;cursor:pointer;position:absolute;top:50%;right:10px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}.form-wrapper .section-left .enter-form #instead-input{display:none}.form-wrapper .section-left .enter-form .checkbox-label{display:inline-block;width:300px;height:20px}.form-wrapper .section-left .enter-form .checkbox-label .checkbox-span{display:inline-block;width:20px;height:20px;border:1px solid #d3d3d3;position:relative;overflow:hidden}.form-wrapper .section-left .enter-form .checkbox-label input[type="checkbox"]{position:absolute;top:-100%}.form-wrapper .section-left .enter-form input[type="checkbox"] + span{display:none}.form-wrapper .section-left .enter-form input[type="checkbox"] + span svg{color:#23cd45}.form-wrapper .section-left .enter-form input[type="checkbox"]:checked + span{display:block}.form-wrapper .section-left .enter-form .remember-span{font:16px rl;color:grey;position:relative;top:-3px}.form-wrapper .section-left .enter-form button[type='submit']{display:inline-block;margin:10px 3% 0 0;width:50%;height:60px;cursor:pointer;background-color:#ff1f26;border:none;font:22px rm;color:#fff;-webkit-border-radius:6px;border-radius:6px;-webkit-transition:background-color .5s;-o-transition:background-color .5s;transition:background-color .5s}.form-wrapper .section-left .enter-form button[type='submit']:hover{background-color:#df0d06}.form-wrapper .section-left .enter-form .restore-pas-wrapper{display:inline-block;height:60px;width:45%;position:relative;top:10px;left:0;text-align:right}.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas{font:18px rcl;color:#1e90ff;border-bottom:1px solid #ed1c24;-webkit-transition:border-bottom-color .5s;-o-transition:border-bottom-color .5s;transition:border-bottom-color .5s}.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas:hover{border-bottom-color:transparent}.form-wrapper .section-right{width:100%;padding:15px 30px;text-align:center}.form-wrapper .section-right .section-header{font:24px rl}.form-wrapper .section-right .create-acc{display:block;margin:30px auto;width:100%;height:70px;font:22px/70px rm;-webkit-border-radius:6px;border-radius:6px;background-color:#23cd45;color:#fff;-webkit-transition:background-color .5s;-o-transition:background-color .5s;transition:background-color .5s}.form-wrapper .section-right .create-acc:hover{background-color:#03ad25}.form-wrapper .section-right span{font-family:rm;color:grey}.form-wrapper .section-right span .try-acc{font:12px rl;text-decoration:underline;color:grey}.form-wrapper .section-right span .try-acc:hover{text-decoration:none}}@media only screen and (min-width:768px){.form-wrapper{width:90%;max-width:1000px;margin:15px auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.form-wrapper .section-left{width:50%;height:100%;border-right:1px solid #d3d3d3;padding:0 30px}.form-wrapper .section-left .section-header{font:40px rl;color:grey}.form-wrapper .section-left .enter-form input[type='text'],.form-wrapper .section-left .enter-form input[type='password']{display:block;width:100%;height:40px;margin:10px auto;padding:0 40px 0 10px;font:16px rl;border:1px solid #d3d3d3}.form-wrapper .section-left .enter-form input[type='text']::-webkit-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-webkit-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::-moz-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-moz-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']:-ms-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']:-ms-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::-ms-input-placeholder,.form-wrapper .section-left .enter-form input[type='password']::-ms-input-placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form input[type='text']::placeholder,.form-wrapper .section-left .enter-form input[type='password']::placeholder{font:16px/40px rl}.form-wrapper .section-left .enter-form .password-wrapper{position:relative}.form-wrapper .section-left .enter-form .password-wrapper svg{color:red;font-size:20px;cursor:pointer;position:absolute;top:50%;right:10px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}.form-wrapper .section-left .enter-form #instead-input{display:none}.form-wrapper .section-left .enter-form .checkbox-label{display:inline-block;width:300px;height:20px}.form-wrapper .section-left .enter-form .checkbox-label .checkbox-span{display:inline-block;width:20px;height:20px;border:1px solid #d3d3d3;position:relative;overflow:hidden}.form-wrapper .section-left .enter-form .checkbox-label input[type="checkbox"]{position:absolute;top:-100%}.form-wrapper .section-left .enter-form input[type="checkbox"] + span{display:none}.form-wrapper .section-left .enter-form input[type="checkbox"] + span svg{color:#23cd45}.form-wrapper .section-left .enter-form input[type="checkbox"]:checked + span{display:block}.form-wrapper .section-left .enter-form .remember-span{font:16px rl;color:grey;position:relative;top:-3px}.form-wrapper .section-left .enter-form button[type='submit']{display:inline-block;margin:10px 3% 0 0;width:60%;height:60px;cursor:pointer;background-color:#ff1f26;border:none;font:22px rm;color:#fff;-webkit-border-radius:6px;border-radius:6px;-webkit-transition:background-color .5s;-o-transition:background-color .5s;transition:background-color .5s}.form-wrapper .section-left .enter-form button[type='submit']:hover{background-color:#df0d06}.form-wrapper .section-left .enter-form .restore-pas-wrapper{display:inline-block;height:60px;width:35%;position:relative;top:10px;left:10px;text-align:right}.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas{font:18px rcl;color:#1e90ff;border-bottom:1px solid #ed1c24;-webkit-transition:border-bottom-color .5s;-o-transition:border-bottom-color .5s;transition:border-bottom-color .5s}.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas:hover{border-bottom-color:transparent}.form-wrapper .section-right{width:50%;padding:0 30px;text-align:center}.form-wrapper .section-right .section-header{font:32px rl}.form-wrapper .section-right .create-acc{display:block;margin:30px auto;width:320px;height:70px;font:22px/70px rm;-webkit-border-radius:6px;border-radius:6px;background-color:#23cd45;color:#fff;-webkit-transition:background-color .5s;-o-transition:background-color .5s;transition:background-color .5s}.form-wrapper .section-right .create-acc:hover{background-color:#03ad25}.form-wrapper .section-right span{font-family:rm;color:grey}.form-wrapper .section-right span .try-acc{font:12px rl;text-decoration:underline;color:grey}.form-wrapper .section-right span .try-acc:hover{text-decoration:none}}html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: fa;
    src: url(../fonts/fa-solid-900.ttf);
}
@font-face {
    font-family: rcl;
    src: url(../fonts/RobotoCondensedLight.ttf);
}
@font-face {
    font-family: rl;
    src: url(../fonts/RobotoLight.ttf);
}
@font-face {
    font-family: rm;
    src: url(../fonts/RobotoMedium.ttf);
}
.size-info {
    width: 120px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: fixed;
    left: 3px;
    bottom: 21px;
    z-index: 100;
}
.size-info-1 {
    z-index: 101;
}
@media only screen and (min-width:320px) {
    .size-info-2 {
    z-index: 102;
}
}@media only screen and (min-width:576px) {
    .size-info-3 {
    z-index: 103;
}
}@media only screen and (min-width:768px) {
    .size-info-4 {
    z-index: 104;
}
}@media only screen and (min-width:992px) {
    .size-info-5 {
    z-index: 105;
}
}@media only screen and (min-width:1200px) {
    .size-info-6 {
    z-index: 106;
}
}@media only screen and (min-width:1920px) {
    .size-info-7 {
    z-index: 107;
}
}* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {
    color: #000;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (min-width:320px) {
    .form-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 15px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-wrapper .section-left {
    width: 100%;
    padding: 15px 30px;
}
.form-wrapper .section-left .section-header {
    font: 24px rl;
    color: grey;
}
.form-wrapper .section-left .enter-form input[type='text'], .form-wrapper .section-left .enter-form input[type='password'] {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    padding: 0 40px 0 10px;
    font: 16px rl;
    border: 1px solid #d3d3d3;
}
.form-wrapper .section-left .enter-form input[type='text']::-webkit-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-webkit-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::-moz-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-moz-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']:-ms-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']:-ms-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::-ms-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-ms-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::placeholder, .form-wrapper .section-left .enter-form input[type='password']::placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form .password-wrapper {
    position: relative;
}
.form-wrapper .section-left .enter-form .password-wrapper svg {
    color: red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.form-wrapper .section-left .enter-form #instead-input {
    display: none;
}
.form-wrapper .section-left .enter-form .checkbox-label {
    display: inline-block;
    width: 300px;
    height: 20px;
}
.form-wrapper .section-left .enter-form .checkbox-label .checkbox-span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}
.form-wrapper .section-left .enter-form .checkbox-label input[type="checkbox"] {
    position: absolute;
    top: -100%}
.form-wrapper .section-left .enter-form input[type="checkbox"] + span {
    display: none;
}
.form-wrapper .section-left .enter-form input[type="checkbox"] + span svg {
    color: #23cd45;
}
.form-wrapper .section-left .enter-form input[type="checkbox"]:checked + span {
    display: block;
}
.form-wrapper .section-left .enter-form .remember-span {
    font: 16px rl;
    color: grey;
    position: relative;
    top: -3px;
}
.form-wrapper .section-left .enter-form button[type='submit'] {
    display: inline-block;
    margin: 10px 3% 0 0;
    width: 50%;
    height: 60px;
    cursor: pointer;
    background-color: #ff1f26;
    border: none;
    font: 22px rm;
    color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.form-wrapper .section-left .enter-form button[type='submit']:hover {
    background-color: #df0d06;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper {
    display: inline-block;
    height: 60px;
    width: 45%;
    position: relative;
    top: 10px;
    left: 0;
    text-align: right;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas {
    font: 18px rcl;
    color: #1e90ff;
    border-bottom: 1px solid #ed1c24;
    -webkit-transition: border-bottom-color .5s;
    -o-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas:hover {
    border-bottom-color: transparent;
}
.form-wrapper .section-right {
    width: 100%;
    padding: 15px 30px;
    text-align: center;
}
.form-wrapper .section-right .section-header {
    font: 24px rl;
}
.form-wrapper .section-right .create-acc {
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 70px;
    font: 22px/70px rm;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #23cd45;
    color: #fff;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.form-wrapper .section-right .create-acc:hover {
    background-color: #03ad25;
}
.form-wrapper .section-right span {
    font-family: rm;
    color: grey;
}
.form-wrapper .section-right span .try-acc {
    font: 12px rl;
    text-decoration: underline;
    color: grey;
}
.form-wrapper .section-right span .try-acc:hover {
    text-decoration: none;
}
}@media only screen and (min-width:768px) {
    .form-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 15px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-wrapper .section-left {
    width: 50%;
    height: 100%;
    border-right: 1px solid #d3d3d3;
    padding: 0 30px;
}
.form-wrapper .section-left .section-header {
    font: 40px rl;
    color: grey;
}
.form-wrapper .section-left .enter-form input[type='text'], .form-wrapper .section-left .enter-form input[type='password'] {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    padding: 0 40px 0 10px;
    font: 16px rl;
    border: 1px solid #d3d3d3;
}
.form-wrapper .section-left .enter-form input[type='text']::-webkit-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-webkit-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::-moz-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-moz-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']:-ms-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']:-ms-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::-ms-input-placeholder, .form-wrapper .section-left .enter-form input[type='password']::-ms-input-placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form input[type='text']::placeholder, .form-wrapper .section-left .enter-form input[type='password']::placeholder {
    font: 16px/40px rl;
}
.form-wrapper .section-left .enter-form .password-wrapper {
    position: relative;
}
.form-wrapper .section-left .enter-form .password-wrapper svg {
    color: red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.form-wrapper .section-left .enter-form #instead-input {
    display: none;
}
.form-wrapper .section-left .enter-form .checkbox-label {
    display: inline-block;
    width: 300px;
    height: 20px;
}
.form-wrapper .section-left .enter-form .checkbox-label .checkbox-span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}
.form-wrapper .section-left .enter-form .checkbox-label input[type="checkbox"] {
    position: absolute;
    top: -100%}
.form-wrapper .section-left .enter-form input[type="checkbox"] + span {
    display: none;
}
.form-wrapper .section-left .enter-form input[type="checkbox"] + span svg {
    color: #23cd45;
}
.form-wrapper .section-left .enter-form input[type="checkbox"]:checked + span {
    display: block;
}
.form-wrapper .section-left .enter-form .remember-span {
    font: 16px rl;
    color: grey;
    position: relative;
    top: -3px;
}
.form-wrapper .section-left .enter-form button[type='submit'] {
    display: inline-block;
    margin: 10px 3% 0 0;
    width: 60%;
    height: 60px;
    cursor: pointer;
    background-color: #ff1f26;
    border: none;
    font: 22px rm;
    color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.form-wrapper .section-left .enter-form button[type='submit']:hover {
    background-color: #df0d06;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper {
    display: inline-block;
    height: 60px;
    width: 35%;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: right;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas {
    font: 18px rcl;
    color: #1e90ff;
    border-bottom: 1px solid #ed1c24;
    -webkit-transition: border-bottom-color .5s;
    -o-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}
.form-wrapper .section-left .enter-form .restore-pas-wrapper .restore-pas:hover {
    border-bottom-color: transparent;
}
.form-wrapper .section-right {
    width: 50%;
    padding: 0 30px;
    text-align: center;
}
.form-wrapper .section-right .section-header {
    font: 32px rl;
}
.form-wrapper .section-right .create-acc {
    display: block;
    margin: 30px auto;
    width: 320px;
    height: 70px;
    font: 22px/70px rm;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #23cd45;
    color: #fff;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.form-wrapper .section-right .create-acc:hover {
    background-color: #03ad25;
}
.form-wrapper .section-right span {
    font-family: rm;
    color: grey;
}
.form-wrapper .section-right span .try-acc {
    font: 12px rl;
    text-decoration: underline;
    color: grey;
}
.form-wrapper .section-right span .try-acc:hover {
    text-decoration: none;
}
}