.size-info {
  width: 120px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  position: fixed;
    left: 3px;
    bottom: 21px;
    z-index: 100;
}
.size-info-1 {z-index: 101}
@media only screen and (min-width: 320px) {.size-info-2 {z-index: 102}}
@media only screen and (min-width: 576px) {.size-info-3 {z-index: 103}}
@media only screen and (min-width: 768px) {.size-info-4 {z-index: 104}}
@media only screen and (min-width: 992px) {.size-info-5 {z-index: 105}}
@media only screen and (min-width: 1200px) {.size-info-6 {z-index: 106}}
@media only screen and (min-width: 1920px) {.size-info-7 {z-index: 107}}