@media only screen and (min-width: 320px) {
	.contact-form {
		&__inner {
			display              : grid;
			grid-template-columns: 1fr;
			grid-gap             : 15px;
			margin-bottom        : 40px;
		}
		&__input {
			display              : block;
	    margin               : 0 auto 15px;
	    width                : 100%;
	    height               : 40px;
	    line-height          : 40px;
	    padding              : 0 10px;
	    font-family          : rl;
	    font-size            : 16px;
	    // &:last-of-type {
	    // 	margin-bottom      : 0;
	    // }
		}
		&__textarea {
			min-width            : 100%;
			min-height           : 100%;
			font-family          : rl;
			padding              : 10px;
		}
		&__btn {
			display              : block;
			margin               : 10px auto;
			padding              : 6px 12px;
			background-color     : #34965b;
			border               : 1px solid transparent;
		}
	  &__info-field {
	    height               : 0px;
	    line-height          : 30px;
	    font-family          : rl;
	    font-size            : 12px;
	    padding              : 0 10px;
	    //margin: 2px 0 6px;
	    border-left          : 3px solid red;
	    background-color     : rgba(255,0,0,.1);
	    overflow             : hidden;
	  }
	}
}

@media only screen and (min-width: 768px) {
	.contact-form {
		&__inner {
			grid-template-columns: 1fr 2fr;
		}
	}
}