@font-face {font-family: fptb; src: url(FuturaPT-Book.ttf);}
* {
  box-sizing: border-box;
}
body {
  margin                : 0;
  width                 : 100vw;
  height                : 100vh;
  overflow              : hidden;
  padding               : 15px;
  background            : linear-gradient(black, darkBlue);
  color                 :  white;
}
.team-cards-wrapper {
  height                : calc(100vh - 30px - 40px);
  overflow              : hidden;
  display               : grid;
  grid-template-columns : 1fr 1fr;
  grid-gap              : 15px;
}
.team-card {
  border                : 1px solid grey;
  border-radius         : 4px;
  height                : 100%;
}
.team-name {
  display               : flex;
  justify-content       : center;
  align-items           : center;
  margin                : 0;
  padding               : 10px 0;
  height                : 90px;
  font                  : 60px fptb;
  font-weight           : 700;
  text-shadow           : 3px 3px 5px grey;
  color                 : orange;
}
.logo-wrapper {
  height                : 50px;
  width                 : 50px;
  background-color      : white;
  border                : 1px solid transparent;
  border-radius         :  50%;
  display               : flex;
  overflow              : hidden;
}
.logo {
  height                : 40px;
  max-width             : 40px;
  margin                : auto;
}
.cup {
  height                : 80px;
  max-width             : 80px;
}
.team-name span:first-of-type {
  margin                : 0 15px;
}
.team-members {
  height                : calc(100% - 90px);
  display               : flex;
  flex-wrap             : wrap;
  font                  : 45px fptb;
  padding               : 0;
}
.team-member:nth-of-type(1) .team-member__nam,
.team-member:nth-of-type(2) .team-member__nam,
.team-member:nth-of-type(3) .team-member__nam {
  color                 : #23cd45;
}
.team-member:nth-last-of-type(1) .team-member__nam,
.team-member:nth-last-of-type(2) .team-member__nam,
.team-member:nth-last-of-type(3) .team-member__nam {
  color                 : red;
}
.team-member__nam {
  flex-grow             : 1;
  color                 : yellow;
}
.team-member__dep {
  width                 : 70px;
  text-align            : right;
  color                 :  red;
}
.team-member__amo {
  width                 : 70px;
  text-align            : right;
  color                 : yellow;
}
.team-member__star {
  display               : flex;
}
.team-member__star svg {
  font-size             : 14px;
  color                 : grey;
}
.team-member {
  width                 : 100%;
  padding               : 0 10px;
  display               : flex;
  align-items           : center;
  justify-content       : space-between;
  flex-grow             : 1;
  transition            : top .6s ease-out, background-color .6s
}
.team-member:nth-of-type(odd) {
  background-color      : rgba(0,0,0,.3);
}

#menu-panel-font-change-wrapper {
  width                 : 500px;
  height                : 40px;
  margin                :  10px auto 0;
  display               : grid;
  grid-template-columns : 1fr 1fr;
  grid-gap              : 15px;
}

#header-font-change-wrapper,
#text-font-change-wrapper {
  border                : 1px solid white;
  display               : grid;
  grid-template-columns : 40px 1fr 40px;
  font                  : 30px fptb;
  text-align            : center;
  line-height           : 40px;
}

#header-font-change-wrapper button,
#text-font-change-wrapper button {
  background-color      : black;
  color                 : white;
  font                  : 30px fptb;
  border                : 1px solid transparent;
  cursor                : pointer;
  line-height           : 38px;
}