.popup__cover
  .popup__massage
    .popup__text-1  Запишись на бесплатную консультацию
      br
      | и мы научим тебя зарабатывать на криптовалюте!
    br
    .popup__text-2 получить бесплатную консультацию
    .popup__form-holder
      include ../form/_form.pug
    button.close_btn: i.fas.fa-times