// ↓↓↓ BEM-blocks: change-password (start) ↓↓↓

.change-password__positioning-wrapper.message__wrapper
  .change-password__holder.message__holder
    .change-password.message
      .close-btn.change-password__close-btn
        .close-btn__line1
        .close-btn__line2
      h5.change-password__header Смена пароля
      form.change-password__form(name='make-cash-withdrawal-form' action='#' method='get')
        .change-password__form-fields-wrapper
          label(for='change-password-input') новый пароль:
          input#change-password-input.change-password__input(type='password')

          label(for='new-password-input') повторите пароль:
          input#new-password-input.change-password__input(type='password' name='newPassword')

        .change-password__form-buttons-wrapper
          button(type='button').change-password__btn.change-password__btn-close отмена
          button(type='submit').change-password__btn.change-password__btn-send сохранить

//- style
//-   include change-password.css
//- script
//-   include ../minjs/popup-change-password/change-password.js

// ↑↑↑ BEM-blocks: change-password (end) ↑↑↑