@font-face {font-family: fa;   src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: ar;   src: url(../fonts/ArialRegular.ttf);}
@font-face {font-family: lb;   src: url(../fonts/LatoBold.ttf);}
@font-face {font-family: mr;   src: url(../fonts/MontserratRegular.ttf);}
@font-face {font-family: ob;   src: url(../fonts/OswaldBold.ttf);}
@font-face {font-family: or;   src: url(../fonts/OswaldRegular.ttf);}
@font-face {font-family: ptsb; src: url(../fonts/PTSansBold.ttf);}
@font-face {font-family: ptsr; src: url(../fonts/PTSansRegular.ttf);}
@font-face {font-family: rb;   src: url(../fonts/RobotoBold.ttf);}
@font-face {font-family: rcb;  src: url(../fonts/RobotoCondensedBold.ttf);}
@font-face {font-family: rcl;  src: url(../fonts/RobotoCondensedLight.ttf);}
@font-face {font-family: rsr;  src: url(../fonts/RobotoSlabRegular.ttf);}
@font-face {font-family: sspr; src: url(../fonts/SourceSansProRegular.otf);}
@font-face {font-family: ur;   src: url(../fonts/UbuntuRegular.ttf);}
//@font-face {font-family: ykr;  src: url(../fonts/YanoneKaffeesatzRegular.ttf);}

@font-face {font-family: fptd;   src: url(../fonts/FuturaPT-Demi.ttf);}
@font-face {font-family: fptb;   src: url(../fonts/FuturaPT-Demi.ttf);}