.regform-wrapper {
  display                : flex;
  justify-content        : center;
  align-items            : center;
}

.regform {
  min-width              : 290px;
  max-width              : 1000px;
  width                  :100%;
  margin                 : 0 15px;
  padding                : 20px;
  border                 : 1px solid transparent;
  border-radius          : 6px;
  box-shadow             : 0 0 15px lightgrey;
  display                : flex;
  flex-wrap              : wrap;

  &__column {
    width:               100%;
  }

  &__label {
    font-family          : fptd;
    font-size            : 18px;
    color                : #525459;
    display              : block;
  }
  &__input-wrapper {
    margin               : 7px 0 14px;
    display              : flex;
    justify-content      : space-between;
    align-items          : center;
    position             : relative;
  }
  &__flag-wrapper {
    width                : 60px;
    height               : 30px;
    border               : 1px solid lightgrey;
    border-radius        : 4px 0 0 4px / 4px 0 0 4px;
    border-right-color   : transparent;
    display              : flex;
    justify-content      : center;
    align-items          : center;
    cursor               : pointer;
  }
  &__flag-wrapper-cover-for-click {
    position             : absolute;
    z-index              : 1;
    top                  : 0;
    left                 : 0;
    width                : 120px;
    height               : 100%;
  }
  &__img-flag-wrapper {
    width                : 30px;
    height               : 20px;
    margin-right         : 6px;
    position             : relative;
  }
  &__flag-img {
    width                : 50px;
    height               : auto;
    position             : absolute;
    left                 : 50%;
    top                  : 50%;
    transform            : translate(-50%, -50%);
    user-select          : none;
  }
  &__countries-wrapper {
    display              : none;
    width                : 290px;
    height               : 0px;
    border               : 1px solid lightgrey;
    position             : absolute;
    z-index              : 20;
    top                  : 30px;
    background-color     : white;
    overflow-y           : scroll;
  }
  &__country {
    display              : flex;
    justify-content      : flex-start;
    align-items          : center;
    padding              : 3px 8px;
    border-bottom        : 1px dotted lightgrey;
    cursor               : pointer;
    transition           : background-color .5s;
    &:hover {
      background-color   : lightgrey;
    }
  }
  &__country-name {
    font-family          : fptb;
    font-size            : 12px;
    color                : #6a6c6f;
  }
  &__input {
    flex-grow            : 1;
    display              : block;
    height               : 30px;
    border               : 1px solid lightgrey;
    border-radius        : 4px;
    padding              : 0 6px;
    font-family          : fptb;
    font-size            : 14px;
    color                : #6a6c6f;
    opacity              : 1;
    outline              : none;
    &::placeholder {
      font-family        : fptb;
      font-size          : 14px;
      color              : rgba(108, 110, 112, .7);
      opacity            : 1;
    }
    &:focus {
      border-color       : lightskyblue;
      box-shadow         : 0 0 10px lightskyblue;
    }
    &_ccode {
      width              : 60px;
      text-align         : center;
      background-color   : rgba(108, 110, 112, .15);
      border-radius      : 0px;
      flex-grow          : 0;
      &:focus {
      border-color       : transparent;
      box-shadow         : none;
      }
    }
    &_phone {
      border-radius      : 0 4px 4px 0 / 0 4px 4px 0;
      border-left-color  : transparent;
    }
    &_pass {
      border-radius      : 4px 0 0 4px / 4px 0 0 4px;
      border-right-color : transparent;
    }
  }
  &__show-hide-pass {
    width                : 30px;
    height               : 30px;
    line-height          : 28px;
    font-size            : 16px;
    text-align           : center;
    color                : rgba(108, 110, 112, .8);
    background-color     : rgba(108, 110, 112, .15);
    border               : 1px solid lightgrey;
    border-radius        : 0 4px 4px 0 / 0 4px 4px 0;
    cursor               : pointer;
  }
  &__agree-wrapper {
    position             : relative;
    padding-left         : 20px;
    span.regform__agree-checkbox-span {
      position           : absolute;
      top                : 0px;
      left               : -3px;
      width              : 18px;
      height             : 18px;
      border             : 1px solid lightgrey;
      border-radius      : 4px;
      overflow           : hidden;
      user-select        : none;
    }
    input {
      position           : absolute;
      top                : -100%;
      &:checked + span {
        display          : block;
      }
    }
    span.regform__agree-text {
      font-family        : fptb;
      font-size          : 14px;
      color              : rgba(108, 110, 112, .7);
    }
  }
  &__agree-label {
    line-height          : 1.5em;
  }
  &__link {
    color                : #1ba101;
    text-decoration      : underline;
    font-family          : fptb;
    font-size            : 14px;
    &:hover {
      color              : #1ba101;
      text-decoration    : none;
    }
  }
  &__checkbox-label {
    display              : inline-block;
    width                : 300px;
    height               : 20px;
    user-select          : none;
    cursor               : pointer;
    display              : flex;
    justify-content      : flex-start;
    align-items          : center;
    font-family          : fptb;
    font-size            : 14px;
    color                : #525459;
  }
  &__checkbox-span {
    display              : inline-block;
    width                : 20px;
    height               : 20px;
    border               : 1px solid lightgrey;
    position             : relative;
    overflow             : hidden;
    margin-right         : 6px;
    input[type="checkbox"]:checked + span {
      display            : block;
    }
  }
  &__checkbox-label {
    input[type="checkbox"] {
      position           : absolute;
      top                : -100%;
    }
  }
  &__check-mark {
    svg {
      color              : #23cd45;
      font-size          : 18px;
    }
    display              : none;
  }
  &__btn {
    width                : 100%;
    height               : 50px;
    margin               : 14px 0;
    background-color     : #1ba101;
    border               : 1px solid #1ba101;
    border-radius        : 6px;
    color                : white;
    font-family          : fptb;
    font-size            : 18px;
    letter-spacing       : 1px;
    cursor               : pointer;
    transition           : background-color .5s, border-color .5s;
    &:hover {
      background-color   : #4cae4c;
      border-color       : #4cae4c;
    }
  }
  &__restore-pass-link {
    font-family          : fptb;
    font-size            : 14px;
    color                : #525459;
    text-decoration      : underline;
    display: inline-block;
    margin-bottom        : 15px;
    &:hover {
      color              : #525459;
      text-decoration    : underline;
    }
  }
  &__footer {
    font-family          : fptb;
    font-size            : 18px;
    text-align           : right;
    color                : #525459;
  }
  &__info {
    border-left          : 4px solid;
    line-height          : 1.5em;
    margin               : 0;
    font-family          : fptb;
    font-size            : 14px;
    color                : #525459;
    height               : 0;
    overflow             : hidden;
    &_success {
      background-color   : rgba(144,238,144,.45);
      border-left-color  : lightgreen;
    }
    &_error {
      background-color   : rgba(255,0,0,.15);
      border-left-color  : red;
    }
  }
  &__textarea {
    width                : 100%;
    min-width            : 100%;
    min-height           : 100px;
    max-height           : 300px;
    border               : 1px solid lightgrey;
    border-radius        : 4px;
    font-family          : rsr;
    font-size            : 1.7rem;
    color                : #8c8c8c;
    padding              : 6px;
    font-family          : fptb;
    font-size            : 14px;
    color                : #6a6c6f;
    &::placeholder {
      font-family        : fptb;
      font-size          : 14px;
      color              : rgba(108, 110, 112, .7);
      opacity            : 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .regform {
    flex-wrap            : nowrap;

    &__column {
      width: 50%;
      &:first-of-type {
        margin-right     : 20px;
      };
    }
  }
}