// @import "variables";
@import "fonts";
@import "style_general";

@media only screen and (min-width: 320px) {
  .s1-wrapper {
    width                   : 100%;
  }
  .section1 {
    max-width               : 1920px;
    height                  : 900px;
    margin                  : 0 auto;
    display                 : flex;
    flex-wrap               : wrap;
    justify-content         : center;
    align-items             : center;
    padding-top             : 70px;
    &__text-wrapper {
      max-width             : 100%;
      color                 : white;
      text-align            : center;
      padding               : 0 15px;
    }
    &__header {
      font-family           : rb;
      font-size             : 2.4rem;
      padding-bottom        : 10px;
    }
    &__text {
      font-family           : rsr;
      font-size             : 1.5rem;
      font-weight           : 100;
      line-height           : 1.2em;
      padding-bottom        : 10px;
    }
    &__logo-wrapper {
      width                 : 100%;
      padding               : 15px;
      text-align            : center;
    }
    &__logo {
      max-width             : 495px;
      width                 : 100%;
    }
  }

  .s2-wrapper {
    width                   : 100%;
  }
  .section2 {
    max-width               : 920px;
    margin                  : 0 auto;
    padding                 : 70px 15px;
    &__btns-wrapper {
      display               : flex;
      justify-content       : center;
      align-items           : center;
      padding               : 15px;
      flex-wrap             : wrap;
    }
    &__btn {
      display               : block;
      font-family           : rsr;
      font-size             : 1.6rem;
      text-transform        : uppercase;
      background-color      : #white;
      border                : 1px solid lightgrey;
      height                : 45px;
      line-height           : 43px;
      text-align            : center;
      color                 : #242424;
      padding               : 0 20px;
      max-width             : 300px;
      cursor                : pointer;
      transition            : background-color .5s, color .5s;
      &:hover {
        background-color    : #242424;
        color               : #c0a375;
      }
      &_active {
        background-color    : #242424;
        color               : white;
      }
    }
    &__toggle-wrapper {
      padding               : 15px;
      border-top            : 1px dotted lightgrey;
      border-bottom         : 1px dotted lightgrey;
    }
    &__toggle-area {
      display               : none;
      overflow              : hidden;
      &_active {
        display             : block;
      }
    }
    &__toggle-area-header {
      font-family           : rcl;
      font-size             : 2.8rem;
      font-weight           : 600;
      text-align            : center;
      text-transform        : uppercase;
      padding               : 10px;
    }
    &__toggle-area-text {
      font-family           : rsr;
      font-size             : 1.6rem;
      font-weight           : 200;
      line-height           : 1.5em;
    }
    &__toggle-area-bold-text {
      font-family           : rsr;
      font-size             : 1.6rem;
      font-weight           : 900;
      line-height           : 1.5em;
    }
  }
}

@import "management/_management_576+";
@import "management/_management_992+";
@import "management/_management_1200+";
@import "management/_management_1920+";

//BEM-blocks
@import "../BEM-blocks/header/header.scss";
@import "../BEM-blocks/footer/footer.scss";
@import "../BEM-blocks/language_switcher/language_switcher.scss";
@import "../BEM-blocks/payment_systems/payment_systems.scss";