.option-panel {
	max-width: calc(100vw - 300px);
  width: auto;
  overflow: hidden;
  position: relative;
	font-family: rcl;
	font-size: 14px;
	text-align: justify;
	background-color: #D3D3D3;
	border: 1px solid white;
	border-radius: 6px;
	margin: 20px auto 10px;
	padding: 10px;
	&__button {
		display: inline-block;
		width: 110px;
		height: 36px;
		line-height: 36px;
		margin: 0px 8px;
		padding: 0;
		font-family: rb;
		font-size: 14px;
		cursor: pointer;
		text-align: center;
		border: 1px solid white;
		border-radius: 6px;
		background-color: #D3D3D3;
		outline: none;
	}
	&__filters-wrapper {
		position: relative;
		height: 0px;
		overflow: hidden;
	}
	&__columns-wrapper {
		position: relative;
		height: 0px;
		overflow: hidden;
	}
	&__divider {
		background-color: white;
		border: none;
		height: 1px;
		margin: 6px auto;
	}
	.column-label-wrapper {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-row-gap: 6px;
		label {
			width: 48.4px;
	    height: 20.6px;
	    display: block;
	    position: relative;
	    cursor: pointer;
	    span:first-of-type {
	    	position: absolute;
	    	top: 50%; left: 60px;
	    	transform: translate(0,-50%);
	    	white-space: nowrap;
	    }
	    input {
	    	outline: none;
	    }
	    input[type="checkbox"]~span:last-of-type {
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    background: url(../img/yes-and-no.png) no-repeat;
		    background-size: cover;
		  }
		  input[type="checkbox"]:checked~span:last-of-type {
		    background-position: 0 -20px
		  }
		}
	}
	.filters-label-wrapper {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-row-gap: 6px;
		justify-content: space-evenly;
		label {
			position: relative;
		}
		input {
			width: 300px;
			height: 30px;
			line-height: 30px;
			font-family: rcl;
			font-size: 14px;
			color: black;
			outlune: none;
			border-radius: 6px;
			border: 1px solid #D3D3D3;
			padding-left: 10px;
		}
		span {
			display: inline-block;
			width: 180px;
		}
		span.datalist-arrow {
			position: relative;
			top: 1px; right: 20px;
		}
		select {
			width: 240px;
			height: 30px;
			line-height: 30px;
			font-family: rcl;
			font-size: 14px;
			color: black;
			outlune: none;
			border: 1px solid transparent;
			padding-left: 10px;
		}
		datalist + input {
			width: 240px;
			height: 30px;
			line-height: 30px;
			font-family: rcl;
			font-size: 14px;
			color: black;
			outlune: none;
			border: 1px solid transparent;
			padding-left: 10px;
			border-radius: 0;
		}
	}
	span.option-panel__search-btn {
		display: inline-block;
		width: 60px;
		height: 30px;
		line-height: 30px;
		border-radius: 6px;
		background-color: #353535;
		text-align: center;
		font-size: 16px;
		color: #FFA500;
		cursor: pointer;
		margin-left: 10px;
	}
}
.multifilter {
	margin: 10px auto;
	&__span {

		font-family: rcl;
		font-size: 12px;
		position: relative;
		display: none;
		min-width: 120px;
		border: none;
		border-radius: 12px;
		margin: 4px 2px;
		padding: 0 30px 0 6px;
		background: linear-gradient(120deg,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,white,#353535,#353535,#353535,#353535,#353535,#353535);
	}
	&__close {
		position: absolute;
		top: 50%; right: 6px;
		transform: translate(0, -50%);
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		svg {
      color: #ffa500;
		}
	}
}

.table-wrapper {border: 1px solid grey;
	max-width: calc(100vw - 300px);
  width: auto;
  overflow: hidden;
  position: relative;
}

.customers-table {
	white-space: nowrap;
	th, td {
    padding: 1px 10px;
    //display: inline-block;
	}
	thead {
		font-family: rb;
		font-size: 14px;
		background-color: grey;
		overflow: hidden;
	}
	tbody {
		font-family: rcl;
		font-size: 14px;

	 tr:nth-of-type(odd) {
			background-color: white;
		}
	  tr:nth-of-type(even) {
			background-color: lightgrey;
		}
	}
}

/* ↓↓↓ SLIDER THUMB ↓↓↓ */
.thumbArea {
	width: 100%;
	height: 36px;
	background-color: white;
	position: relative;
	overflow: hidden;
	.thumb {
		position: absolute; z-index: 2;
		left: 0; right: 0;
		cursor: pointer;
   	width: 36px;
  	height: 36px;
  }
	.thumbLeftLine {
		width: 100%;
		height: 2px;
		background-color: #ffa500;
		position: absolute; z-index: 1;
		left: -100%; top: 50%;
		transform: translate(0,-50%);
	}
	.thumbRightLine {
		width: 100%;
		height: 1px;
		background-color: lightgrey;
		position: absolute; z-index: 1;
		left: 0; top: 50%;
		transform: translate(0,-50%);
	}
}
#thumbArea-buffer {
	height: 36px;
	display: none;
}
/* ↑↑↑ /SLIDER THUMB ↑↑↑ */