// ↓↓↓ BEM-blocks: notification_of_risks (start) ↓↓↓

style
  include notification_of_risks.css

.notification_of_risks3-wrapper
  .notification_of_risks
    span.notification_of_risks__span Уведомление о рисках:
    |  Операции, предлагаемые данным сайтом, могут осуществляться только совершеннолетними (18+) и полностью дееспособными лицами. Предлагаемые данным сайтом операции с финансовыми инструментами могут считаться операциями с высоким уровнем риска, а их совершение может быть очень рискованным. В случае совершения операций с предлагаемыми сайтом финансовыми инструментами вы можете понести существенные потери вложенных средств или даже полностью потерять средства на своем торговом счете. Перед принятием решения о начале совершения операций с финансовыми инструментами на данном сайте вы обязаны ознакомиться с
    a.notification_of_risks__link(href='terms_and_conditions.html')  Условиями и соглашениями
    |  об оказании услуг, а также с
    a.notification_of_risks__link(href='notification_of_risks.html')  Уведомлением о рисках,
    a.notification_of_risks__link(href='refund_policy.html')  Политикой возврата,
    a.notification_of_risks__link(href='privacy_policy.html')  Политикой конфиденциальности
    |  и
    a.notification_of_risks__link(href='aml_and_kyc_policies.html')  Политикой AML и KYC.

//- script
  include notification_of_risks.js

// ↑↑↑ BEM-blocks: notification_of_risks (end) ↑↑↑