html,
body {
    width: 100%;
    height: 100%;
}

body {
	font-family: Arial, Helvetica, Verdana;
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}



/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}


/* Footer */

footer {
    padding: 40px 0;
}


footer h4, footer p, footer li, footer a {
	color:#fff;
	font-size:1.2em;
}


footer h4 {
	font-size:2.5em;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}


.background-image {
	height:auto;
	left:0;
	min-height:100%;
	min-width:1024px;
	position:fixed;
	top:0;   
	width:100%;
	z-index: -1
}


header {
	z-index: 9999;
	position: relative;
	display:table;
	margin: auto;
	min-height: 100%;
	height: 100vh;
	width: 100%;
	padding:20px;
}
.vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
h1,h2,h3 {
	color:#fff;
	font-size:60px;
	font-weight:bold;
}
h2,h3 {
	font-size:32px;
	line-height: 40px;
}
h3 {
	line-height:1.1;
}
h4 {
	color:#fff;
    line-height: 25px;
}
.header-form {
	overflow: hidden;
	position: relative;
	background-color: rgba(0,0,0,0.4);
	padding: 50px 30px 80px 30px;
	border-radius: 8px;
}
input,textarea,select {
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8e8e8e;
	font-size: 16px;
	padding: 0px 20px;
	border: 1px solid #e4e4e4;
	outline: none !important;
	border-radius: 3px;	
	width: 100%;
	margin-bottom: 15px;
	border: 0px;				
}
textarea {
	height:150px;
	padding:15px 20px;
}
input[type=submit] {
	background-color: #f56357;
	color:#fff;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:30px 0 0 0;
}
.btn-light {
	border-radius: 0;
	color: #333;
	background-color: #eee;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 0
}
.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: #ae9156;
}
.btn-dark:hover {
	color:#fff;
}
.btn:hover {
	opacity:0.9;
}


#form_feedback {
	height:auto !important;
	background: #FFF2F2;
	margin: 0 15px 20px 15px;
}   

#form_feedback p {
	padding:20px;
	width: 100%;
	font-size:18px;
}

h1 {
	text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	font-family: 'Oswald', Arial, Helvetica, sans-serif !important;
}

h2 {
	margin: 60px auto 0 auto;
	font-size:44px;
}

.validator_status.validator_errors p{
	border-top: 5px solid #CA1B1B;
}

@media screen and (max-width: 768px){

	#form_feedback p {
		font-size:13px;
	} 
	.header-form {
	    margin: 30px 0;
	}
	h1 {
		margin-top:20px;
	}
	footer ul li {
	    font-size: 16px;
		max-width: 90%;
		overflow: hidden;
		margin: 0 auto;
		text-overflow: ellipsis;
	}
}

section#about {

	z-index: 99;
    position: relative;
	background:#8e8e8e;
}

footer {

	z-index: 99;
    position: relative;
}

.text-primary {
    color: #8e8e8e !important;
}

.header-form h3 {
    margin: 0 0 30px 0;
    padding: 0;
    /* line-height: 20px; */
}

.header-form h4 {
    margin: 20px 0 20px 0;
    padding: 0;
    line-height: 30px;
    color: #FFF;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
