// ↓↓↓ BEM-blocks: info-message (start) ↓↓↓

.info-message
  .close-btn.info-message__close-btn
    .close-btn__line1
    .close-btn__line2
  p.info-message__body Lorem ipsum dolor sit amet.

//- style
//-   include info-message.css
//- script
//-   include ../minjs/popup-info-message/info-message.js

// ↑↑↑ BEM-blocks: info-message (end) ↑↑↑