@font-face {font-family: exo; src: url(../fonts/Exo2-ExtraBold.ttf);}
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: mb; src: url(../fonts/Montserrat-Bold.otf);}
@font-face {font-family: mm; src: url(../fonts/Montserrat-Medium.otf);}
@font-face {font-family: msb; src: url(../fonts/Montserrat-SemiBold.otf);}