.popup__cover,
.popup2__cover,
.popup3__cover {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed; z-index: 2222;
	top: 0; left: 0;
	background-color: rgba(0,0,0,0.8);
}
.popup__massage,
.popup2__massage {
	display: none;
	width: 760px;
	min-height: 200px;
	background-color: white;
	border-radius: 6px;
	border: 3px solid black;
	position: absolute; z-index: 2233;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	font-family: bb;
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
}

// .popup3__massage {
// 	display: none;
// 	min-height: 180px;
// 	width: 100%;
// 	max-width: 500px;
// 	background-color: white;
// 	border-radius: 6px;
// 	border: 3px solid black;
// 	position: absolute; z-index: 2233;
// 	top: 50%; left: 50%;
// 	transform: translate(-50%, -50%);
// 	font-family: bb;
// 	font-size: 24px;
// 	text-align: center;
// 	padding: 30px 0;
// }
// .popup3__text {
// 	padding-bottom: 30px;
// }

.popup__btn {
	height: 48px;
	width: 300px;
	border-radius: 24px;
	border: none;
	background: linear-gradient(to right, #ff0505, #6d0000);
	color: white;
	cursor: pointer;
	font-family: bb;
	font-size: 22px;
	padding-top: 6px;
	margin-bottom: 10px;
}

.popup-form {
	width: 300px;
	position: relative;
	margin: 0 auto;
	&__header {
		font-size: 25px;
		text-align: center;
		padding: 20px 0 10px;
		text-shadow: 0 0 3px white;
	}
	input,
	.popup-form__code {
		height: 40px;
		border-radius: 20px;
		border: 1px solid black;
		margin-bottom: 6px;
		padding-left: 15px;
		padding-top: 6px;
		font-family: bb;
		font-size: 22px;
		text-transform: uppercase;
		&::placeholder {
			color: black;
			opacity: 1;
		}
	}
	&__fname,
	&__lname,
	&__email {
		width: 100%;
	}
	&__code {
		width: 145px;
		margin-right: 10px;
	}
	&__phone {
		width: 145px;
	}
	&__btn {
	height: 48px;
	width: 300px;
	border-radius: 24px;
	border: none;
	background: linear-gradient(to right, #ff0505, #6d0000);
	color: white;
	cursor: pointer;
	font-family: bb;
	font-size: 22px;
	padding-top: 6px;
	margin-bottom: 30px;
	}
}

.close_btn {
	width: 36px;
	height: 36px;
	font-size: 26px;
	padding: 0px;
	position: absolute;
	right: -36px; top: -36px;
	border: none;
	border-radius: 3px;
	background-color: white;
	cursor: pointer;
}