@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: c; src: url(../fonts/consola.ttf);}
@font-face {font-family: cb; src: url(../fonts/consolab.ttf);}
@font-face {font-family: ci; src: url(../fonts/consolai.ttf);}