// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓

.language-switcher__positioning-wrapper
  .language-switcher
    .language-switcher__flag-container
      a.language-switcher__btn
        i.fas.fa-globe
      .language-switcher__flag-en
      .language-switcher__flag-ru

//- style
//-   include language-switcher.css

//- script
//-   include ../minjs/language-switcher/language-switcher.js

// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑