doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title index - waldteufel@ukr.net
    link(rel='icon', href='img/wehrwolf.jpg')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='css/index.css')

  body
    a(href='layout.html') lyout
    a(href="customers.html") customers
    a(href="popups.html") popups
    a(href="customer_card.html") customer card
    a(href="message_sender.html") message sender