doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title myTravian
    link(rel='icon', href='img/wehrwolf.jpg')
    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='css/libs.min.css')
    // js-libs (font awesome, slick, wow ...)
    script(defer='', src='js/libs.min.js')
    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='js/js.js', defer='')
  body

  .sity-wrapper
    .storage-wrapper1
      .storage-wrapper2
        .stor-res holz
        #stor-res1 750
        .stor-res lehm
        #stor-res2 750
        .stor-res eisen
        #stor-res3 750
        .stor-res getreide
        #stor-res4 750
    .tech-wrapper
      .fields-wrapper
        .stoff.holz#holz1 0
        .stoff.holz#holz2 0
        .stoff.holz#holz3 0
        .stoff.holz#holz4 0
        .stoff.lehm#lehm1 0
        .stoff.lehm#lehm2 0
        .stoff.lehm#lehm3 0
        .stoff.lehm#lehm4 0
        .stoff.eisen#eisen1 0
        .stoff.eisen#eisen2 0
        .stoff.eisen#eisen3 0
        .stoff.eisen#eisen4 0
        .stoff.getreide#getreide1 0
        .stoff.getreide#getreide2 0
        .stoff.getreide#getreide3 0
        .stoff.getreide#getreide4 0
        .stoff.getreide#getreide5 0
        .stoff.getreide#getreide6 0
      .production-wrapper
        .prod-res holz
        #prod-res1 1
        .prod-res lehm
        #prod-res2 2
        .prod-res eisen
        #prod-res3 3
        .prod-res getreide
        #prod-res4 4


  p#datetimer 1528470358347