// ↓↓↓ BEM-blocks: close-btn (start) ↓↓↓

.close-btn__positioning-wrapper
  .close-btn
    .close-btn__line1
    .close-btn__line2

//- style
  include close-btn.css
//- script
  include ../minjs/close-btn/close-btn.js

// ↑↑↑ BEM-blocks: close-btn (end) ↑↑↑