/* ↓↓↓ FONTS ↓↓↓ */
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: fb; src: url(../fonts/Fregat_bold.otf);}
@font-face {font-family: fbi; src: url(../fonts/Fregat_bold_italic.otf);}
@font-face {font-family: fi; src: url(../fonts/Fregat_italic.otf);}
@font-face {font-family: fr; src: url(../fonts/Fregat_regular.otf);}
@font-face {font-family: ptsb; src: url(../fonts/PTSansBold.ttf);}
@font-face {font-family: ptsr; src: url(../fonts/PTSansRegular.ttf);}
/* ↑↑↑ /FONTS ↑↑↑ */
