/* ↓↓↓ FONTS ↓↓↓ */
@font-face {font-family: bss; src: url(../fonts/basic_sans_serif_7.ttf);}
@font-face {font-family: robL; src: url(../fonts/Roboto-Light.ttf);}
@font-face {font-family: robLI; src: url(../fonts/Roboto-LightItalic.ttf);}
@font-face {font-family: robM; src: url(../fonts/Roboto-Medium.ttf);}
@font-face {font-family: robR; src: url(../fonts/Roboto-Regular.ttf);}
@font-face {font-family: robT; src: url(../fonts/Roboto-Thin.ttf);}
/* ↑↑↑ /FONTS ↑↑↑ */