/* ↓↓↓ for 768px and more ↓↓↓ */
@media only screen and (min-width: 768px) {

	$green: rgb(93,180,66);
	$greyD: rgb(119,119,119);
	$grey: rgb(204,204,204);
	$greyL: rgb(236,236,236);

	/* ↓↓↓ HEADER ↓↓↓ */
	.header {
		.contacts-wrapper {
			.contacts {
				.contacts-right-column {
					float: right;
					a span {
						display: inline;
						font-size: 13px;
					}
					a:first-of-type {
						padding-right: 36px;
					}
					i {
						padding-right: 10px;
					}
				}
			}
		}
		
		.navigation-wrapper {
			background-color: white;
			.navigation {
				max-width: 1202px;
				height: 80px;
				margin: 0 auto;
				padding-left: 15px;
				padding-right: 15px;
				.nav-logo {
					float: left;
					line-height: 80px;
					font-family: bss;
					font-size: 30px;
					color: rgb(99,102,102);
				}
				i {
					display: none;
				}
				.nav-menu {
					float: right;
					font-family: robR;
					font-size: 14px;
					li {
						display: inline-block;
						a {
							display: block;
							height: 30px;
							margin-top: 25px;
							border-radius: 15px;
							border: 1px solid white;
							padding-top: 6px;
							padding-left: 30px;
							padding-right: 30px;
							&:hover {
								border: 1px solid $green;
								color: $green;
							}
						}
					}
				}
			} 
		}
	}
	/* ↑↑↑ /HEADER ↑↑↑ */

	/* ↓↓↓ FOOTER ↓↓↓ */
	.footer {
	  .footer-wrapper {
	  	.footer-info {
				text-align: left;
				.footer-row {
					h5 {
						padding: 50px 0px 40px;
					}
					p {
						padding-right: 40px;
					}
					.footer-input-holder {
						width: 280px;
						margin-top: 25px;
						margin-left: 0px;
						input {
							width: 220px;
						}
					}
					li {
						padding-bottom: 20px;
					}
					li:last-of-type {
						padding-bottom: 50px;
					}
				}
	  	}
	  }
	}
	/* ↑↑↑ /FOOTER ↑↑↑ */
}