script
  include search-block.js

.search-block
  input.search-block__field(type="search" name="search")
  button.search-block__btn: img.search-block__img(src="img/icon-search.png" alt="icon-search.png")