doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title  Политика AML и KYC

    link(rel='icon', href='assets/img/logoIC_icon.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/aml_and_kyc_policies.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header ПОЛИТИКА AML и KYC
          h5.section1__subheader Последняя редакция: 14.12.2018г.
          .info
            p ПОЛИТИКА ПО БОРЬБЕ С ЛЕГАЛИЗАЦИЕЙ ДЕНЕЖНЫХ СРЕДСТВ (AML) И ПОЛИТИКА "ЗНАЙ СВОЕГО КЛИЕНТА" (KYC)

            p 1. Политика AML и KYC распространяется на investingcase.com и ее партнеров и Клиентов (далее «Компания») и имеет цель воспрепятствования и активного предотвращения отмывания денежных средств и любой другой деятельности, облегчающей отмывание денежных средств или финансирование террористической, или преступной деятельности. Компания требует от своих руководителей, сотрудников и филиалов следовать принципам данной Политики с тем, чтобы не допустить использование своих услуг в целях отмывания денег.

            p 2. В рамках данной Политики, как правило, являются действия, направленные на сокрытие или искажение истинного происхождения средств, полученных преступных путем, с целью отмывания незаконных доходов.

            p 3. Обычно отмывание денежных средств происходит в три этапа. Вначале, на этапе «размещения», наличные средства попадают в финансовую систему, где деньги, полученные вследствие преступных действий, превращаются в денежные инструменты, такие, как денежные переводы, дорожные чеки или размещаются на счетах в финансовых учреждениях. На этапе «расслоения» средства переводятся или перемещаются на другие счета или в другие финансовые учреждения для дальнейшего отделения денег от их преступного происхождения. На этапе «интеграции» денежные средства возвращаются в экономику и используются для приобретения имущества, финансирования бизнеса или преступной деятельности. При финансировании терроризма могут и не использоваться средства, полученные от преступной деятельности; скорее всего это – попытка скрыть происхождение или предполагаемое использование средств, которые впоследствии будут использованы в преступных целях.

            p 4. Клиент принимает на себя обязательства:
            p - соблюдать правовые нормы, в том числе международные, направленные на борьбу с незаконной торговлей, финансовыми махинациями, отмыванием и легализацией денежных средств, полученных незаконным путём;
            p - исключить прямое или косвенное пособничество незаконной финансовой деятельности и любым другим незаконным операциям с использованием Сайта.

            p 5. Клиент гарантирует легальное происхождение, законное владение и право на использование перечисляемых им на Счета Компании средств. В случае подозрительных или мошеннических денежных пополнений, включая использование украденных кредитных карт и/или любую другую деятельность мошеннического характера (включая любые возвраты или аннулирования платежей), Компания оставляет за собой право блокировать Ваш счет и аннулировать любые сделанные выплаты, а так же расследовать характер сомнительных операций на Счете Клиента, вследствие чего приостановить такие операции до выяснения причин их возникновения и окончания расследования.

            p 6. В ходе проведения расследования Компания оставляет за собой право запрашивать у Клиента копии удостоверения личности и банковских карт, используемых для пополнения Счёта, платежные, а также иные документы, подтверждающие законное владение и легальное происхождение денежных средств. Клиенту запрещено использовать услуги и/или программное обеспечение для любого незаконного или мошеннического действия, или для любой незаконной или мошеннической транзакции (включая отмывание денег) в соответствии с законодательством страны юрисдикции Клиента. Отказ Компании от проведения подозрительных операций не являются основаниями для возникновения гражданско-правовой ответственности Компании за неисполнение обязательств по отношению к Клиенту.

            p 7. Каждое подразделение Компании должно руководствоваться политикой AML и KYC, составленной в соответствии с требованиями местного законодательства.

            p 8. Вся персональная и служебная документация будет храниться в течение минимального периода времени, установленного местным законодательством.

            p 9. Все новые сотрудники в обязательном порядке проходят обучение на предмет AML и KYC. Существующие сотрудники проходят обучение ежегодно. Участие в дополнительных учебных программах обязательно для всех сотрудников, имеющих отношение к AML и KYC.

      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')