doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Вход

    link(rel='icon', href='assets/img/logoIC_icon.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick-theme.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/forgot_your_password.css')

    // jquery
    script(src='assets/libs/jquery.js')
  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main

      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header ВОСТАНОВЛЕНИЕ ПАРОЛЯ
          h5.section1__subheader investingcase.com клиентская зона сайта
          .form-wrapper

            // SECTION left
            section.section-left
              h1.section-header Забыли пароль?
              p.password-info
                | На вашу эл. почту, которую вы указали при регистрации, будет выслана ссылка для изменения пароля.
              form(action='#', name='forgot-password-form', method='post')
                input#emailFogot(type='text', name='email')
                button#fogotPass(type='button') Отправить запрос
              .forgot-your-pass-info.forgot-your-pass-info_success На вашу электрнную почту выслана ссылка для изменения пароля.
              .forgot-your-pass-info.forgot-your-pass-info_error Указанная электрнная почта отсутствует в нашей базе данных. Вы уверенны, что являетесь нашим клиентом?
            // /SECTION left
            // SECTION right
            section.section-right
              h1.section-header Вы еще не клиент InvestingCase?
              a.create-acc(href='check_in.html') Откройте реальный счет
            // /SECTION right
      // /SECTION 1
      include assets/BEM-blocks/contacts/contacts.pug
      include assets/BEM-blocks/slick_money/slick_money.pug
    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')

    // own js
    script(src='assets/js/forgot_yout_password.js')