@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


@font-face {
    font-family: rb;
    src: url(../fonts/RobotoBold.ttf)
}

@font-face {
    font-family: rcl;
    src: url(../fonts/RobotoCondensedLight.ttf)
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a,
a:hover {
    color: #000;
    text-decoration: none
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

body {
    font-family: arial
}

.header {
    max-width: 1920px;
    width: 100%;
    height: 40px;
    background-color: #1D160B;
    position: fixed;
    z-index: 5555;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
}

.header .navigation {
    height: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header .navigation .company-logo {
    display: block;
    font: 20px/50px rb;
    color: gold;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: -6px;
}

.header .navigation .nav-ul-1 {
    height: 100%;
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header .navigation .nav-ul-1 li {
    margin-right: 20px
}

.header .navigation .nav-ul-1 #nav-datetimer {
    padding: 5px 10px;
    font-family: rcl;
    color: #d3d3d3;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 12px;
    border-radius: 12px
}

.header .navigation .nav-ul-2 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header .navigation .nav-ul-2 li {
    margin-left: 20px
}

.header .navigation .nav-ul-2 li a {
    font-family: rcl;
    color: #d3d3d3
}

.header .navigation .nav-ul-2 li a:hover {
    color: #fff
}

.main {
    max-width: 1920px;
    width: 100%;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 250px auto;
    overflow: hidden;
}

.main .aside {
    min-height: -webkit-calc( 100vh - 40px);
    min-height: calc( 100vh - 40px);
    background-color: #353535;
    font-family: rcl
}

.main .aside .aside-list .aside-list-li a {
    display: inline-block;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    color: #fff;
    border-bottom: 1px solid #000;
    position: relative;
}

.main .aside .aside-list .aside-list-li a svg {
    width: 50px;
    color: #ffa500
}

.main .aside .aside-list .aside-list-li a .submenu-indicator {
    display: block;
    width: 20px;
    height: 100%;
    padding: 0;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 0
}

.main .aside .aside-list .aside-list-li a .submenu-indicator svg {
    color: #fff;
    font-size: 18px;
    width: 20px;
    height: 20px;
    padding: 0;
    position: relative;
    top: 4px
}

.main .aside .aside-list .aside-list-li a:hover {
    background-color: #000
}

.main .aside .aside-list .aside-submenu-list-li {
    height: 0;
    opacity: 0
}

.main .aside .aside-list .aside-submenu-list-li a {
    position: relative;
    padding: 0 15px 0 50px
}

.main .work-area {
    background-color: #d3d3d3;
    padding: 15px;
    position: relative;
    min-height: calc( 100vh - 40px);
}