// ↓↓↓ BEM-blocks: message-from-mentor (start) ↓↓↓

.message-from-mentor__positioning-wrapper.message__wrapper
  .message-from-mentor__holder.message__holder
    .message-from-mentor.message
      .close-btn.message-from-mentor__close-btn
        .close-btn__line1
        .close-btn__line2
      h5.message-from-mentor__header Вам сообщение
        .message-from-mentor__text-wrapper
          .message-from-mentor__text
            p.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corporis eligendi commodi nesciunt dolores minima, enim fuga officiis quae in laborum optio tenetur praesentium quis sit harum mollitia veritatis, maiores excepturi, suscipit soluta eius possimus temporibus! Repudiandae nostrum numquam provident molestias veritatis quas recusandae laudantium, ipsa dolorum dolorem cumque alias excepturi libero ipsum corrupti, quaerat hic. Accusantium autem consequuntur repellat error recusandae sint dolor explicabo, blanditiis odit, cumque cupiditate libero hic eaque porro, laboriosam assumenda obcaecati voluptatem nisi. Aliquam provident laudantium sit. Temporibus magni natus ab nihil atque, ipsum ut? Nemo maxime asperiores cumque similique culpa quia provident inventore optio!
            br
            p.message-from-mentor__mentor_name Белый Господин
        button(type='button').message-from-mentor__btn.message__btn.popup-ok-btn ок

style
  include message-from-mentor.css
script
  include ../minjs/popup-message-from-mentor/message-from-mentor.js

// ↑↑↑ BEM-blocks: message-from-mentor (end) ↑↑↑