style
  include language-switcher.css
script
  include language-switcher.js
.language-switcher__positioning-wrapper
  .language-switcher
    .language-switcher__flag-container
      a.language-switcher__btn
        i.fas.fa-globe
      .language-switcher__flag-en
      .language-switcher__flag-ru