@media only screen and (min-width: 992px) {
  .section1 {
    flex-wrap               : nowrap;
    padding-top             : 0px;
    &__text-wrapper {
      max-width             : 50%;
      text-align            : right;
    }
    &__logo-wrapper {
      width                 : 50%;
    }
  }
}