// ↓↓↓ BEM-blocks: popup-make-cash-withdrawal (start) ↓↓↓

.make-cash-withdrawal__positioning-wrapper.message__wrapper
  .make-cash-withdrawal__holder.message__holder
    .make-cash-withdrawal.message
      .close-btn.make-cash-withdrawal__close-btn
        .close-btn__line1
        .close-btn__line2
      h5.make-cash-withdrawal__header Создать запрос на вывод
      form.make-cash-withdrawal__form(name='make-cash-withdrawal-form' action='#' method='get')
        .make-cash-withdrawal__form-fields-wrapper
          input.make-cash-withdrawal__input(type='text' placeholder='введите сумму' name='currencyValue')
          select.make-cash-withdrawal__select(name='currency')
            option(value='USD') USD
            option(value='EUR') EUR
            option(value='RUB') RUB
        .make-cash-withdrawal__form-buttons-wrapper
          button(type='button').make-cash-withdrawal__btn.make-cash-withdrawal__btn-close отмена
          button(type='submit').make-cash-withdrawal__btn.make-cash-withdrawal__btn-send создать

//- style
//-   include make-cash-withdrawal.css
//- script
//-   include ../minjs/popup-make-cash-withdrawal/make-cash-withdrawal.js

// ↑↑↑ BEM-blocks: popup-make-cash-withdrawal (end) ↑↑↑