// ↓↓↓ BEM-blocks: buy-sell-ok-info (start) ↓↓↓

.buy-sell-ok-info__positioning-wrapper
  .buy-sell-ok-info
    .buy-sell-ok-info__close-btn
      .buy-sell-ok-info__close-btn-line1
      .buy-sell-ok-info__close-btn-line2
    p.buy-sell-ok-info__info-string some info string some info string
    button.buy-sell-ok-info__close-btn-ok.popup-ok-btn OK

style
  include buy-sell-ok-info.css
script
  include ../minjs/popup-buy-sell-ok-info/buy-sell-ok-info.js

// ↑↑↑ BEM-blocks: buy-sell-ok-info (end) ↑↑↑