// ↓↓↓ BEM-blocks: anti_bot_filter (start) ↓↓↓

//- style
//-   include anti_bot_filter.css

.anti_bot_filter
  h6.anti_bot_filter__header Ответьте на вопрос
  .anti_bot_filter__body
    .anti_bot_filter__question 2+2=
    input.anti_bot_filter__ansver(type='text')

script
  include ../minjs/anti_bot_filter/anti_bot_filter.js

// ↑↑↑ BEM-blocks: anti_bot_filter (end) ↑↑↑