// ↓↓↓ BEM-blocks: payment_systems (start) ↓↓↓

//- style
//-   include payment_systems.css

.payment_systems-wrapper
  section.payment_systems
    img.payment_systems__img.wow.fadeInUp(src="assets/img/visamastercard.png", alt="visa+mastercard.png")
    img.payment_systems__img.wow.fadeInUp(src="assets/img/maestromir.png", alt="maestro+mir.png")
    img.payment_systems__img.wow.fadeInUp(src="assets/img/bitcoin.png", alt="bitcoin.png")
    img.payment_systems__img.wow.fadeInUp(src="assets/img/qiwiyandex.png", alt="qiwi+yandex.png")
    img.payment_systems__img.wow.fadeInUp(src="assets/img/verifedsecure.png", alt="verifed+secure.png")
    img.payment_systems__img.wow.fadeInUp(src="assets/img/mcAffessl.png", alt="mcAffe+ssl.png")

//- script
//-   include ../minjs/payment_systems/payment_systems.js

// ↑↑↑ BEM-blocks: payment_systems (end) ↑↑↑