// ↓↓↓ BEM-blocks: popup-list (start) ↓↓↓

.popup.popup_center#popupId2
  h5.popup__header list header
  .popup-list
    .popup-list__elems-wrapper
      .popup-list__elems-holder

        .popup-list__message
          .popup-list__info-area
            .popup-list__info дата:
            .popup-list__info-date 2018.12.12 23:45
            .popup-list__info от кого:
            .popup-list__info-fromWho Владлен Зильберштейн-Моисеенко
            .popup-list__info тема:
            .popup-list__info-subject купить 3000 шекелей
          .popup-list__text-area  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi omnis assumenda nostrum animi velit ea voluptates, accusantium, facere excepturi officiis quibusdam sunt rerum vero nesciunt deserunt expedita repellendus autem!
          span
          button.popup-list__message-btn пометить прочитанным

        .popup-list__message
          .popup-list__info-area
            .popup-list__info дата:
            .popup-list__info-date 2018.12.12 23:45
            .popup-list__info от кого:
            .popup-list__info-fromWho Роза Рутенберг
            .popup-list__info тема:
            .popup-list__info-subject продать 3000 шекелей
          .popup-list__text-area  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi omnis assumenda nostrum animi velit ea voluptates, accusantium, facere excepturi officiis quibusdam sunt rerum vero nesciunt deserunt expedita repellendus autem!
          span
          button.popup-list__message-btn пометить прочитанным

        .popup-list__message
          .popup-list__info-area
            .popup-list__info дата:
            .popup-list__info-date 2018.12.12 23:45
            .popup-list__info от кого:
            .popup-list__info-fromWho Ибрагим Маца
            .popup-list__info тема:
            .popup-list__info-subject міняю душу на гречку
          .popup-list__text-area  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi omnis assumenda nostrum animi velit ea voluptates, accusantium, facere excepturi officiis quibusdam sunt rerum vero nesciunt deserunt expedita repellendus autem!
          span
          button.popup-list__message-btn пометить прочитанным

        .popup-list__message
          .popup-list__info-area
            .popup-list__info дата:
            .popup-list__info-date 2018.12.12 23:45
            .popup-list__info от кого:
            .popup-list__info-fromWho Дерко Сергій Віталійович
            .popup-list__info тема:
            .popup-list__info-subject купити клаптик землі та двійко рабів
          .popup-list__text-area  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi omnis assumenda nostrum animi velit ea voluptates, accusantium, facere excepturi officiis quibusdam sunt rerum vero nesciunt deserunt expedita repellendus autem!
          span
          button.popup-list__message-btn пометить прочитанным

        .popup-list__message
          .popup-list__info-area
            .popup-list__info дата:
            .popup-list__info-date 2018.12.12 23:45
            .popup-list__info от кого:
            .popup-list__info-fromWho Владлен Зильберштейн-Моисеенко
            .popup-list__info тема:
            .popup-list__info-subject купить 3000 шекелей
          .popup-list__text-area  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi omnis assumenda nostrum animi velit ea voluptates, accusantium, facere excepturi officiis quibusdam sunt rerum vero nesciunt deserunt expedita repellendus autem!
          span
          button.popup-list__message-btn пометить прочитанным

    .popup__btns-wrapper
      button.popup__btn.popup__btn_cls close

//-style
  include popup-list.css
//-script
  include ../minjs/popup-list/popup-list.js

// ↑↑↑ BEM-blocks: popup-list (end) ↑↑↑