// ↓↓↓ BEM-blocks: form_forgot_your_password (start) ↓↓↓

//- style
//-   include form_forgot_your_password.css

.regform-wrapper
  form.regform.regform(action='#', method='post', name='forgot-password-form' style='max-width: 500px')
    .regform__column(style='width:100%; margin-right:0')
      label.regform__label(for='emailFogot') E-mail:
      .regform__input-wrapper
        input.regform__input#input-email(type='text', name='email' placeholder='Введите свою почту здесь')
      .regform__info.regform__info_success На вашу электрнную почту выслана ссылка для изменения пароля.
      .regform__info.regform__info_error Введите корректный адрес
      .regform__info.regform__info_error Указанная электрнная почта отсутствует в нашей базе данных. Вы уверенны, что являетесь нашим клиентом?

      button#fogotPass.regform__btn(type='button') Отправить запрос

      .regform__footer
        span Вы еще не клиент E-Tokens Trade?
        |
        |
        a.regform__link(href='registration.html') Откройте реальный счет

//- script
//-   include ../minjs/form_forgot_your_password/form_forgot_your_password.js

// ↑↑↑ BEM-blocks: form_forgot_your_password (end) ↑↑↑