// ↓↓↓ BEM-blocks: form_forgot_your_password (start) ↓↓↓

//- style
//-   include form_forgot_your_password.css

.regform-wrapper
  form.regform.regform(action='#', method='post', name='forgot-password-form' style='max-width: 500px')
    .regform__column(style='width:100%; margin-right:0')
      label.regform__label(for='emailFogot') E-mail:
      .regform__input-wrapper
        input.regform__input#input-email(type='text', name='email' placeholder='Enter your mail here')
      .regform__info.regform__info_success A link to change your password has been sent to your email.
      .regform__info.regform__info_error Enter a valid address.
      .regform__info.regform__info_error The specified email is not in our database. Are you sure you are our customer?

      button#fogotPass.regform__btn(type='button') Send request

      .regform__footer
        span You are not a client of E-Tokens Trade?
        |
        |
        a.regform__link(href='registration_en.html') Open a live account

//- script
//-   include ../minjs/form_forgot_your_password/form_forgot_your_password.js

// ↑↑↑ BEM-blocks: form_forgot_your_password (end) ↑↑↑