//consola
@font-face {font-family: c; src: url(../fonts/consola.ttf);}
@font-face {font-family: cb; src: url(../fonts/consolab.ttf);}
@font-face {font-family: ci; src: url(../fonts/consolai.ttf);}
@font-face {font-family: cs; src: url(../fonts/consolas.ttf);}
@font-face {font-family: cz; src: url(../fonts/consolaz.ttf);}

@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}

//roboto
@font-face {font-family: rblack; src: url(../fonts/RobotoBlack.ttf);}
@font-face {font-family: rblacki; src: url(../fonts/RobotoBlackItalic.ttf);}
@font-face {font-family: rb; src: url(../fonts/RobotoBold.ttf);}
@font-face {font-family: rbi; src: url(../fonts/RobotoBoldItalic.ttf);}
@font-face {font-family: rcb; src: url(../fonts/RobotoCondensedBold.ttf);}
@font-face {font-family: rcbi; src: url(../fonts/RobotoCondensedBoldItalic.ttf);}
@font-face {font-family: rci; src: url(../fonts/RobotoCondensedItalic.ttf);}
@font-face {font-family: rcl; src: url(../fonts/RobotoCondensedLight.ttf);}
@font-face {font-family: rcli; src: url(../fonts/RobotoCondensedLightItalic.ttf);}
@font-face {font-family: rcr; src: url(../fonts/RobotoCondensedRegular.ttf);}
@font-face {font-family: ri; src: url(../fonts/RobotoItalic.ttf);}
@font-face {font-family: rl; src: url(../fonts/RobotoLight.ttf);}
@font-face {font-family: rli; src: url(../fonts/RobotoLightItalic.ttf);}
@font-face {font-family: rm; src: url(../fonts/RobotoMedium.ttf);}
@font-face {font-family: rmi; src: url(../fonts/RobotoMediumItalic.ttf);}
@font-face {font-family: rr; src: url(../fonts/RobotoRegular.ttf);}
@font-face {font-family: rt; src: url(../fonts/RobotoThin.ttf);}
@font-face {font-family: rti; src: url(../fonts/RobotoThinItalic.ttf);}

//segoe
@font-face {font-family: sb; src: url(../fonts/SegoeUIBold.ttf);}
@font-face {font-family: si; src: url(../fonts/SegoeUIItalic.ttf);}
@font-face {font-family: sl; src: url(../fonts/SegoeUILight.ttf);}
@font-face {font-family: sr; src: url(../fonts/SegoeUIRegular.ttf);}
@font-face {font-family: ssb; src: url(../fonts/SegoeUISemiBold.ttf);}