/* ↓↓↓ FONTS ↓↓↓ */
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: osr; src: url(../fonts/OpenSansRegular.ttf);}
@font-face {font-family: ptsb; src: url(../fonts/PTSansBold.ttf);}
@font-face {font-family: ptsbi; src: url(../fonts/PTSansBoldItalic.ttf);}
@font-face {font-family: ptsn; src: url(../fonts/PTSansNarrow.ttf);}
@font-face {font-family: ptsnb; src: url(../fonts/PTSansNarrowBold.ttf);}
@font-face {font-family: ptsnr; src: url(../fonts/PTSansNarrowRegular.ttf);}
@font-face {font-family: ptsr; src: url(../fonts/PTSansRegular.ttf);}
@font-face {font-family: rcb; src: url(../fonts/RobotoCondensedBold.ttf);}
@font-face {font-family: rm; src: url(../fonts/RobotoMedium.ttf);}
/* ↑↑↑ /FONTS ↑↑↑ */
