@media only screen and (min-width: 320px) {
	.form {
		width: 270px;
		position: relative;
		&__header {
			font-size: 25px;
			text-align: center;
			padding: 20px 0 10px;
			text-shadow: 0 0 3px white;
		}
		input {
			height: 40px;
			border-radius: 20px;
			border: 1px solid black;
			margin-bottom: 6px;
			padding-left: 15px;
			padding-top: 6px;
			font-family: bb;
			font-size: 22px;
			text-transform: uppercase;
			&::placeholder {
				color: black;
				opacity: 1;
			}
		}
		&__fname,
		&__lname,
		&__email {
			width: 100%;
		}
		&__code {
			width: 60px;
			margin-right: 10px;
		}
		&__phone {
			width: 200px;
		}
		&__btn {
			height: 48px;
			width: 100%;
			border-radius: 24px;
			border: none;
			background: linear-gradient(to right, #ff0505, #6d0000);
			color: white;
			cursor: pointer;
			font-family: bb;
			font-size: 22px;
			padding-top: 6px;
		}
	}
}
@media only screen and (min-width: 576px) {
	.form {
		width: 340px;
		position: relative;
		&__header {
			font-size: 25px;
			text-align: center;
			padding: 20px 0 10px;
		}
		input {
			height: 40px;
			border-radius: 20px;
			border: 1px solid black;
			margin-bottom: 6px;
			padding-left: 20px;
			font-size: 22px;
			text-transform: uppercase;
			&::placeholder {
				color: black;
				opacity: 1;
			}
		}
		&__fname,
		&__lname,
		&__email {
			width: 100%;
		}
		&__code {
			width: 80px;
			margin-right: 10px;
		}
		&__phone {
			width: 250px;
		}
		&__btn {
			height: 48px;
			width: 100%;
			border-radius: 24px;
			border: none;
			background: linear-gradient(to right, #ff0505, #6d0000);
			color: white;
			cursor: pointer;
			font-family: bb;
			font-size: 22px;
		}
	}
}
@media only screen and (min-width: 992px) {
	.form {
		width: 400px;
		position: relative;
		&__header {
			font-size: 30px;
			text-align: center;
			padding: 30px 0 20px;
		}
		input {
			height: 48px;
			border-radius: 24px;
			border: 2px solid black;
			margin-bottom: 10px;
			padding-left: 20px;
			font-size: 18px;
			text-transform: uppercase;
			&::placeholder {
				color: black;
				opacity: 1;
			}
		}
		&__fname,
		&__lname,
		&__email {
			width: 100%;
		}
		&__code {
			width: 100px;
			margin-right: 10px;
		}
		&__phone {
			width: 290px;
		}
		&__btn {
			height: 48px;
			width: 100%;
			border-radius: 24px;
			border: none;
			background: linear-gradient(to right, #ff0505, #6d0000);
			color: white;
			cursor: pointer;
			font-size: 18px;
		}
	}
}
@media only screen and (min-width: 1200px) {
	.form {
		width: 500px;
		position: relative;
		&__header {
			font-size: 40px;
			text-align: center;
			padding: 30px 0 20px;
		}
		input {
			height: 56px;
			border-radius: 28px;
			border: 3px solid black;
			margin-bottom: 18px;
			padding-left: 30px;
			font-size: 24px;
			text-transform: uppercase;
			&::placeholder {
				color: black;
				opacity: 1;
			}
		}
		&__fname,
		&__lname,
		&__email {
			width: 100%;
		}
		&__code {
			width: 110px;
			margin-right: 10px;
		}
		&__phone {
			width: 380px;
		}
		&__btn {
			height: 56px;
			width: 100%;
			border-radius: 28px;
			border: none;
			background: linear-gradient(to right, #ff0505, #6d0000);
			color: white;
			cursor: pointer;
			font-size: 24px;
		}
	}
}
@media only screen and (min-width: 1920px) {
	.form {
		width: 630px;
		position: relative;
		z-index: 1111;
		&__header {
			font-size: 66.4px;
			text-align: center;
			padding: 40px 0 32px;
		}
		input {
			height: 84px;
			border-radius: 42px;
			border: 6px solid black;
			margin-bottom: 30px;
			padding-left: 30px;
			font-size: 36px;
			text-transform: uppercase;
			&::placeholder {
				color: black;
				opacity: 1;
			}
		}
		&__fname,
		&__lname,
		&__email {
			width: 100%;
		}
		&__code {
			width: 174px;
			margin-right: 20px;
		}
		&__phone {
			width: 432px;
		}
		&__btn {
			height: 84px;
			width: 100%;
			border-radius: 42px;
			border: none;
			background: linear-gradient(to right, #ff0505, #6d0000);
			color: white;
			cursor: pointer;
			font-size: 36px;
		}
	}
}