script
  include form.js
//form.form(name="form")
h4.form__header заявка на консультацию
input.form__fname(type="text" name="fname" placeholder="имя")
input.form__lname(type="text" name="lname" placeholder="фамилия")
input.form__code(type="text" name="code" placeholder="код")
input.form__phone(type="text" name="phone" placeholder="телефон")
input.form__email(type="email" name="email" placeholder="E-mail")
button.form__btn(type="button") Отправить заявку