script
  include popup.js
.popup__cover
  .popup__massage
    .popup__text Это Ваш последний шанс изменить жизнь к лучшему!
    .popup-form
      h4.popup-form__header заявка на консультацию
      input.popup-form__fname(type="text" name="fname" placeholder="имя")
      input.popup-form__lname(type="text" name="lname" placeholder="фамилия")
      input.popup-form__code(type="text" name="code" placeholder="код")
      input.popup-form__phone(type="text" name="phone" placeholder="телефон")
      input.popup-form__email(type="email" name="email" placeholder="E-mail")
      button.popup-form__btn(type="button") Отправить заявку
    button.popup__btn.popup1__btn Узнать больше

.popup2__cover
  .popup2__massage
    .popup2__text Ваш личный профессиональный брокер убережет Вас от любых рисков
    .popup-form
      h4.popup-form__header заявка на консультацию
      input.popup-form__fname(type="text" name="fname" placeholder="имя")
      input.popup-form__lname(type="text" name="lname" placeholder="фамилия")
      input.popup-form__code(type="text" name="code" placeholder="код")
      input.popup-form__phone(type="text" name="phone" placeholder="телефон")
      input.popup-form__email(type="email" name="email" placeholder="E-mail")
      button.popup-form__btn(type="button") Отправить заявку
    button.popup__btn.popup2__btn Познакомиться с брокером

.popup__cover
  .popup3__massage
    .popup3__text Благодарим за оставленную заявку.
    	br
    	| Ожидайте звонка Вашего личного менеджера.
    .popup-form
      h4.popup-form__header заявка на консультацию
      input.popup-form__fname(type="text" name="fname" placeholder="имя")
      input.popup-form__lname(type="text" name="lname" placeholder="фамилия")
      input.popup-form__code(type="text" name="code" placeholder="код")
      input.popup-form__phone(type="text" name="phone" placeholder="телефон")
      input.popup-form__email(type="email" name="email" placeholder="E-mail")
      button.popup-form__btn(type="button") Отправить заявку
    button.popup__btn.popup2__btn Познакомиться с брокером