//style
  include menu-btn.css
script
  include menu-btn.js
.menu-btn-wrapper
  .menu-btn
    .menu-btn__1-line.menu-btn__line
    .menu-btn__2-line.menu-btn__line
    .menu-btn__3-line.menu-btn__line