// ↓↓↓ BEM-blocks: menu-btn (start) ↓↓↓

//- style
//-   include menu-btn.css

.menu-btn
  .menu-btn__1-line.menu-btn__line
  .menu-btn__2-line.menu-btn__line
  .menu-btn__3-line.menu-btn__line

script
  include ../minjs/menu-btn/menu-btn.js

// ↑↑↑ BEM-blocks: menu-btn (end) ↑↑↑