/* ↓↓↓ GENERAL STYLES ↓↓↓ */
* {
	box-sizing: border-box;
	font-family: ag;
}

body {
	background-color: rgb(232,244,241);
}

.wrapper {
	max-width: 1224px;
	margin: 0 auto;
	background-color: rgb(232,244,241);
	box-shadow: 1px 1px 10px grey;
}

a, a:hover {
	color: black;
	text-decoration: none;
}

p {
	color: rgb(39,8,75);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/* ↑↑↑ /GENERAL STYLES ↑↑↑ */