/* ↓↓↓ for 576px and more ↓↓↓ */
@media only screen and (min-width: 576px) {

	/* ↓↓↓ MAIN PART ↓↓↓ */
	.main {

		/* ↓↓↓ SECTION 1 ↓↓↓ */
		.command-1 {
			height: 415px;
			h1 {
				font-size: 50px;
				right: 100px;
			}
			&__shadow {
				height: 320px;
				top: 92px;
			}
			&__info {
				p {
					font-size: 21px;
				}
			}
		}
		/* ↑↑↑ /SECTION 1 ↑↑↑ */

		/* ↓↓↓ SECTION 2 ↓↓↓ */
		.command-2 {
			height: 613px;
			h2 {
				font-size: 30px;
				padding: 50px 0 36px 0px;
			}
			&__info {
				padding-top: 50px;
				p {
					font-size: 20px;
					padding: 0 120px 20px;
					&:last-of-type {
						padding: 10px 100px;
					}
				}
			}
		}
		/* ↑↑↑ /SECTION 2 ↑↑↑ */

		/* ↓↓↓ SECTION 4 ↓↓↓ */
		.whom {
			height: 400px;
			h2 {
				font-size: 30px;
			}
			&__info {
				width: 400px;
				p {
					font-size: 20px;
				}
			}
		}
		/* ↑↑↑ /SECTION 4 ↑↑↑ */

		/* ↓↓↓ SECTION 5 ↓↓↓ */
		.what {
			&__shadow {
				height: 220px;
			}

			&__info {
				font-size: 30px;
			}
		}
		/* ↑↑↑ /SECTION 5 ↑↑↑ */

		/* ↓↓↓ SECTION 6 ↓↓↓ */
		.knowledge {
			min-height: 1280px;
			h2 {
				font-size: 30px;
				padding-top: 10px;
			}
			.green-line {
				top: 80px;
			}
			.knowledge-container {
				width: 470px;
			}
		}
		/* ↑↑↑ /SECTION 6 ↑↑↑ */

		/* ↓↓↓ SECTION 8 ↓↓↓ */

		.contact {
			height: 500px;
			.message {
				width: 460px;
				font-size: 24px;
			}
			#login {
				width: 500px;
				height: 100px;
				font-size: 30px;
			}
		}

		/* ↑↑↑ /SECTION 8 ↑↑↑ */

	}
	/* ↑↑↑ /MAIN PART ↑↑↑ */

}