$bfont : Tahoma_Bold;
$rfont : Tahoma_Regular;

.depositPopup {
  display            : none;
  min-width          : 300px;
  max-width          : 600px;
  min-height         : 100px;
  position           : absolute;
  left               : 50%;
  top                : 50%;
  transform          : translate(-50%, -50%);
  background-color   : #eee;
  border             : 5px solid grey;
  cursor             : default;
  transition         : top .3s;
  font               : 14px $rfont;
  &__head {
    height           : 25px;
    padding          : 0px;
    position         : relative;
    background-color : grey;
    text-align       : center;
  }
  &__header {
  }
  &__close-btn {
    height           : 20px;
    width            : 40px;
    cursor           : pointer;
    position         : absolute;
    top              : -5px;
    right            : 10px;
    margin           : 0;
    padding          : 0;
    border           : none;
    color            : white;
    background-color : #F86E67;
    font-weight      : 900;
  }
  &__body {
    border           : 1px solid transparent;
    padding          : 6px;
    max-height       : 60vh;
    overflow-y       : auto;
  }
  &__tab-wrapper {
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__tab-header {
    border           : 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    padding: 0 3px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    &:hover,
    &_active {
      background-color: grey;
      color: white;
    }
  }
  &__terminal-img {
    max-height : 20px;
    max-width  : 80px;
  }
  &__terminal-name {}
  &__form-wrapper {
    border: 1px solid grey;
    padding: 6px 3px;
  }
  &__form {
    min-height: 50px;
    position: relative;
  }
  &__link-to-pay-system {
    border: 1px solid grey;
    background-color: lightgrey;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-decoration: none;
  }
  &__amount-wrapper {
    display: flex;
    width: 280px;
    height: 30px;
  }
  &__amount {
    padding: 6px;
    flex-grow: 1;
    &::placeholder {
      opacity: 1;
    }
  }
  &__currency-select {
    width: 60px;
  }
  &__checkbox-wrapper {
    display: flex;
    margin: 10px 0;
    a {
      color: MediumTurquoise;
    }
  }
  &__deposit-btn {
    border           : 1px solid grey;
    margin           : 0 auto;
    height           : 25px;
    min-width        : 60px;
    padding          : 4px 10px;
    cursor           : pointer;
    display          : block;
  }
  &__paySystem-wrapper {
    display: flex;
    align-items: center;
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
  }
  &__card-label {
    padding: 0 6px;
    flex-grow: 1;
  }
  &__card-select {
    height: 100%;
  }
  &__validation-error {
    background-color: #fff;
    border-left: 6px solid red;
    margin-bottom: 0px;
    padding: 0 6px;
    height: 0px;
    overflow: hidden;
    transition: height .3s, padding .3s, margin .3s;
    &_active {
      height: 100%;
      padding: 6px 6px;
      margin-bottom: 5px;
    }
  }
}