doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title  Политика конфиденциальности

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/privacy_policy.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header ПОЛИТИКА
            br
            | КОНФИДЕНЦИАЛЬНОСТИ
          h5.section1__subheader Последняя редакция: 18.06.2018г.
          .info
            p https://http://platinumtrade.org (далее – http://platinumtrade.org или Компания), делает всё возможное для обеспечения конфиденциальности и безопасности своих клиентов как при их взаимодействии с компанией, так и впоследствии, в течение максимального срока, достижимого для компании.

            p Регистрируясь на http://platinumtrade.org, клиенты подтверждают свою готовность предоставлять компании определённую личную информацию, которую компания использует в целях подтверждения личностей клиентов и обеспечения безопасности их вкладов и торговых счетов. Эта информация собирается в соответствии с нашими обязательными процедурами проверки, предназначенными для предотвращения международных операций по отмыванию денег, постоянного обеспечения безопасности торговой деятельности наших клиентов.

            p Наши клиенты обязуются предоставлять нам истинную, актуальную и точную информацию о себе. Кроме того, от них требуется категорически заявить, что они регистрируются и осуществляют торговлю от своего имени, не стремятся, когда бы то ни было действовать таким образом, который может считаться мошенническим, а также не намереваются выдавать себя за других лиц в каких бы то ни было целях.

            p В процедуру сбора данных http://platinumtrade.org входит сбор свободно раскрываемой информации клиента, как предоставляемой компании, вдобавок к размещению cookies в целях сбора данных о том, каким образом клиент взаимодействует с сайтом Компании. Эти инструменты для сбора клиентской информации предназначены для обеспечения безопасности клиента; все данные, собранные компанией, предоставляются только лицам внутри компании, которые задействованы в проверке информации учётной записи клиента с чёткой целью обеспечения конфиденциальности и безопасности клиента.

            p Компания никогда не будет раскрывать любую личную информацию (или конфиденциальную каким-либо другим образом) наших нынешних и бывших клиентов сторонним лицам без чёткого письменного согласия наших клиентов, кроме таких конкретных случаев, когда раскрытие информации требуется по закону, или необходимо по другим причинам для выполнения проверки личности клиента в целях защиты его счёта и личной информации.

            p Регистрируясь на http://platinumtrade.org и добровольно взаимодействуя с продуктами Компании, клиенты подтверждают своё согласие на использование, в полном объёме или частично, информации, которую они (клиенты) предоставляют в отношении их торговых счетов на http://platinumtrade.org, торговых операций с компанией или через компанию, выполняемые через эти счета.

            p Все взаимодействия компании с клиентом будут сохраняться компанией для записей и для использования в случае возникновения разногласий между клиентами и компанией.

            p Сопутствующие услуги и предложения, имеющие ссылки на данном веб-сайте, включая сайты сторонних поставщиков, имеют свои собственные заявления о политике конфиденциальности, которые можно просмотреть, нажав на соответствующую ссылку на каждом соответствующем веб-сайте. Онлайн торговцам и другим лицам, участвующим в услугах http://platinumtrade.org, рекомендуется участвовать в инициативах по политике конфиденциальности в данной отрасли, а также относиться со всей ответственностью к защите персональных данных клиентов. Тем не менее, так как у нас нет прямого контроля над политиками или деятельностью участвующих торговцев и других третьих лиц, мы не несем ответственности за политику конфиденциальности или контент таких сайтов. Настоятельно рекомендуем вам всегда ознакамливаться с политикой конфиденциальности торговцев и других третьих сторон, перед тем, как предоставлять им какую-либо личную информацию или совершать какие-либо сделки с такими сторонами.

            p Компания делает всё возможное для обеспечения конфиденциальности личной информации своих клиентов, в том числе осуществляя процедуры по защите данных, разработанные для обеспечения конфиденциальности клиентов. Компания гарантирует регулярное обновление своей политики защиты данных для обеспечения постоянной охраны конфиденциальной информации клиентов.

            p Время от времени Компания может связываться со своими клиентами по телефону или электронной почте и предлагать им более подробную информацию о торговле бинарными опционами и на финансовых рынках. Кроме того, в некоторых случаях компания может стремиться к контакту с клиентами, по телефону или электронной почте, для информирования их об уникальных рекламных предложениях, представляемых Компанией для клиентов. Клиенты дают согласие на такие контакты, когда соглашаются с Условиями и соглашениями использования при регистрации на http://platinumtrade.org. Любой клиент имеет право в любое время отказаться от дальнейших контактов с Компанией – для этого нужно просто обратиться в Компанию по телефону или электронной почте и сделать запрос на прекращение дальнейших контактов от имени компании.

            p КОНТАКТНАЯ ИНФОРМАЦИЯ
            p При возникновении вопросов о Политике, пожалуйста, обращайтесь к нам через электронную почту клиентской поддержки support@platinumtrade.org
            p PlatinumTrade LTD.

      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')