doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title  Политика возврата

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/refund_policy.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pugs
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header ПОЛИТИКА ВОЗВРАТА
            br
            | ДЕНЕЖНЫХ СРЕДСТВ
          h5.section1__subheader Последняя редакция: 18.06.2018г.
          .info
            p ПОЛИТИКА ВОЗВРАТА ДЕНЕЖНЫХ СРЕДСТВ (REFUND & RETURNS POLICY OTHER T&C'S).

            p Компания, стремится, чтобы каждый клиент остался доволен качеством предоставляемых услуг. Именно для этого предназначена данная политика возврата денежных средств.  В исключительных случаях, Компания может осуществлять возврат средств на банковские карты клиента. В этом случае, все средства будут возвращены на карту, которая ранее использовалась для ввода средств.

            p При пополнении торгового счета с банковской карты Вы обязуетесь не подавать заявку на отзыв уже зачисленного на торговый счет платежа в ваш банк или поставщику вашей кредитной карты как во время, так и после завершения пользования нашими услугами. Любая подобная попытка будет расцениваться нашей Компанией как нарушение Условий и соглашений. Если Компания все же получит отзыв платежа по сделке, мы сохраняем за собой право заморозить текущей баланс клиента и переслать денежные средства обратно на торговый счет после оплаты всех услуг и комиссий.

            p Также, если в течении 12 (шести) месяцев на вашем счете не было зафиксировано никакой торговой активности, или же торговля велась, но в недостаточном объеме (торговый объем рассчитывается компанией в индивидуальном порядке), мы будем вправе вернуть денежные средства отправителю. В этом случае мы возвращаем весь депозит.

            p Также при определенных объективных причинах и в случае необходимости Компания может производить возврат платежей, полученных через любую платежную систему, включая кредитные/дебетовые карты. В этом случае средства будут возвращены обратно на ту же платежную систему, кредитную/дебетовую карту или банковский счет, с которого они были получены.

            p При получении запроса на выплату/возврат средств, Компания может потратить до 5 (пяти) банковских дней на обработку запроса. После утверждения запроса нужно подождать 5-7 (пять-семь) дополнительных дней до перевода средств на счёт Клиента. В случае проигрыша возмещение не предусмотрено, и Компания ответственности не несёт.

            p В случае возникновения обоснованных подозрений в том, что источник Ваших денежных средств и/или деятельность в целом противоречат политике Компании по Борьбе с Отмыванием Денег (БОД), Компания оставляет за собой право в одностороннем порядке отказать в вводе/выводе средств на/c ваших счетов в наших системах, заморозить данные активы и вернуть их обратно отправителю. Пожалуйста, обратите внимание на то, что мы также будем обязаны уведомить соответствующие государственные учреждения о каждом случае нарушения политики БОД и будем вправе раскрыть ваши личные данные. Компания предпримет все необходимые меры, чтобы предотвратить и блокировать как зачисление, так и снятие третьими лицами денежных средств с Ваших счетов. Ввод и вывод денежных средств со счета может осуществляться только владельцем данного счета.

            p В случае, если на протяжении всего периода пользования нашими услугами, мы классифицируем любую вашу деятельность (в особенности пополнение/вывод средств) противоречащей обычной цели пользования нашими услугами, где имеет место прямое или косвенное, неправомерное или недобросовестное намерение, мы храним за собой право действовать в рамках данного документа, не информируя вас заблаговременно. Одновременно вы, в этом случае, возмещаете наши прямые и косвенные потери/урон, который мы понесли в результате вашей деятельности, в особенности – мы по собственному усмотрению компенсируем себе все издержки, связанные с денежными переводами, удерживая соответствующие суммы из ваших средств.
      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')