doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title  Условия и соглашения

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/terms_and_conditions.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header УСЛОВИЯ И СОГЛАШЕНИЯ
          h5.section1__subheader Последняя редакция: 18.06.2018г.
          .info
            p PlatinumTrade LTD (компания, зарегистрированная в соответствии с законодательством Saint Vincent and the Grenadines, регистрационный номер 24581 IBC 2018, офис расположен по адресу Suite 305, Griffrth Corporate Centre Mailing Address: P.O. Box I510, Beachmont Kingstown ) (в дальнейшем — Компания), предоставляет доступ на сайт https://platinumtrade.org (в дальнейшем — Сайт) и возможность использования сервисов Сайта физическим или юридическим лицом (в дальнейшем — Клиент), в порядке и на условиях данного Соглашения (далее — Договор). Настоящий Договор заключается между Компанией с одной стороны, и Клиентом, физическим лицом, с другой стороны.

            p: span.bold-text 1.Общие постановления
            p 1.1. Настоящий Договор поясняет использование различных условий, применимых к услугам, доступным на нашем Сайте. Клиент имеет право свободно пользоваться услугами нашей службы поддержки, связываться с Компанией по электронной почте в любой момент при возникновении вопросов. Наш Сайт доступен по всему миру, везде, где есть доступ в интернет. Доступ и пользование нашим Сайтом подпадают под действие настоящих Условий и соглашений.

            p ПОЛЬЗУЯСЬ НАШИМ САЙТОМ, КЛИЕНТ ПРИНИМАЕТ БЕЗ ОГРАНИЧЕНИЙ ВСЕ УСЛОВИЯ И СОГЛАШЕНИЯ, ПРЕДСТАВЛЕННЫЕ В НАСТОЯЩЕМ ДОГОВОРЕ.

            p 1.2. Компания оставляет за собой право изменять настоящие условия и соглашения в любое время. Изменение настоящих условий и соглашений вступает в силу при размещении их новой, изменённой версии на нашем Сайте. Пользуясь нашим Сайтом, Клиент заранее соглашается, что каждое использование Сайта будет регулироваться действующими условиями и ограничениями. Пользуясь нашим Сайтом, Клиент принимает настоящие Условие и соглашение, а также размещённые ниже Политику конфиденциальности. Если Клиент не согласен с упомянутыми Условиями, он должен немедленно прекратить использование Сайта.

            p: span.bold-text 2.Соглашение об онлайн-услугах
            p Настоящий Договор заключается между Компанией («Наш сайт») и Клиентом. Настоящий Договор относится как к Нашему сайту и торговой платформе, так и к электронному контенту и/или программному обеспечению, содержащемуся в конкретный момент на Нашем сайте, которое в реальном времени предоставляет покупателям информацию по курсу обмена валют, а также программным сервисам для транзакций на рынке Форекс через интернет, по телефону или факсу, и любым другим функциям, контенту или услугам, которые Компания может добавить позже (далее «Услуги»).

            p: span.bold-text 3.Условия сотрудничества
            p 3.1. Услуги доступны только лицам, которые могут заключить Договор, имеющий юридическую силу по законам государства их проживания. Без ограничения нижеупомянутых условий наши Услуги недоступны лицам до 18 лет или не достигшим установленного в стране их проживания совершеннолетия (далее «Несовершеннолетние»). Несовершеннолетние не могут использовать данный Сайт.

            p УБЕДИТЕЛЬНО ПРОСИМ НЕ ПОЛЬЗОВАТЬСЯ НАШИМ САЙТОМ, ЕСЛИ ВЫ НЕ ИМЕЕТЕ НА ЭТО ПРАВА.

            p 3.2. Во избежание любых сомнений, Компания отказывается от ответственности за какие бы то ни было случаи, когда Несовершеннолетние без авторизации пользуются нашими услугами в любом виде и под любым предлогом. Кроме того, наши Услуги доступны только людям, обладающим опытом и достаточными знаниями в сфере финансов, способным оценить выгоды и риски заключения финансовых контрактов через наш Сайт. Клиент несёт полную личную ответственность за любые решения, принятые им на основании контента нашего Сайта. Не отходя от вышеупомянутого положения, Компания отказывается от любой ответственности за аудит и/или проверку уровня знаний и/или опыта Клиента, а также от любой ответственности за ущерб, являющийся прямым и/или непрямым результатом того, что Клиентом воспользовался нашими Услугами.

            p: span.bold-text 4.Информация и требования по регистрации.
            p При регистрации Клиент обязан предоставить определённую личную информацию. Клиент отвечает за безопасность логина и пароля своей учётной записи на https://platinumtrade.org. Клиент несёт полную ответственность за ущерб, понесённый из-за любого действия или оплошности в результате неправильного или незаконного пользования учётной записью Клиента.
            p Клиент соглашается предоставлять точную и полную информацию о себе при регистрации, а также соглашается не выдавать себя за другое физическое лицо и не скрывать свою личность перед Компанией под каким бы то ни было предлогом. Компания с осторожностью обращается с предоставленной Клиентом информацией, в соответствии с правилами соблюдения конфиденциальности информации.

            p Процедура регистрации клиента состоит из 2-х этапов:
            p - процедура регистрации Клиента на сайте Компании;
            p - процедура проверки личности и данных, указанных при регистрации.

            p Процедура регистрации Клиента является обязательной для Клиента Компании. Для прохождения процедуры регистрации Клиента на сайте Компании необходимо совершить следующие действия:
            p - ввести личные и контактные данные;
            p - принять условия настоящего Договора и приложений к нему.

            p Клиент обязан зарегистрировать только 1 (один) счет в Компании. В случае выявления нескольких счетов, принадлежащих одному Клиенту, все такие счета будут заблокированы, а средства, содержащиеся на них, не будут подлежать выводу.

            p: span.bold-text 5.Правовые ограничения
            p Клиент должен понимать, что, без ограничения нижеупомянутых положений, законы в отношении финансовых контрактов различны в разных странах, и Компания обязана проследить за тем, чтобы Клиент мог соблюдать любые законы, инструкции и правила своей страны проживания в отношении использования нашего Сайта. Во избежание любых сомнений, следует упомянуть, что возможность доступа к нашему Сайту не обязательно означает, что наши Услуги и/или деятельность Клиента через наш Сайт являются законными в соответствии с законами, инструкциями или правилами страны проживания Клиента. Настоящим Клиент заявляет, что деньги на его счету на https://platinumtrade.org не связаны с распространением наркотиков, терроризмом, похищением людей или другой незаконной деятельностью.

            p: span.bold-text 6.Ограниченная лицензия
            p 6.1. Компания предоставляет Клиенту ограниченную неисключительную, не подлежащую передаче лицензию на доступ и пользование Нашим сайтом (далее «Лицензия»). На Лицензию распространяется согласие Клиента с условиями настоящего Договора. Клиент соглашается не перепродавать и не предоставлять доступ к Сайту любым третьим лицам, обязуется не копировать никаких документов, содержащихся на нашем сайте, для перепродажи или любых других целей, не получив письменного согласия Компании.

            p 6.2. Клиент будет нести ответственность за любое неавторизованное использование нашего Cайта в нарушение данного раздела. Клиент соглашается использовать всю информацию, полученную в информационных системах https://platinumtrade.org, с единственной целью выполнения транзакций в пределах ограничений Сайта. Клиент также соглашается не использовать функцию электронной коммуникации на нашем Сайте для любых незаконных, оскорбительных, угрожающих, агрессивных действий, а также с целью ущемления прав и/или вторжения в частную жизнь других людей. Лицензия, предоставленная по настоящему Договору, прекратит своё действие, если Компания посчитает недействительной любую информацию, предоставленную Клиентом, или если Клиент перестанет соблюдать любое из условий настоящего соглашения или любое из инструкций и правил для каждой услуги. То же самое справедливо в случае, если Компания определит, что Клиент совершил преступление на торговой платформе https://platinumtrade.org (в том числе, без ограничений, транзакции вне рыночных ставок). В случае такого нарушения, Клиент соглашается прекратить своё пользование нашими Услугами. Клиент соглашается, что Компания, по своему собственному усмотрению и без предварительного уведомления, может прекратить доступ к услугам полностью или частично, закрыть любую открытую транзакцию и удалить, и уничтожить любую информацию или контент в рамках сервиса.

            p: span.bold-text 7.Финансовая информация
            p Через одну из своих Услуг или более, с https://platinumtrade.org может предоставить клиенту доступ к широкому диапазону финансовой информации, накопленной от агентов, поставщиков или партнёров (далее «Сторонние поставщики»). Это включает (но не ограничивается ими) данные финансового рынка, цитаты и новости, мнения аналитиков и отчёты исследователей (далее «Финансовая информация»). Финансовая информация, предоставленная на этом сайте, не является намеренной инвестиционной рекомендацией. Компания предоставляет Финансовую информацию лишь как услугу. https://platinumtrade.org, и его Сторонние поставщики не гарантируют точность, актуальность, полноту или правильную последовательность Финансовой информации, а также результатов её использования вами. Финансовая информация может быстро стать ненадёжной по различным причинам, в том числе, например, из-за изменения рыночных условий или экономических обстоятельств. Ни Компания, ни Сторонние поставщики не обязаны обновлять информацию или мнения, входящие в Финансовую информацию, а мы можем прерывать поток Финансовой информации в любой момент без предварительного уведомления. Клиент несёт ответственность за уточнение надёжности информации на Сайте и её пригодности для своих нужд. Мы исключаем любую ответственность по каким бы то ни было претензиям, за ущерб или потерю любого рода, вызванные информацией, которая содержится на Сайте или на которую ссылается Сайт.

            p: span.bold-text 8.Ссылки
            p https://platinumtrade.org может предлагать ссылки на другие сайты, созданные или контролируемые третьими сторонами. Такие ссылки на сайт или сайты не являются ни поддержкой, ни одобрением, спонсированием или подтверждениями таковых сайтов, их владельцев или поставщиков. Компания рекомендует тщательно оценить риски, связанные с использованием таких сайтов, перед тем, как скачивать данные или делать покупки через интернет. Ссылки на эти сайты предоставлены исключительно для удобства Клиента, который соглашается не возлагать на Компанию ответственность за любые потери или ущерб из-за использования любого контента, продуктов или услуг, доступных на других сайтах.

            p: span.bold-text 9.Торговая отмена
            p Компания оставляет за собой право по своему собственному усмотрению отменять услуги или отказываться их предоставлять, и/или отказываться поставлять прибыли любым лицам по законным причинам. В том числе, без ограничений:
            p если у Компании есть причины считать, что деятельность данного лица на Сайте может быть незаконной;
            p если Компания может понести любой финансовый или материальный ущерб из-за чьей-либо деятельности;
            p если Компания считает, что одно или более действий на Сайте были совершены с нарушением настоящего договора.

            p: span.bold-text 10. Процедуры депозита
            p Для того чтобы ввести средства на счет, Клиент должен составить заявку на ввод средств из личного кабинета. Для этого Клиент должен выбрать одну из платежных систем, указанных на сайте Компании и перейти по соответствующей ссылке с указанием всех необходимых данных. Для пополнения счета доступны следующие валюты: USD и EUR. Сроки обработки заявки на депозит зависят от выбранной платежной системы и не могут быть урегулированы со стороны Компании. При наличии технической возможности операции по вводу при использовании электронных платежных систем могут проходить моментально. При использовании банковского перевода сроки могут составлять от 3 до 14 рабочих дней, в зависимости от банка, используемого Клиентом и банков-корреспондентов. Компания не является налоговым агентом и не предоставляет данные об операциях своих клиентов третьим лицам. Такая информация может быть предоставлена только при наличии официального запроса от компетентных государственных органов.

            p: span.bold-text 11. Правила вывода средств
            p 11.1. Официальными способами ввода/вывода средств являются кошельки/счета Компании в тех платежных системах, которые указаны на сайте Компании. Все риски, связанные с использованием платежных систем, Клиент принимает на себя, поскольку платежные системы не являются партнерами Компании. Компания не несет ответственность за задержку и/или не поступление средств на баланс счета Клиента по вине платежной системы. В случае возникновения претензий со стороны Клиента к корректности работы платежных систем, Клиенту следует обратиться в службу поддержки такой платежной системы. Клиент обязан уведомлять о случаях подобных обращений. Компания не несет ответственности за действия третьих лиц, осуществляющих посредническую деятельность при проведении Клиентами операций по вводу/выводу средств. При проведении Клиентом операций по вводу средств, финансовая ответственность Компании наступает с момента поступления средств Клиента на банковский счет Копании и/или на счет Компании в платежных системах, указанных на сайте Компании. В случае выявления признаков мошенничества при осуществлений финансовых транзакций после зачисления средств на баланс счета Клиента, Компания оставляет за собой право отменить данную транзакцию и заморозить счет клиента. При проведении Клиентами операций по выводу средств финансовая ответственность Компании заканчивается в момент списания средств с банковского счета Компании и/или со счета Компании в платежных системах, указанных на сайте Компании.

            p 11.2 Для вывода средств со счета Клиент направляет запрос на вывод средств из своего личного профиля. Чтобы заполнить запрос на вывод средств надлежащим образом, Клиент должен выбрать из списка один из платежных способов и указать все необходимые данные. После того, как Клиент отправит запрос на вывод средств, запрос получает статус «Отправлен». Когда запрос обрабатывается, он получает статус «В обработке». После присвоения статуса «В обработке» запрашиваемые средства списываются с остатка на счете Клиента. После того, как запрос на вывод средств получает статус «Обработан», запрошенные средства переводятся в платежную систему. Запросы на вывод средств обрабатываются финансовым отделом Компании в порядке очереди. Время обработки составляет 24 часа. Компания оставляет за собой право увеличить время обработки заявки. Клиент вправе вывести средства только через платежную систему, которая использовалась для внесения средств на его счет. В случае если вывести средства через платежную систему, которая использовалась для внесения средств, технически невозможно, платежный способ выбирается Компанией в соответствии с пожеланиями Клиента. В этом случае платежные реквизиты должны соответствовать данным, указанным Клиентом в личной информации.
            p Клиент несет полную ответственность за информацию, предоставленную Компании в запросе на вывод средств. В случае, если Клиент использует для ввода средств банковскую карту, то вывод средств должен быть осуществлен на данную карту на сумму, не превышающую сумму ввода с данной карты за период 90 (девяносто) календарных дней с момента ввода средств. Выплаты на банковские карты имеют больший приоритет, чем другие способы вывода средств. Время вывода может варьироваться от 1 до 5 рабочих дней, однако обработка может занимать больше времени из-за различных факторов, в том числе, помимо прочего, скорость цифровой сети и/или возможность обработки запросов на вывод, и в этих случаях Компания не несет ответственности за любые задержки и/или убытки, причиненные Клиентам.

            p 11.3. В случае возникновения технических ошибок со стороны Компании при совершении финансовых транзакций, Компания оставляет за собой право отменить такие транзакции и их результаты, а также результаты предоставляемых Компанией услуг.

            p: span.bold-text 12. Процедура проверки личности (верификация).
            p 12.1. Финансовый отдел Компании отслеживает каждое пополнение депозита клиентом и обязательным требованием после пополнения является - процедура проверки личности (верификация). Процедура проверки личности и данных проводится Компанией для подтверждения правильности и полноты данных, указанных Клиентом при регистрации. Для проведения данной процедуры Компания обязана потребовать, а Клиент обязан предоставить:

            p - скан или цифровую фотографию Общегражданского, Заграничного Паспорта, ID Card или другого документа, удостоверяющую личность Клиента в удобочитаемом виде. Для граждан РФ – разворот страниц (ы) с фотографией и личными данными.
            p - Для граждан других стран – страница (ы) паспорта с фотографией и личными данными или другого документа (например ID Card), содержащего фотографию и личные данные.
            p - скан или цифровую фотографию платежной карты с отображением первых 6 (шести) и последних 4 (четырех) цифр. (формат файлов: jpg или png или pdf)
            p - заполнить, подписать, отсканировать или сделать цифровую фотографию и отправить на support@platinumtrade.org – ФОРМУ АВТОРИЗАЦИИ КРЕДИТНОЙ КАРТЫ Ф-306 и РАЗРЕШЕНИЕ I-402 (данные формы предоставляются Компанией после пополнения депозита).

            p 12.2. Дополнительно Компания вправе потребовать актуальные счета за коммунальные услуги, договор с банком об открытии персонального счета, а также любые другие документы, если указанные выше документы не позволяют в полном объеме идентифицировать Клиента и/или указанные им личные данные.

            p 12.3. Процедура проверки личности и данных должна быть проведена в течение 10 (десяти) рабочих дней с момента подачи Компанией требования о проверке личности Клиента. В отдельных случаях допускается увеличение этого срока до 30 (тридцати) рабочих дней по усмотрению Компании.
            p В случае не предоставление данных для верификации Клиента, Компания в праве расторгнуть данное Соглашение в одностороннем порядке и не возвратить средства, внесенные Клиентом ранее до прохождения процедуры верификации.

            p: span.bold-text 13. Политика возврата денежных средств (REFUND & RETURNS POLICY OTHER T&C'S).
            p 13.1. Компания, стремится, чтобы каждый клиент остался доволен качеством предоставляемых услуг. Именно для этого предназначена данная политика возврата денежных средств.
            p При пополнении торгового счета с банковской карты, Вы обязуетесь не подавать заявку на отзыв уже зачисленного на торговый счет платежа в ваш банк или поставщику вашей кредитной карты как во время, так и после завершения пользования нашими услугами. Любая подобная попытка будет расцениваться нашей Компанией как нарушение Клиентского Соглашения. Если Компания все же получит отзыв платежа по сделке, мы сохраняем за собой право заморозить текущей баланс клиента и переслать денежные средства обратно на торговый счет после оплаты всех услуг и комиссий. Также, если в течение месяца на вашем счете не было зафиксировано никакой торговой активности, или же торговля велась, но в недостаточном объеме (торговый объем рассчитывается компанией в индивидуальном порядке), мы будем вправе вернуть денежные средства отправителю. В этом случае мы возвращаем весь депозит. Также при определенных объективных причинах и в случае необходимости Компания может производить возврат платежей, полученных через любую платежную систему, включая кредитные/дебетовые карты. В этом случае средства будут возвращены обратно на ту же платежную систему, кредитную/дебетовую карту или банковский счет, с которого они были получены. При получении запроса на выплату/возврат средств, Компания может потратить до 5 банковских дней на обработку запроса. После утверждения запроса нужно подождать 5-7 дополнительных дней до перевода средств на счёт Клиента. Клиент имеет право на полное 100% возмещение своих неиспользованных фондов. В случае проигрыша возмещение не предусмотрено, и Компания ответственности не несёт.

            p 13.2. В случае возникновения обоснованных подозрений в том, что источник Ваших денежных средств и/или деятельность в целом противоречат политике Компании по Борьбе с Отмыванием Денег (БОД), Компания оставляет за собой право в одностороннем порядке отказать в вводе/выводе средств на/c ваших счетов в наших системах, заморозить данные активы и вернуть их обратно отправителю. Пожалуйста, обратите внимание на то, что мы также будем обязаны уведомить соответствующие государственные учреждения о каждом случае нарушения политики БОД и будем вправе раскрыть ваши личные данные. Компания предпримет все необходимые меры, чтобы предотвратить и блокировать как зачисление, так и снятие третьими лицами денежных средств с Ваших счетов. Ввод и вывод денежных средств со счета может осуществляться только владельцем данного счета.

            p 13.3. В случае, если на протяжении всего периода пользования нашими услугами, мы классифицируем любую вашу деятельность (в особенности пополнение/вывод средств) противоречащей обычной цели пользования нашими услугами, где имеет место прямое или косвенное, неправомерное или недобросовестное намерение, мы храним за собой право действовать в рамках данного документа, не информируя вас заблаговременно. Одновременно вы, в этом случае, возмещаете наши прямые и косвенные потери/урон, который мы понесли в результате вашей деятельности, в особенности – мы по собственному усмотрению компенсируем себе все издержки, связанные с денежными переводами, удерживая соответствующие суммы из ваших средств.

            p: span.bold-text 14. Бонус и Реферальная система
            p Компания предоставляет привлекательные поощрения для своих новых и постоянных клиентов. Бонусы и реферальная система (те же бонусы), а также одноразовые и/или многоразовые торговые кредиты входят в программу поощрений Компании. Величина бонуса зависит от размера депозита Клиента, либо от условий акции, в рамках которой Клиенту начисляются бонусные средства. Бонусные средства, зачисленные на торговый счет Клиента, не являются финансовым обязательством Компании перед Клиентом. Эти бонусы имеют ограничения по времени, а условия, относящиеся к ним, могут изменяться. В бонусах и акциях задействуется валюта, соответствующая валюте Клиентского Торгового счета. Чтобы снять свой бонус, от Клиента потребуется выполнить как минимум 30 торговых операций за каждый бонус в один доллар в течении 5 дней. Если данное условие не выполнено на всю сумму бонусов, то бонусы аннулируются. Бонус может быть выведен только при полном соблюдении и выполнении вышеизложенных условий. Любой вывод фондов с любой учётной записи, совершённый до выполнения условий снятия бонуса, будет сразу же отменён и удалён с аккаунта. Любые признаки мошенничества, незаконных манипуляций, других форм обмана и мошеннической деятельности будут поводом для аннуляции аккаунта, а также любых связанных с ним прибылей или потерь.

            p: span.bold-text 15. Ограниченная ответственность
            p Компания стремится обеспечить непрерывность Услуг на Сайте. Однако при этом Компания не несёт ответственности за любые ошибки, упущения, удаления, прерывания, задержки, дефекты работы Сайта и передачи, сбои линий связи, кражи, потери в связи с материальными разрушениями, неавторизованный доступ или изменение Сайта или Услуг. Компания отказывается от ответственности за любые проблемы или технические неисправности любых телефонных сетей и линий, аппаратного или программного обеспечения, любые технические неисправности и проблемы с траффиком, на Сайте или с Услугами. В рамках применимого законодательства, компания ни в коем случае не несёт ответственности за любые потери или ущерб, возникшие в результате использования Сайта или Услуг с любым контентом, размещённым на Сайте или через Услуги, а также за поведение всех пользователей Сайта или Услуг, будь то онлайн или оффлайн.

            p НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ САЙТ КОМПАНИИ, ЕГО РУКОВОДИТЕЛИ, СОТРУДНИКИ ИЛИ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ЗА КАКОЙ БЫ ТО НИ БЫЛО ПОНЕСЁННЫЙ КЛИЕНТОМ УЩЕРБ. В ТОМ ЧИСЛЕ, БЕЗ ОГРАНИЧЕНИЙ, НЕПРЯМОЙ, СЛУЧАЙНЫЙ, ПОБОЧНЫЙ ИЛИ ШТРАФНОЙ УЩЕРБ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА ИЛИ УСЛУГ. СЮДА ОТНОСЯТСЯ, БЕЗ ОГРАНИЧЕНИЙ, ПОЛЕЗНОСТЬ ИНФОРМАЦИИ, ПРЕДОСТАВЛЕННОЙ В СОСТАВЕ САЙТА, А ТАКЖЕ ПРИНЯТИЕ ЛЮБЫХ РЕШЕНИЙ НА ОСНОВЕ РАЗМЕЩЁННОЙ НА САЙТЕ ИНФОРМАЦИИ – НЕЗАВИСИМО ОТ ТОГО, БЫЛ УЩЕРБ ПРЕДСКАЗУЕМЫМ ИЛИ НЕТ, БЫЛА ЛИ КОМПАНИЯ ОЗНАКОМЛЕНА С ВОЗМОЖНОСТЬЮ УЩЕРБА ИЛИ НЕТ. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ ДЕЙСТВУЕТ В МАКСИМАЛЬНОЙ МЕРЕ, РАЗРЕШЕННОЙ ЗАКОНОМ СООТВЕТСТВУЮЩЕЙ ЮРИСДИКЦИИ, И НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ ОБЩАЯ ЗАДОЛЖЕННОСТЬ КОМПАНИИ ПЕРЕД КЛИЕНТОМ НЕ ПРЕВЫСИТ ОБЩУЮ СУММУ, ПЕРЕДАННУЮ ИЛИ ВНЕСЁННУЮ НА АККАУНТ КЛИЕНТА НА САЙТЕ В РЕЗУЛЬТАТЕ СДЕЛКИ, ПРИВЕДШЕЙ К ТАКОВОЙ ЗАДОЛЖЕННОСТИ.

            p: span.bold-text 16. Предотвращение отмывания денег
            p 16.1. Этот Сайт запрещено использовать в целях отмывания денег. Компания задействует лучшие практики против отмывания денег. Компания оставляет за собой право отказываться от любых деловых отношений и прекращать их, а также отменять любую операцию покупателей, не соблюдающих требования по борьбе с отмыванием денег:
            p Онлайн-трейдеры должны предоставить всю информацию, требуемую для регистрации.
            p Прибыли будут выплачены лицу, которое первым зарегистрировало учётную запись онлайн.

            p 16.2. В случае, когда клиент поддерживает свой счёт через банковские переводы, прибыли будут переведены единственному владельцу исходного банковского счёта. Когда вклады делаются с помощью кредитной или дебетовой карты, выигрыш будет переведёт только лицу, чьё имя указано на карте, с которой сделан вклад, и будет возмещён на ту же карту. Разрешена только одна учётная запись на одно физическое лицо. Прибыли не будут начисляться на учётные записи, открытые под фальшивыми именами, или на несколько аккаунтов, открытых одним лицом.

            p 16.3. Время от времени Компания может, по собственному усмотрению, требовать от Клиента дополнительного подтверждения личности – например, нотариально заверенную копию паспорта или другие средства проверки личности, которые считаются необходимыми в определённых обстоятельствах. Компания может по своему усмотрению приостанавливать работу учётной записи до завершения такой проверки.

            p: span.bold-text 17. Интеллектуальная собственность
            p Весь контент, любой товарный знак, знак обслуживания, фирменное наименование, логотип и значок являются собственностью https://platinumtrade.org, его филиалов или агентов, защищены законом, международными соглашениями и положениями в отношении авторского права. Клиент соглашается не удалять уведомления об авторских правах или другие признаки защищённых прав интеллектуальной собственности на любом материале, который клиент распечатывает или загружает с Сайта. Клиент не получит прав на интеллектуальную собственность, как и любого права или лицензии на использование таких материалов или Сайта, кроме указанных далее в настоящем документе. Изображения, показанные на Сайте, являются собственностью Компании. Клиент соглашается не загружать, не размещать, не распространять и не воспроизводить любую информацию, программное обеспечение или другие материалы, защищённые авторским правом или другими правами на интеллектуальную собственность (в том числе правом на публичность и неприкосновенность частной жизни) без предварительного получения разрешения от владельца авторских прав и предварительно предоставленного письменного согласия Компании.

            p: span.bold-text 18. Возмещение ущерба
            p Клиент соглашается защищать нашу Компанию, её должностных лиц, директоров, служащих и агентов от любых претензий, ответственности, ущерба, потерь и расходов, в том числе, без ограничений, разумной оплаты работы адвоката и расходов, возникающих вследствие/ или любым образом связанные с доступом Клиента к Сайту или использованием Клиентом Сайта или Услуг; от нарушения Клиентом любых условий настоящего Договора; от нарушения Клиентом любых применимых законов или правил.

            p: span.bold-text 19. Срок действия и порядок расторжения договора
            p Срок действия Договора неограничен. Тем не менее, Компания имеет право расторгнуть настоящий Договор в любое время путём уведомления Клиента. Если клиент, по каким-то причинам не доступен по предоставленной им информации для связи, либо не отвечает в течении 5 календарных дней, Компания в праве расторгнуть договор в одностороннем порядке. По расторжению Договора Клиент не будет иметь возможности осуществлять новые операции.

            p: span.bold-text 20. Общие оговорки
            p Компания не будет каким бы то ни было образом нести ответственность перед любыми лицами в случае возникновения форс-мажорных обстоятельств или за действия любого правительства или правового органа. В случае, если какое-либо положение настоящего Договора объявляется недействительным или неисполнимым, остальные положения остаются в силе. Неспособность какой-либо из сторон обеспечить любое положение настоящего Договора не будет считаться отказом от такового положения. Наша Компания может передать настоящий Договор или любые права и/или обязательства по настоящему Договору без согласия Клиента. Наша Компания может время от времени вносить изменения в условия настоящего Договора путём размещения изменённых условий на Сайте. Клиент несёт ответственность за проверку наличия внесённых в Договор изменений. Любая поправка вступает в силу в день публикации на Сайте. При несогласии соблюдать изменённые условия настоящего Договора, Клиент не должен пользоваться нашими Услугами или осуществлять к ним доступ, а также обязан немедленно информировать об этом Компанию в письменном виде.

            p: span.bold-text 21. Регулирующее законодательство и суды с исключительной юрисдикцией
            p Настоящий Договор будет регулироваться в соответствии с законами Независимого Государства Сент-Винсент и Гренадины без учёта выбора принципов права. Любые юридические действия или судебные разбирательства, возникающие в связи с настоящим Договором, будут рассматриваться исключительно в судах Независимого Государства Сент-Винсент и Гренадины, и стороны безоговорочно соглашаются с такой юрисдикцией и таким местом встречи.

      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')