@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: mel; src: url(../fonts/Montserrat-ExtraLight.otf);}
@font-face {font-family: ml; src: url(../fonts/Montserrat-Light.otf);}
@font-face {font-family: mr; src: url(../fonts/Montserrat-Regular.otf);}
@font-face {font-family: mt; src: url(../fonts/Montserrat-Thin.otf);}
@font-face {font-family: rb; src: url(../fonts/Raleway-Bold.ttf);}
@font-face {font-family: reb; src: url(../fonts/Raleway-ExtraBold.ttf);}
@font-face {font-family: rm; src: url(../fonts/Raleway-Medium.ttf);}
@font-face {font-family: rr; src: url(../fonts/Raleway-Regular.ttf);}
@font-face {font-family: rsb; src: url(../fonts/Raleway-SemiBold.ttf);}
