* {
	box-sizing: border-box;
}

a, a:hover {
	color: black;
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

section,
.navigation,
.footer-info,
.footer-copyright {
	position: relative;
	margin: 0 auto;
	max-width: 1230px;
	text-align: center;
	padding: 0 15px;
	@media only screen and (min-width: 576px) {
		padding: 0 30px;
	}
	.section-header {
		font-family: rsb;
		font-size: 30px;
		color: #555555;
		padding-top: 30px;
		@media only screen and (min-width: 576px) {
			padding-top: 80px;
		}
	}
	.section-subheader {
		font-family: ml;
		font-size: 16px;
		color: #8c8c8c;
		line-height: 30px;
		max-width: 800px;
		margin: 0 auto;
		padding-top: 17px;
	}
}