@media only screen and (min-width: 1200px) {
// @media only screen and (min-width: 1200px) and (min-height: 600px) {
  /* ↓↓↓ MAIN PART ↓↓↓ */
  .main {
    height                       : calc(100% - 60px);
    /* ↓↓↓ SECTION 1 (work area) ↓↓↓ */
    #container {
      height                     : calc(100% - 200px);
    }
    .slider-area {
      bottom                     : 10px;
    }
    /* ↑↑↑ /SECTION 1 (work area) ↑↑↑ */

    /* ↓↓↓ SECTION 3 (right column) ↓↓↓ */
    .right-column {
      position                  : relative;
      z-index                   : 1;
      right                     : 0;
      height                    : 100%;
      border-left               : none;
      border-bottom             : none;
      .work-field-wrapper {
        max-height              : calc(100vh - 260px);
        width                   : calc(100% + 17px);
        overflow-y              : scroll;
      }
      .parlay-slider {
        &__item-choice-field {
          width                 : calc(100% - 1px);
        }
      }
      .slider-change-btn-holder {
        display                 : flex;
        bottom                  : 10px;
        &:after {
          display               : block;
        }
      }
    }
    /* ↑↑↑ /SECTION 3 (right column) ↑↑↑ */
  }
}