doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="Trade in your own way: currency pairs, stocks, indices, commodities and cryptocurrency.")

    title Contacts
    link(rel='icon', href='assets/img/logo.png')

    // css-libs
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/animate.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/et-line-font-plugin.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/icon54.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/material.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/mbr-additional.css')
    link(rel ='stylesheet', type='text/css', href='assets/libs-css/mobirise-icons-bold.css')

    // own stylesheet
    link(rel='stylesheet', type='text/css', href='assets/css/contacts.css')
    link(rel='stylesheet', type='text/css', href='assets/css/forms.css')

    // jQuery
    script(src='assets/libs/jquery.js')
  body
    // HEADER
    include assets/BEM-blocks/header/header_en.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper(data-parallax="scroll" data-image-src="assets/img/contacts_bg.jpg")
        section.section1
          .section1__headers-wrapper
            h1.wow.fadeInUp.section1__header CONTACTS
            h4.wow.fadeInUp.section1__subheader OPERATIONAL OFFICE
          .section1__icon-wrapper
            span.mbrib-map-pin.mbr-iconfont.mbr-iconfont-msg-box5
      // /SECTION 1

      // SECTION 2
      .s2-wrapper
        section.section2
          .section2__left-column
            a(href='#'): img(src="assets/img/bigLogo.png", alt="veryBigLogo.png")
          .section2__right-column
            h1.wow.fadeInUp.section2__header Invest Trade Aliance Ltd. (E-Tokens Trade)
            p.wow.fadeInUp.section2__text Suite 244, Griffith Corporate Centre, P.O. Box 1510, Beachmont, Kingstown, SVG.
            p.wow.fadeInUp.section2__text
              span(style='font-family: rb') Etokenstrade.com
              |
              | is a trademark of Invest Trade Aliance Ltd.
      // /SECTION 2

      // SECTION 3
      .s3-wrapper
        section.section3
          .section3__left-column
            <iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCy9r70T3NYf3PhvVflTo0_zdif2_IoIYs&amp;q=place_id:ChIJGZmI11BRR4wR1kelWXcAFOw" allowfullscreen="" frameborder="0"></iframe>
          .section3__right-column
            .section3__header.wow.fadeInUp OUR CONTACTS
            .section3__envelop.etl-icon.icon-envelope.mbr-iconfont-form1.wow.fadeInUp
            .section3__contacts-info.wow.fadeInUp E-Tokens Trade has a highly professional support service. You can also contact us at the numbers below.
            .section3__contacts-time.wow.fadeInUp GMT 9:00–19:00
            .section3__contacts.wow.fadeInUp
              span(style='padding-right:10px') Riga:
              a(href="tel:+37166103210") +37166103210
            .section3__contacts.wow.fadeInUp
              span(style='padding-right:10px') London:
              a(href="tel:+442033186528") +442033186528
            .section3__contacts.wow.fadeInUp
              span(style='padding-right:10px') Moscow:
              a(href="tel:+74993713318") +74993713318
            .section3__contacts(style='margin-bottom:30px').wow.fadeInUp
              a(href="mailto:support@etokenstrade.com") support@etokenstrade.com

            .regform-wrapper
              form.regform.wow.fadeInUp(action='#', method='post', name='contacts-form')
                .regform__column(style="width:100%; margin-right: 0")
                  label.regform__label(for='input-id') Name / ID:
                  .regform__input-wrapper
                    input#input-id.regform__input(type='text', name='input-id', autocomplete='off', maxlength='30' placeholder='Customer Name or ID*')
                  .regform__info.regform__info_error Enter your name!

                  label.regform__label(for='input-phone') Phone:
                  .regform__input-wrapper
                    .regform__flag-wrapper
                      .regform__flag-wrapper-cover-for-click
                      .regform__img-flag-wrapper
                        img.regform__flag-img(src="assets/img/european_union.png", alt="country-flag")
                      i.fas.fa-caret-down
                    .regform__countries-wrapper

                      //- .regform__country
                      //-   .regform__img-flag-wrapper
                      //-     img.regform__flag-img(src="assets/img/european_union.png", alt="country-flag")
                      //-   .regform__country-name euro union

                    input#input-country-code.regform__input.regform__input_ccode(type='text', name='input-phone' value='+000' readonly)
                    input#input-phone.regform__input.regform__input_phone(type='text', name='input-phone' readonly)
                  .regform__info.regform__info_error Enter a valid phone number!

                  label.regform__label(for='input-email') E-mail:
                  .regform__input-wrapper
                    input#input-email.regform__input(type='text', name='input-email', autocomplete='off' placeholder='Enter your mail here')
                  .regform__info.regform__info_error Enter a valid email address!

                  label.regform__label(for='#message') Message:
                  .regform__input-wrapper
                    textarea#message.regform__textarea(placeholder='Message')
                  .regform__info.regform__info_error Message field cannot be empty!

                  .regform__form-btns-wrapper
                    include assets/BEM-blocks/anti_bot_filter/anti_bot_filter_en.pug
                    button#btnsubmit(type='button') Send
      // /SECTION 3
      include assets/BEM-blocks/payment_systems/payment_systems.pug
    // /MAIN SECTION

    // FOOTER
    include assets/BEM-blocks/footer/footer_en.pug
    // /FOOTER

    // scripts
    script(src='assets/libs/fontawesome-all.js')
    script(src='assets/libs/parallax.js')
    script(src="assets/libs/wow.js")
    script(src="assets/libs/countries.js")
    script.
      new WOW().init();

    // own js
    script(src='assets/js/form_contacts.js')
    script(type="text/javascript").
      document.ondragstart = noselect;
      // запрет на перетаскивание
      document.onselectstart = noselect;
      // запрет на выделение элементов страницы
      document.oncontextmenu = noselect;
      // запрет на выведение контекстного меню
      function noselect() {return false;}