doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="Торгуй по-своему: валютные пары, акции, индексы, товары и криптовалюта.")

    title Восстановление пароля
    link(rel='icon', href='assets/img/logo.png')

    // css-libs
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/animate.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/et-line-font-plugin.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/icon54.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/material.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/mbr-additional.css')
    link(rel ='stylesheet', type='text/css', href='assets/libs-css/mobirise-icons-bold.css')

    // own stylesheet
    link(rel='stylesheet', type='text/css', href='assets/css/pages_with_forms.css')
    link(rel='stylesheet', type='text/css', href='assets/css/forms.css')

    // jQuery
    script(src='assets/libs/jquery.js')
  body
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper(data-parallax="scroll" data-image-src="assets/img/pages_with_forms_bg.jpg")
        section.section1
          .section1__headers-wrapper
            h1.wow.fadeInUp.section1__header ВОСТАНОВЛЕНИЕ
              br
              |
              | ПАРОЛЯ
            h4.wow.fadeInUp.section1__subheader КЛИЕНТСКАЯ ЗОНА САЙТА
          .section1__icon-wrapper
            span.mbrib-login.mbr-iconfont.mbr-iconfont-msg-box5
      // /SECTION 1

      // SECTION 2
      section.section2(style='padding-top: 50px')
        h4(style='font-family: fptb; font-size: 3rem; text-align: center; color: #525459; padding-bottom: 10px') Забыли пароль?
        h6(style='font-family: fptb; font-size: 1.6rem; text-align: center; color: #525459; padding-bottom: 30px') На вашу эл. почту, которую вы указали при регистрации, будет выслана ссылка для изменения пароля.
        include assets/BEM-blocks/form_forgot_your_password/form_forgot_your_password.pug
      // /SECTION 2
      include assets/BEM-blocks/payment_systems/payment_systems.pug
    // /MAIN SECTION

    // FOOTER
    include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // scripts
    script(src='assets/libs/fontawesome-all.js')
    script(src='assets/libs/parallax.js')
    script(src="assets/libs/wow.js")
    script.
      new WOW().init();

    // own js
    script(src='assets/js/form_forgot_your_password.js')
    script(type="text/javascript").
      document.ondragstart = noselect;
      // запрет на перетаскивание
      document.onselectstart = noselect;
      // запрет на выделение элементов страницы
      document.oncontextmenu = noselect;
      // запрет на выведение контекстного меню
      function noselect() {return false;}