doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="Trade in your own way: currency pairs, stocks, indices, commodities and cryptocurrency.")

    title Home E-Tokens Trade
    link(rel='icon', href='assets/img/logo.png')

    // css-libs
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/animate.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/et-line-font-plugin.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/icon54.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/material.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/linecons.css')

    // own stylesheet
    link(rel='stylesheet', type='text/css', href='assets/css/index.css')

    // jQuery
    script(src='assets/libs/jquery.js')
  body
    // HEADER
    include assets/BEM-blocks/header/header_en.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1(data-parallax="scroll" data-image-src="assets/img/bg1.png")
          h1.section1__header.wow.fadeInUp E-TokensTrade
          p.section1__mantra.wow.fadeInUp Discover the world of investing
          p.section1__mantra.wow.fadeInUp TRADE ON YOUR OWN
          p.section1__mantra.wow.fadeInUp Currency pairs, stocks, indices,
          p.section1__mantra.wow.fadeInUp goods and cryptocurrency
          .section1__btns-holder.wow.fadeInUp
            a.section1__registry-btn(href='registration_en.html') check in
            a.section1__authorization-btn(href='authorization_en.html') start now
          img.section1__bitcoins-img.wow.fadeInUp(src="assets/img/bitcoin-coins.png", alt="bitcoin-coins.png")
      // /SECTION 1

      // SECTION 2
      .s2-wrapper
        section.section2

          .section2-elem
            .section2-elem__img-holder.wow.fadeInUp
              a.icon54-v1-convert-curency.mbr-iconfont.mbr-iconfont-features7(href="#")
            h5.section2-elem__header.wow.fadeInUp Currencies
            p.section2-elem__text.wow.fadeInUp One of the largest financial markets in the world in terms of the volume of transactions and traded currency pairs.

          .section2-elem
            .section2-elem__img-holder.wow.fadeInUp
              a.icon54-v1-briefcase-2.mbr-iconfont.mbr-iconfont-features7(href="#")
            h5.section2-elem__header.wow.fadeInUp Promotions
            p.section2-elem__text.wow.fadeInUp Trade leading attractive stocks from various local and international markets.

          .section2-elem
            .section2-elem__img-holder.wow.fadeInUp
              a.icon54-v1-dot-chart1.mbr-iconfont.mbr-iconfont-features7(href="#")
            h5.section2-elem__header.wow.fadeInUp Indices
            p.section2-elem__text.wow.fadeInUp Direct trade in leading markets in Europe, the USA and the Far East.

          .section2-elem
            .section2-elem__img-holder.wow.fadeInUp
              a.icon54-v1-oil-tower.mbr-iconfont.mbr-iconfont-features7(href="#")
            h5.section2-elem__header.wow.fadeInUp Products
            p.section2-elem__text.wow.fadeInUp "One stop shop" for trading the world's leading commodities.

          .section2-elem
            .section2-elem__img-holder.wow.fadeInUp
              a.icon54-v1-convert-curency.mbr-iconfont.mbr-iconfont-features7(href="#")
            h5.section2-elem__header.wow.fadeInUp Cryptocurrencies
            p.section2-elem__text.wow.fadeInUp Trade cryptocurrencies
      // /SECTION 2

      // SECTION 3
      .s3-wrapper
        section.section3

          .section3-elem
            .section3-elem__img-holder.wow.fadeInUp
              a.mdi-action-account-balance-wallet.mbr-iconfont.mbr-iconfont-features2(href="#")
            h5.section3-elem__header.wow.fadeInUp PAYMENTS
              br
              | (DEPOSITS)
            p.section3-elem__text.wow.fadeInUp Support of payment card types (VISA, MasterCard, Maestro, MIR) in accordance with the requirements of PCI DSS. BTC cryptocurrency.

          .section3-elem
            .section3-elem__img-holder.wow.fadeInUp
              a.mdi-communication-quick-contacts-dialer.mbr-iconfont.mbr-iconfont-features2(href="#")
            h5.section3-elem__header.wow.fadeInUp SUPPORT
            p.section3-elem__text.wow.fadeInUp We work in a mode 12/5. E-Tokens Trade has a highly professional customer support service.

          .section3-elem
            .section3-elem__img-holder.wow.fadeInUp
              a.mdi-action-settings-input-composite.mbr-iconfont.mbr-iconfont-features2(href="#")
            h5.section3-elem__header.wow.fadeInUp UNRISED
              br
              | TRADE
            p.section3-elem__text.wow.fadeInUp Open an account and get one risk-free deal for a successful start on the road to financial success. Learning and working with the platform - will quickly help the beginner to learn trading.

          .section3-elem
            .section3-elem__img-holder.wow.fadeInUp
              a.mdi-action-account-circle.mbr-iconfont.mbr-iconfont-features2(href="#")
            h5.section3-elem__header.wow.fadeInUp INDEPENDENT
              br
              | TRADE
            p.section3-elem__text.wow.fadeInUp Independent trading allows you to fully concentrate on the trade that takes place on the market, on your reactions and frees you from worrying about the trading group, if it cooperates with it.

          .section3-elem
            .section3-elem__img-holder.wow.fadeInUp
              a.mdi-action-swap-vert-circle.mbr-iconfont.mbr-iconfont-features2(href="#")
            h5.section3-elem__header.wow.fadeInUp TRUSTING
              br
              | MANAGEMENT
            p.section3-elem__text.wow.fadeInUp Trust management chooses a lot of people who want to simply invest available funds and not engage in trading activities. A professional manager with experience in trading in financial markets will increase your funds.
      // /SECTION 3

      // SECTION 4
      .s4-wrapper
        section.section4

          .section4-elem
            .section4-elem__header-wrapper
              a.icon54-v1-documents.mbr-iconfont.mbr-iconfont-features4.wow.fadeInUp(href="#")
              .section4-elem__header-holder
                h5.section4-elem__header.wow.fadeInUp check in
                h6.section4-elem__sub-header.wow.fadeInUp SIGN UP AND FILL UP THE ACCOUNT
            p.section4-elem__text.wow.fadeInUp Register, replenish your trading account and go through the user identity verification procedure to ensure payment security.

          .section4-elem
            .section4-elem__header-wrapper
              a.icon54-v1-increasing-chart2.mbr-iconfont.mbr-iconfont-features4.wow.fadeInUp(href="#")
              .section4-elem__header-holder
                h5.section4-elem__header.wow.fadeInUp Trade
                h6.section4-elem__sub-header.wow.fadeInUp TRADE AND GET PROFIT
            p.section4-elem__text.wow.fadeInUp Select base asset. Determine whether the price of the asset is higher or lower. Select the size of the investment for the contract you are buying and open a deal. Trade in any browser and mobile device.

          .section4-elem
            .section4-elem__header-wrapper
              a.icon54-v1-financial-care1.mbr-iconfont.mbr-iconfont-features4.wow.fadeInUp(href="#")
              .section4-elem__header-holder
                h5.section4-elem__header.wow.fadeInUp Profit
                h6.section4-elem__sub-header.wow.fadeInUp LEAD YOUR PROFIT
            p.section4-elem__text.wow.fadeInUp Get funds quickly and easily on a bank card, BTC or e-wallet. To obtain funds, you must pass a full verification.
      // /SECTION 4

      // SECTION 5
      .s5-wrapper
        section.section5
        // TradingView Widget BEGIN
        .tradingview-widget-container
          .tradingview-widget-container__widget
          script(type='text/javascript', src='https://s3.tradingview.com/external-embedding/embed-widget-tickers.js', async='').
            {
            "symbols": [
            {
            "title": "S&P 500",
            "proName": "INDEX:SPX"
            },
            {
            "title": "NASDAQ 100",
            "proName": "INDEX:IUXX"
            },
            {
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
            },
            {
            "title": "BTC/USD",
            "proName": "BITFINEX:BTCUSD"
            },
            {
            "title": "ETH/USD",
            "proName": "BITFINEX:ETHUSD"
            }
            ],
            "locale": "ru"
            }
        // TradingView Widget END
      // /SECTION 5

      // SECTION 6
      .s6-wrapper
        section.section6
          h4.section6__header.wow.fadeInUp Choose your TRADING ACCOUNT and start earning today!
          h5.section6__subheader.wow.fadeInUp Trade and earn the world's best assets

          .section6__elems-wrapper

            .section6-elem
              .section6-elem__img.etl-icon.icon-layers.mbr-iconfont-extFeatures2
              h6.section6-elem__name.wow.fadeInUp START
              p.section6-elem__money.wow.fadeInUp 250-4.999
              ul.section6-elem__basic-list
                li.wow.fadeInUp Yield - 50%
                li.wow.fadeInUp MIN deal size - от $5
                li.wow.fadeInUp Margin Requirements - 100%
              ul.section6-elem__bonus-list
                li.wow.fadeInUp -
                li.wow.fadeInUp -
                li.wow.fadeInUp -
                li.wow.fadeInUp -
                li.wow.fadeInUp -
              a.section6-elem__open-account-btn.wow.fadeInUp(href='registration_en.html') open an account

            .section6-elem
              .section6-elem__img.etl-icon.icon-layers.mbr-iconfont-extFeatures2
              h6.section6-elem__name.wow.fadeInUp BUSINESS
              p.section6-elem__money.wow.fadeInUp 5.000-9.999
              ul.section6-elem__basic-list
                li.wow.fadeInUp Yield - 60%
                li.wow.fadeInUp MIN deal size - от $5
                li.wow.fadeInUp Margin Requirements - 100%
              ul.section6-elem__bonus-list
                li.wow.fadeInUp Bonus - 20%
                li.wow.fadeInUp Market Review
                li.wow.fadeInUp -
                li.wow.fadeInUp -
                li.wow.fadeInUp -
              a.section6-elem__open-account-btn.wow.fadeInUp(href='registration_en.html') open an account

            .section6-elem
              .section6-elem__img.etl-icon.icon-layers.mbr-iconfont-extFeatures2
              h6.section6-elem__name.wow.fadeInUp PREMIUM
              p.section6-elem__money.wow.fadeInUp 10.000-49.999
              ul.section6-elem__basic-list
                li.wow.fadeInUp Yield - 75%
                li.wow.fadeInUp MIN deal size - от $5
                li.wow.fadeInUp Margin Requirements - 100%
              ul.section6-elem__bonus-list
                li.wow.fadeInUp Bonus - 30%
                li.wow.fadeInUp Accelerated withdrawal
                li.wow.fadeInUp Trading with an expert
                li.wow.fadeInUp Budget planning
                li.wow.fadeInUp -
              a.section6-elem__open-account-btn.wow.fadeInUp(href='registration_en.html') open an account

            .section6-elem
              .section6-elem__img.etl-icon.icon-layers.mbr-iconfont-extFeatures2
              h6.section6-elem__name.wow.fadeInUp ULTIMATE
              p.section6-elem__money.wow.fadeInUp 50.000 +
              ul.section6-elem__basic-list
                li.wow.fadeInUp Yield - 82%
                li.wow.fadeInUp MIN deal size - от $5
                li.wow.fadeInUp Margin Requirements - 100%
              ul.section6-elem__bonus-list
                li.wow.fadeInUp Bonus - 40%
                li.wow.fadeInUp Accelerated withdrawal
                li.wow.fadeInUp Trading with an expert
                li.wow.fadeInUp Budget planning
                li.wow.fadeInUp Top Level Analyst
              a.section6-elem__open-account-btn.wow.fadeInUp(href='registration_en.html') open an account
      // /SECTION 6

      // SECTION 7
      .s7-wrapper
        section.section7
          .section7__text-wrapper
            h2.section7__header.wow.fadeInUp E-TokensTrade - ready to start trading?
            h6.section7__subheader.wow.fadeInUp
              strong Risk Notification:
              |
              | Trading in financial instruments can lead not only to profit, but also to losses.
          a.section7__btn.wow.fadeInUp(href='registration_en.html') start trading
      // /SECTION 7

      // SECTION 8
      .s8-wrapper
        section.section8
          h1.section8__header.wow.fadeInUp Simple and convenient trading platform
          h6.section8__subheader.wow.fadeInUp With all the necessary functionality for professionals, our trading platform remains understandable even for a beginner.

          .section8__content-wrapper
            .section8__left-column

              .section8__item.section8__item_r
                .section8__item-img-wrapper.section8__item-img-wrapper_r.wow.fadeInUp
                  span.etl-icon.icon-layers.mbr-iconfont-features6
                .section8__item-text-wrapper.section8__item-text-wrapper_r.wow.fadeInUp
                  h5.section8__item-header.wow.fadeInUp Profitable Investment Platform
                  .section8__item-text.wow.fadeInUp For profit there is no need to buy the asset itself. You just need to enter into a deal and make a correct prediction whether the price will rise or fall. The size of the price change is not necessary to determine - only the direction.

              .section8__item.section8__item_r
                .section8__item-img-wrapper.section8__item-img-wrapper_r.wow.fadeInUp
                  span.etl-icon.icon-mobile.mbr-iconfont-features6
                .section8__item-text-wrapper.section8__item-text-wrapper_r.wow.fadeInUp
                  h5.section8__item-header.wow.fadeInUp Global trading platform
                  .section8__item-text.wow.fadeInUp Traders from more than 150 countries trade on the E-TokensTrade platform

            .section8__central-column: img(src="assets/img/platform.jpg", alt="platform.jpg")
            .section8__right-column

              .section8__item
                .section8__item-img-wrapper.wow.fadeInUp
                  span.etl-icon.icon-mobile.mbr-iconfont-features6
                .section8__item-text-wrapper
                  h5.section8__item-header.wow.fadeInUp Platform for any device
                  .section8__item-text.wow.fadeInUp With the mobile version of our platform, you can earn anytime, anywhere. Keep your finger on the pulse: instant information on closing deals, promotions and tournaments.
              .section8__item
                .section8__item-img-wrapper.wow.fadeInUp
                  span.etl-icon.icon-edit.mbr-iconfont-features6
                .section8__item-text-wrapper
                  h5.section8__item-header.wow.fadeInUp Customer service
                  .section8__item-text.wow.fadeInUp If you have any questions regarding recharge or withdrawal of funds, be sure to contact our Company customer support.
      // / SECTION 8

      include assets/BEM-blocks/payment_systems/payment_systems.pug
    // /MAIN SECTION

    // FOOTER
    include assets/BEM-blocks/footer/footer_en.pug
    // /FOOTER

    // scripts
    script(src='assets/libs/fontawesome-all.js')
    script(src='assets/libs/parallax.js')
    script(src="assets/libs/wow.js")
    script.
      new WOW().init();

    // own js
    script(src='assets/js/index.js')
    script(type="text/javascript").
      document.ondragstart = noselect;
      // запрет на перетаскивание
      document.onselectstart = noselect;
      // запрет на выделение элементов страницы
      document.oncontextmenu = noselect;
      // запрет на выведение контекстного меню
      function noselect() {return false;}