/* ↓↓↓ FONTS ↓↓↓ */
@font-face {font-family: ef; src: url(../fonts/ElegantIcons.ttf);}
@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}
@font-face {font-family: reb; src: url(../fonts/Raleway-ExtraBold.ttf);}
@font-face {font-family: rm; src: url(../fonts/Raleway-Medium.ttf);}
@font-face {font-family: rmi; src: url(../fonts/Raleway-Medium-Italic.ttf);}
/* ↑↑↑ /FONTS ↑↑↑ */
