/* ↓↓↓ VARIABLES ↓↓↓ */

$light_grey: rgb(249,249,249);
$grey: rgb(228,228,228);
$grey2: rgb(122,122,122);
$dark_grey: rgb(96,96,96);
$v_dark_grey: rgb(64,64,64);
$turquoise: rgb(0,169,157);

/* ↑↑↑ /VARIABLES ↑↑↑ */