// ↓↓↓ BEM-blocks: info-parlay-result (start) ↓↓↓

.info-parlay-result
  .close-btn.info-parlay-result__close-btn
    .close-btn__line1
    .close-btn__line2
  .info-parlay-result__body
    div.info-parlay-result__body-header
      span.info-parlay-result__short-info Выигрыш
      span.info-parlay-result__amount 300
    span.info-parlay-result__details
      span(style='letter-spacing: 0') ставка:
      |
      |
      span.info-parlay-result__pair-name BTC/ETH
      |
      |
      span.info-parlay-result__parlay 30
      |
      |
      i.fas.fa-angle-double-up
    div.info-parlay-result__price-info
      span цена открытия:
      span#info-parlay-result__startPrice 12345.67890
      span цена закрытия:
      span#info-parlay-result__endPrice 90786.45231



//- style
//-   include info-parlay-result.css
//- script
//-   include ../minjs/popup-iinfo-parlay-result/info-parlay-result.js

// ↑↑↑ BEM-blocks: info-parlay-result (end) ↑↑↑