// ↓↓↓ BEM-blocks: notification_of_risks (start) ↓↓↓

//- style
//-   include notification_of_risks.css

.notification_of_risks3-wrapper
  .notification_of_risks
    span.notification_of_risks__span Notification of risks:
    |  The operations offered by this site can only be carried out by adults (18+) and fully capable persons. Operations with financial instruments offered by this site can be considered as operations with a high level of risk, and their commission can be very risky. In the case of transactions with the proposed site financial instruments, you may incur significant losses of funds invested or even completely lose funds on your trading account. Before making a decision on commencement of transactions with financial instruments on this site, you must familiarize yourself with
    a.notification_of_risks__link(href='terms_and_conditions_en.html')  Terms and conditions
    |  about the provision of services, as well as with
    a.notification_of_risks__link(href='notification_of_risks_en.html')  Notification of risks,
    a.notification_of_risks__link(href='refund_policy_en.html')  Refund policy,
    a.notification_of_risks__link(href='privacy_policy_en.html')  Privacy policy
    |  и
    a.notification_of_risks__link(href='aml_and_kyc_policies_en.html')  AML and KYC policies.

//- script
  include notification_of_risks.js

// ↑↑↑ BEM-blocks: notification_of_risks (end) ↑↑↑