// ↓↓↓ BEM-blocks: slick_money (start) ↓↓↓

style
  include slick_money.css

.slick_money-wrapper
  .slick_money
    .slick_money__slick
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-bitcoin.png' alt='slick-bitcoin.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-dss.png' alt='slick-dss.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-maestro.png' alt='slick-maestro.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-master.png' alt='slick-master.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-qivi.png' alt='slick-qivi.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-visa-mastercard.png' alt='slick-visa-mastercard.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-visa-verif.png' alt='slick-visa-verif.png')
      .slick_money__slick-item: img.slick_money__slick-image(src='assets/img/slick-yandex-money.png' alt='slick-yandex-money.png')

script
  include ../../libs/slick.js
script
  include ../minjs/slick_money/slick_money.js

// ↑↑↑ BEM-blocks: slick_money (end) ↑↑↑