doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='css/libs.min.css')
    // js-libs (font awesome, slick, wow ...)
    script(defer='', src='js/libs.min.js')
    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='js/js.js', defer='')
  body
    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        img(src='img/bg.jpg', alt='img/bg.jpg')
        section.section1
          h1.section-header Подумай о старости…
          p
            | Посмотри на себя.
            br
            | Сейчас ты здоровый, бодрый,
            br
            | с желанием и возможностью работать
            br
            | и зарабатывать на жизнь
            br
            | Но, подумай о будущем.
            br
            | Вероятно, так будет не всегда.
      // /SECTION 1
      // SECTION 2
      .s2-wrapper
        section.section2
          p
            | Иногда нужно задуматься о том, что ждёт тебя через 10 лет.
            br
            | Сможешь ли ты всё так-же тяжело работать?
            br
            | Будешь ли ты востребованным в своей отрасли уже завтра?
            br
            | Позаботься о надежном источнике пассивного дохода
            br
            | Будь уверен в своём будущем.
          button#btn хочу обеспечить старость!
      // /SECTION 2
      // SECTION 3
      .s3-wrapper
        section.section3
          .left-col
            p
              | Мы не предлагаем тебе тайных схем с миллионным заработком. Наша репутация и имя - самое важное и дорогое, что у нас есть.
            p
              | Мы - один из самых дорогих и прогрессирующих стартапов на рынке. Мы работаем на увеличение количества успешных сделок, совершенных нашей программой.
            p
              | Всё просто. Мы не будем загружать тебя непонятными терминами, действиями, процессами. У нас есть выработанный алгоритм действий. Просто бери и делай. Прямо сейчас!
            p
              | Готов убедиться? Наш продукт проверен и протестирован людьми разных возрастов, профессий, и типов мышлений. КАЖДЫЙ может это повторить.
            p
              | Команда настоящих профессионалов. Собранные из разных сфер деятельности, вместе мы составляем ведущую силу компании.
          .right-col
            form.form(name='form', action='ac.php', method='post', enctype='multipart/form-data', autocomplete='off')
              h4.form__header Получите бесплатную консультацию и возможность обеспечить старость
              input.form__fname(type='text', name='Fname', placeholder='имя', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
              input.form__lname(type='text', name='Lname', placeholder='фамилия', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
              input.DateTimeId(name='DateTime', type='hidden')
              select.form-control.form__code(name='Code2', required='')
                option(value='') Код
                option(value='+7') Россия +7
                option(value='+7') Казахстан +7
                option(value='+375') Беларусь +375
                option(value='+371') Латвия +371
                option(value='+370') Литва +370
                option(value='+372') Эстония +372
                option(value='+49') Германия +49
                option(value='+61') Австралия +61
                option(value='+43') Австрия +43
                option(value='+994') Азербайджан +994
                option(value='+355') Албания +355
                option(value='+54') Аргентина +54
                option(value='+374') Армения +374
                option(value='+32') Бельгия +32
                option(value='+359') Болгария +359
                option(value='+387') Босния и Герцеговина +387
                option(value='+55') Бразилия +55
                option(value='+44') Великобритания +44
                option(value='+36') Венгрия +36
                option(value='+84') Вьетнам +84
                option(value='+852') Гонконг (КНР) +852
                option(value='+30') Греция +30
                option(value='+995') Грузия +995
                option(value='+45') Дания +45
                option(value='+1767') Доминика +1767
                option(value='+1809') Доминиканская Республика +1809
                option(value='+20') Египет +20
                option(value='+972') Израиль +972
                option(value='+91') Индия +91
                option(value='+62') Индонезия +62
                option(value='+962') Иордания +962
                option(value='+353') Ирландия +353
                option(value='+354') Исландия +354
                option(value='+34') Испания +34
                option(value='+39') Италия +39
                option(value='+1') Канада +1
                option(value='+357') Кипр +357
                option(value='+996') Киргизия +996
                option(value='+88') Тайвань +88
                option(value='+86') КНР +86
                option(value='+506') Коста-Рика +506
                option(value='+53') Куба +53
                option(value='+965') Кувейт +965
                option(value='+423') Лихтенштейн +423
                option(value='+352') Люксембург +352
                option(value='+389') Македония +389
                option(value='+60') Малайзия +60
                option(value='+223') Мали +223
                option(value='+356') Мальта +356
                option(value='+212') Марокко +212
                option(value='+52') Мексика +52
                option(value='+373') Молдова +373
                option(value='+377') Монако +377
                option(value='+31') Нидерланды +31
                option(value='+64') Новая Зеландия +64
                option(value='+47') Норвегия +47
                option(value='+971') ОАЭ +971
                option(value='+48') Польша +48
                option(value='+351') Португалия +351
                option(value='+82') Корея +82
                option(value='+40') Румыния +40
                option(value='+381') Сербия +381
                option(value='+65') Сингапур +65
                option(value='+421') Словакия +421
                option(value='+986') Словения +986
                option(value='+1') США +1
                option(value='+992') Таджикистан +992
                option(value='+66') Таиланд +66
                option(value='+993') Туркмения +993
                option(value='+90') Турция +90
                option(value='+998') Узбекистан +998
                option(value='+38') Украина +38
                option(value='+358') Финляндия +358
                option(value='+33') Франция +33
                option(value='+358') Хорватия +358
                option(value='+382') Черногория +382
                option(value='+420') Чехия +420
                option(value='+41') Швейцария +41
                option(value='+46') Швеция +46
                option(value='+81') Япония +81
              input.form__phone(type='text', name='Phone', placeholder='телефон', required='', autocomplete='off', pattern='^[0-9]+$', minlength='9')
              input.form__email(type='email', name='Email', placeholder='E-mail', required='', autocomplete='off', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$', maxlength='40')
              button.form__btn(type='submit', name='add') Отправить заявку
              p.form__info
                | заполняя данную форму Вы соглашаетесь с 
                span.form__private политикой конфиденциальности
      // /SECTION 3
      // /popups
      .popup__cover
        .popup__massage
          .popup__text Это Ваш последний шанс изменить жизнь к лучшему!
          form.popup-form.popup-form1(action='ac.php', method='post', enctype='multipart/form-data', autocomplete='off', name='form')
            h4.popup-form__header заявка на консультацию
            input.popup-form__fname(type='text', name='Fname', placeholder='имя', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
            input.popup-form__lname(type='text', name='Lname', placeholder='фамилия', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
            input.DateTimeId(name='DateTime', type='hidden')
            select.form-control.popup-form__code(name='Code2', required='')
              option(value='') Код
              option(value='+7') Россия +7
              option(value='+7') Казахстан +7
              option(value='+375') Беларусь +375
              option(value='+371') Латвия +371
              option(value='+370') Литва +370
              option(value='+372') Эстония +372
              option(value='+49') Германия +49
              option(value='+61') Австралия +61
              option(value='+43') Австрия +43
              option(value='+994') Азербайджан +994
              option(value='+355') Албания +355
              option(value='+54') Аргентина +54
              option(value='+374') Армения +374
              option(value='+32') Бельгия +32
              option(value='+359') Болгария +359
              option(value='+387') Босния и Герцеговина +387
              option(value='+55') Бразилия +55
              option(value='+44') Великобритания +44
              option(value='+36') Венгрия +36
              option(value='+84') Вьетнам +84
              option(value='+852') Гонконг (КНР) +852
              option(value='+30') Греция +30
              option(value='+995') Грузия +995
              option(value='+45') Дания +45
              option(value='+1767') Доминика +1767
              option(value='+1809') Доминиканская Республика +1809
              option(value='+20') Египет +20
              option(value='+972') Израиль +972
              option(value='+91') Индия +91
              option(value='+62') Индонезия +62
              option(value='+962') Иордания +962
              option(value='+353') Ирландия +353
              option(value='+354') Исландия +354
              option(value='+34') Испания +34
              option(value='+39') Италия +39
              option(value='+1') Канада +1
              option(value='+357') Кипр +357
              option(value='+996') Киргизия +996
              option(value='+88') Тайвань +88
              option(value='+86') КНР +86
              option(value='+506') Коста-Рика +506
              option(value='+53') Куба +53
              option(value='+965') Кувейт +965
              option(value='+423') Лихтенштейн +423
              option(value='+352') Люксембург +352
              option(value='+389') Македония +389
              option(value='+60') Малайзия +60
              option(value='+223') Мали +223
              option(value='+356') Мальта +356
              option(value='+212') Марокко +212
              option(value='+52') Мексика +52
              option(value='+373') Молдова +373
              option(value='+377') Монако +377
              option(value='+31') Нидерланды +31
              option(value='+64') Новая Зеландия +64
              option(value='+47') Норвегия +47
              option(value='+971') ОАЭ +971
              option(value='+48') Польша +48
              option(value='+351') Португалия +351
              option(value='+82') Корея +82
              option(value='+40') Румыния +40
              option(value='+381') Сербия +381
              option(value='+65') Сингапур +65
              option(value='+421') Словакия +421
              option(value='+986') Словения +986
              option(value='+1') США +1
              option(value='+992') Таджикистан +992
              option(value='+66') Таиланд +66
              option(value='+993') Туркмения +993
              option(value='+90') Турция +90
              option(value='+998') Узбекистан +998
              option(value='+38') Украина +38
              option(value='+358') Финляндия +358
              option(value='+33') Франция +33
              option(value='+358') Хорватия +358
              option(value='+382') Черногория +382
              option(value='+420') Чехия +420
              option(value='+41') Швейцария +41
              option(value='+46') Швеция +46
              option(value='+81') Япония +81
            input.popup-form__phone(type='text', name='Phone', placeholder='телефон', required='', autocomplete='off', pattern='^[0-9]+$', minlength='9')
            input.popup-form__email(type='email', name='Email', placeholder='E-mail', required='', autocomplete='off', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$', maxlength='30')
            button.popup__btn.popup1__btn(type='submit', name='add') отправить заявку
            p.popup-form__info
              | заполняя данную форму Вы соглашаетесь с 
              span.form__private политикой конфиденциальности
          button.close_btn
            i.fas.fa-times
      .popup2__cover
        .popup2__massage
          form.popup-form.popup-form2(action='ac.php', method='post', enctype='multipart/form-data', autocomplete='off', name='form')
            h4.popup-form__header заявка на консультацию
            input.popup-form__fname(type='text', name='Fname', placeholder='имя', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
            input.popup-form__lname(type='text', name='Lname', placeholder='фамилия', required='', autocomplete='off', pattern='^[A-Za-zА-Яа-яЁёs]+$', maxlength='20')
            input.DateTimeId(name='DateTime', type='hidden')
            select.form-control.popup-form__code(name='Code2', required='')
              option(value='') Код
              option(value='+7') Россия +7
              option(value='+7') Казахстан +7
              option(value='+375') Беларусь +375
              option(value='+371') Латвия +371
              option(value='+370') Литва +370
              option(value='+372') Эстония +372
              option(value='+49') Германия +49
              option(value='+61') Австралия +61
              option(value='+43') Австрия +43
              option(value='+994') Азербайджан +994
              option(value='+355') Албания +355
              option(value='+54') Аргентина +54
              option(value='+374') Армения +374
              option(value='+32') Бельгия +32
              option(value='+359') Болгария +359
              option(value='+387') Босния и Герцеговина +387
              option(value='+55') Бразилия +55
              option(value='+44') Великобритания +44
              option(value='+36') Венгрия +36
              option(value='+84') Вьетнам +84
              option(value='+852') Гонконг (КНР) +852
              option(value='+30') Греция +30
              option(value='+995') Грузия +995
              option(value='+45') Дания +45
              option(value='+1767') Доминика +1767
              option(value='+1809') Доминиканская Республика +1809
              option(value='+20') Египет +20
              option(value='+972') Израиль +972
              option(value='+91') Индия +91
              option(value='+62') Индонезия +62
              option(value='+962') Иордания +962
              option(value='+353') Ирландия +353
              option(value='+354') Исландия +354
              option(value='+34') Испания +34
              option(value='+39') Италия +39
              option(value='+1') Канада +1
              option(value='+357') Кипр +357
              option(value='+996') Киргизия +996
              option(value='+88') Тайвань +88
              option(value='+86') КНР +86
              option(value='+506') Коста-Рика +506
              option(value='+53') Куба +53
              option(value='+965') Кувейт +965
              option(value='+423') Лихтенштейн +423
              option(value='+352') Люксембург +352
              option(value='+389') Македония +389
              option(value='+60') Малайзия +60
              option(value='+223') Мали +223
              option(value='+356') Мальта +356
              option(value='+212') Марокко +212
              option(value='+52') Мексика +52
              option(value='+373') Молдова +373
              option(value='+377') Монако +377
              option(value='+31') Нидерланды +31
              option(value='+64') Новая Зеландия +64
              option(value='+47') Норвегия +47
              option(value='+971') ОАЭ +971
              option(value='+48') Польша +48
              option(value='+351') Португалия +351
              option(value='+82') Корея +82
              option(value='+40') Румыния +40
              option(value='+381') Сербия +381
              option(value='+65') Сингапур +65
              option(value='+421') Словакия +421
              option(value='+986') Словения +986
              option(value='+1') США +1
              option(value='+992') Таджикистан +992
              option(value='+66') Таиланд +66
              option(value='+993') Туркмения +993
              option(value='+90') Турция +90
              option(value='+998') Узбекистан +998
              option(value='+38') Украина +38
              option(value='+358') Финляндия +358
              option(value='+33') Франция +33
              option(value='+358') Хорватия +358
              option(value='+382') Черногория +382
              option(value='+420') Чехия +420
              option(value='+41') Швейцария +41
              option(value='+46') Швеция +46
              option(value='+81') Япония +81
            input.popup-form__phone(type='text', name='Phone', placeholder='телефон', required='', autocomplete='off', pattern='^[0-9]+$', minlength='9')
            input.popup-form__email(type='email', name='Email', placeholder='E-mail', required='', autocomplete='off', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$', maxlength='30')
            button.popup__btn.popup2__btn(type='submit', name='add') отправить заявку
            p.popup-form__info
              | заполняя данную форму Вы соглашаетесь с 
              span.form__private политикой конфиденциальности
          button.close_btn
            i.fas.fa-times
      .politics-cover
        .private-politics
          h5.private-politics__header Политика конфиденциальности
          p.private-politics__text
            | Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы Ваша работа в Интернет по возможности была максимально приятной и полезной, и Вы совершенно спокойно использовали широчайший спектр информации, инструментов и возможностей, которые предлагает Интернет. Личная информация, собранная при регистрации (или в любое другое время) преимущественно используется для подготовки коммерческого предложения по сотрудничеству в соответствии с Вашими потребностями. Ваша информация не будет передана или продана третьим сторонам.
          h5.private-politics__header Какие данные собираются на сайте
          p.private-politics__text
            | При добровольной регистрации на получение доступа к Бизнес Модели вы отправляете свое Имя, E-mail и Телефон через форму регистрации.
          h5.private-politics__header С какой целью собираются эти данные
          p.private-politics__text
            | Имя используется для обращения лично к вам, а ваш e-mail и телефон для связи с вами и направления запрошенной вами информации. Мы не используем ваш e-mail для рассылки писем, спама и коммерческих предложений. Ваши имя, номер телефона и e-mail не передаются третьим лицам, ни при каких условиях.
          p.private-politics__text
            | На этом сайте используются куки (Cookies) и данные о посетителях сервиса Yandex Metrika и Google Analytics При помощи этих сервисов собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей. Вы можете в любой момент изменить настройки своего браузера так, чтобы браузер блокировал все файлы cookie или оповещал об отправке этих файлов. Учтите при этом, что некоторые функции и сервисы не смогут работать должным образом.
          h5.private-politics__header Как эти данные защищаются
          p.private-politics__text
            | Для защиты Вашей личной информации мы используем разнообразные административные, управленческие и технические меры безопасности. Мы придерживаемся различных международных стандартов контроля, направленных на операции с личной информацией, которые включают определенные меры контроля по защите информации, собранной в Интернет. Тем не менее, несмотря на то, что мы стремимся обезопасить Вашу личную информацию, Вы тоже должны принимать меры, чтобы защитить ее. Мы настоятельно рекомендуем Вам принимать все возможные меры предосторожности во время пребывания в Интернете. Организованные нами услуги и веб-сайты предусматривают меры по защите от утечки, несанкционированного использования и изменения информации, которую мы контролируем. Несмотря на то, что мы делаем все возможное, чтобы обеспечить целостность и безопасность своей сети и систем, мы не можем гарантировать, что наши меры безопасности предотвратят незаконный доступ к этой информации хакеров сторонних организаций.
          button.private-politics__close_btn.private-politics__close_btn1
            i.fas.fa-times
          button.private-politics__close_btn.private-politics__close_btn2 Спасибо, все понятно
    .call-us-btn-wrapper
      include BEM-blocks/call-us-btn/call-us-btn.pug
      // /popups
    // /MAIN SECTION
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116595491-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116595491-3');
