// ↓↓↓ BEM-blocks: message-to-mentor (start) ↓↓↓

.message__wrapper.message-to-mentor__positioning-wrapper
  .message__holder.message-to-mentor__holder
    .message.message-to-mentor
      .close-btn.message-to-mentor__close-btn
        .close-btn__line1
        .close-btn__line2
      h5.message-to-mentor__header Написать сообщение администрации
      form.message-to-mentor__form(action='#' method='#' name='message-to-mentor')
        input.message-to-mentor__subject(type='text' placeholder='тема')
        textarea.message-to-mentor__text(placeholder='сообщение')
        .validation-warning.message__validation-warning.message-to-mentor__validation-warning Напишите сообщение!
        button(type='button').popup-ok-btn.message__btn.message-to-mentor__btn отправить

//- style
//-   include message-to-mentor.css
//- script
//-   include ../minjs/popup-message-to-mentor/message-to-mentor.js

// ↑↑↑ BEM-blocks: message-to-mentor (end) ↑↑↑