// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓

style
  include language_switcher.css

.language-switcher
  img.language-switcher__img(src="assets/img/lang-ru.png", alt="lang-ru.png")
  img.language-switcher__img(src="assets/img/lang-en.png", alt="lang-en.png")
  a.language-switcher__shutter(href='#')
  a.language-switcher__shutter2(href='#')

script
  include ../minjs/language_switcher/language_switcher.js

// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑