* {
  outline: none;
}

.client-card {
  font-family: rcb;
  font-size: 24px;
  line-height: 2em;
}

.client-menu,
.client-info,
.client-note,
.client-wrap {
  font: 16px rcl;
  width: 100%;
  margin: 20px auto;
  border: 1px solid grey;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #fff;
  padding: 15px;
}

.client-menu {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr);
  grid-column-gap: 10px;
  position: relative;
  height: 67px;
}

.client-menu__go-out-btn {
  outline: none;
  cursor: pointer;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid grey;
}

.client-menu__go-out-btn-sumbol-wrapper {
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.client-menu__dropdown {
  position: relative;
}

.client-menu__dropdown-btn {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  position: relative;
  border: 1px solid grey;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.client-menu__dropdown-btn:hover {
  background-color: rgba(30, 144, 255, 0.2);
}

.client-menu__dropdown-btn-left {
  position: absolute;
  z-index: 1111;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.client-menu__dropdown-btn-right {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.client-menu__dropdown-options-holder {
  position: relative;
  z-index: 1122;
  left: 0px;
  width: 100%;
  border: 1px solid grey;
  height: 0;
  overflow: hidden;
  display: none;
  background-color: white;
  margin-top: 2px;
}

.client-menu__dropdown-options-holder a {
  display: block;
  width: 100%;
  padding: 4px 12px;
  border-bottom: 1px solid grey;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.client-menu__dropdown-options-holder a:hover {
  background-color: rgba(30, 144, 255, 0.2);
}

.client-menu__dropdown-options-holder li:last-of-type a {
  border-bottom: none;
}

.client-info__1-wrapper {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.client-info__name {
  min-width: 200px;
  margin-right: 10px;
}

.client-info__id > span {
  font-family: rb;
}

.client-info__onoff-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.client-info__onoff-img {
  width: 24px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 10px;
}

.client-info__onoff {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.client-info__money {
  height: 40px;
  line-height: 40px;
  font-family: rb;
  font-size: 2.7rem;
  color: green;
}

.client-info__1-wrapper-2 {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}

.client-info__1-wrapper-2 span:nth-of-type(even) {
  font-family: rb;
}

.client-info__1-btns {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.client-info__1-btns form {
  border: 1px solid grey;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.client-info__1-btns form input {
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.client-info__1-btn {
  height: 30px;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10px;
}

.client-info__2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.client-info__column-header {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.client-info__value-wrapper {
  display: block;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 6px;
}

.client-info__value-name {
  display: inline-block;
  min-width: 80px;
}

.client-info__value {
  color: DodgerBlue;
}

.client-note__new-note-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.client-note__table {
  font-size: 14px;
  width: 100%;
  border: 1px solid grey;
}

.client-note__table th {
  font-family: rb;
  background-color: lightgrey;
  text-align: left;
  height: 30px;
  line-height: 30px;
}

.client-note__table th,
.client-note__table td {
  padding: 6px;
}

.client-note__table tr {
  height: 30px;
  line-height: 30px;
}

.client-note__table tr:nth-of-type(even) {
  background-color: #e6e6e6;
}

.client-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.client-small-cards {
  padding: 10px;
  border: 1px solid grey;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.client-small-cards__header {
  font-family: rb;
  padding: 6px;
  position: relative;
}

.client-small-cards__btn {
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.client-small-cards__table {
  font-size: 14px;
  width: 100%;
}

.client-small-cards__table th {
  background-color: lightgrey;
  text-align: left;
}

.client-small-cards__table th,
.client-small-cards__table td {
  padding: 6px;
}

.client-small-cards__table tr:hover {
  background-color: #e6e6e6;
}

.table-doublewrapper {
  height: 186px;
  overflow: hidden;
  position: relative;
}

.table-wrapper {
  height: 186px;
  width: -webkit-calc( 100% + 20px);
  width: calc( 100% + 20px);
  overflow: auto;
}
