@media only screen and (min-width: 320px) {

  .form-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .section-left {
      width: 100%;
      height: 100%;
      padding: 0 30px;
      .section-header {
        font-family: rl;
        font-size: 40px;
      }
      p {
        font-family: rl;
        font-size: 12px;
        line-height: 1.5em;
        color: grey;
      }
      input[type='text'] {
        display: block;
        width: 100%;
        height: 40px;
        margin: 10px auto;
        padding: 0 40px 0 10px;
        font-family: rl;
        font-size: 16px;
        border: 1px solid lightgrey;
      }
      button[type='submit'] {
        display: inline-block;
        margin: 10px 0 10px 50%;
        width: 50%;
        height: 40px;
        cursor: pointer;
        background-color: #2987c9;
        border: none;
        font-family: rm;
        font-size: 14px;
        color: white;
        border-radius: 6px;
        transition: background-color .5s;
        &:hover {
          background-color: #0967a9;
        }
      }
    }
    .section-right {
      width: 100%;
      padding: 15px 30px;
      text-align: center;
      .section-header {
        font-family: rl;
        font-size: 24px;
      }
      .create-acc {
        display: block;
        margin: 30px auto;
        width: 100%;
        height: 70px;
        line-height: 70px;
        border-radius: 6px;
        background-color: #23cd45;
        font-family: rm;
        font-size: 22px;
        color: white;
        transition: background-color .5s;
        &:hover {
          background-color: #03ad25;
        }
      }
      span{
        font-family: rm;
        color: grey;
        .try-acc {
          font-family: rl;
          font-size: 12px;
          text-decoration: underline;
          color: grey;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}