// @import "variables";
@import "fonts";
@import "style_general";

main {
	min-height: 100vh;
	padding-bottom: 0px;
}
.section1__offering-item:nth-of-type(1) {
	animation-delay: 1.0s;
}
.section1__offering-item:nth-of-type(2) {
	animation-delay: 1.2s;
}
.section1__offering-item:nth-of-type(3) {
	animation-delay: 1.4s;
}
.section1__offering-item:nth-of-type(4) {
	animation-delay: 1.6s;
}

@import "index/index_320+";
@import "index/index_576+";
@import "index/index_768+";
@import "index/index_992+";
@import "index/index_1200+";

//BEM-blocks
// @import "../BEM-blocks/header/header.scss";
// @import "../BEM-blocks/footer/footer.scss";
// @import "../BEM-blocks/slick_money/slick_money.scss";
// @import "../BEM-blocks/notification_of_risks/notification_of_risks.scss";
// @import "../BEM-blocks/language_switcher/language_switcher.scss";
// @import "../BEM-blocks/menu-btn/menu-btn.scss";