// ↓↓↓ BEM-blocks: popup-message (start) ↓↓↓

.popup.popup_right-bottom#popupId3
  h5.popup__header message header
  p.popup-message__subject subject
  .popup-message__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque suscipit inventore saepe, minus ducimus culpa laborum excepturi! Odit dolorum accusamus numquam, iste tempore cum necessitatibus, adipisci nam earum maxime recusandae!

  .popup__btns-wrapper
    button.popup__btn ok
    button.popup__btn.popup__btn_cls close

//style
  include popup-message.css
//script
  include ../minjs/popup-message/popup-message.js

// ↑↑↑ BEM-blocks: popup-message (end) ↑↑↑