// ↓↓↓ BEM-blocks: popup-form (start) ↓↓↓

.popup.popup_center#popupId1
  h5.popup__header form header
  form.popup-form
    .popup-form__elems-wrapper
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input nameeeeeee
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input nameeeeeeeee
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
      label.popup-form__label(for='inputId1') input name
      input.popup-form__input(id='inputId1' placeholder='some placeholder')
    .popup__btns-wrapper
      button.popup__btn ok
      button.popup__btn.popup__btn_cls close

//style
  include popup-form.css
//script
  include ../minjs/popup-form/popup-form.js

// ↑↑↑ BEM-blocks: popup-form (end) ↑↑↑